<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
         point="org.eclipse.ui.commands">
         <command
            id="org.unicase.trace.findCodeLocation"
            name="Go to the code location">
      </command>
  
  </extension>
  
<extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.unicase.trace.findCodeLocation"
            class="org.unicase.codetrace.handlers.FindCodeLocationHandler">
      </handler>
   </extension>

<extension 
		point="org.eclipse.core.resources.markers"
		id="org.unicase.codetrace.locationmarker"
		name="Unicase Code Location Marker">
    	<super type="org.eclipse.core.resources.marker"/>
    	<persistent value="true"/>
     <attribute
           name="modelElementId">
     </attribute>
</extension>

<extension 
	point= "org.eclipse.ui.ide.markerImageProviders">
	<imageprovider 
		markertype= "org.unicase.codetrace.locationmarker"
		icon= "icons/unicase.png"
		id= "org.unicase.codetrace.locationmarkerimageprovider" >
	</imageprovider>

</extension>



   <extension
         point="org.eclipse.ui.popupMenus">
      
      
      <viewerContribution
      		id="org.eclipse.jdt.debug.ui.CompilationUnitRulerPopupActions"
      		targetID="#CompilationUnitRulerContext">
      	<action
      		class="org.unicase.codetrace.popup.actions.AttachCodeLocationActionDelegate"
    		id="org.unicase.codetrace.action1"
   			label="Link Source Code to Unicase"
   	 		icon="icons/unicase.png"
   			menubarPath="additions" >
  		</action>
	</viewerContribution>
	
  <viewerContribution
        id="org.eclipse.jdt.debug.ui.CompilationUnitRulerPopupActions"
        targetID="#CompilationUnitRulerContext">
     <action
           class="org.unicase.codetrace.popup.actions.JumpToCodeLocationActionDelegate"
           icon="icons/unicase.png"
           id="org.unicase.codetrace.jumpToCodeLocationAction"
           label="Jump to associated code location"
           menubarPath="additions">
     </action>
  </viewerContribution>
	
   </extension>
   
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.unicase.model.trace.provider.TraceItemProviderAdapterFactory"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource"
            uri="http://unicase.org/model/codetrace">
      </factory>
   </extension>

  
    <extension
        point="org.eclipse.emf.ecore.generated_package">
     <package
           class="org.unicase.model.trace.TracePackage"
           genModel="model/tracemodel.genmodel"
           uri="http://unicase.org/model/codetrace">
     </package>
  </extension>
  
   <extension
	point="org.eclipse.ui.menus">
    <menuContribution
           locationURI="popup:org.unicase.ui.navigator.viewer?after=additions">	
        <separator
              name="org.unicase.ui.common.commands.annotateActionItemSeperator"
              visible="true">
      	 </separator>
       <command
             commandId="org.unicase.trace.findCodeLocation"
             icon="icons/page_go.png"
             label="Go to the code location"
             style="push">
	       <visibleWhen
	             checkEnabled="false">
	          <iterate
	                ifEmpty="false">
	             <instanceof
	                   value="org.unicase.model.trace.CodeLocation">
	             </instanceof>
	          </iterate>
	       </visibleWhen>
    	</command>
        
     </menuContribution>
    <menuContribution
          locationURI="toolbar:org.unicase.ui.meeditor.MEEditorPage?after=org.unicase.ui.common.deleteModelElement">
       <command
             commandId="org.unicase.trace.findCodeLocation"
             icon="icons/page_go.png"
             label="Go to the code location"
             tooltip="Go to the code location">
       </command>
    </menuContribution>

     </extension>
   <extension
         point="org.unicase.ui.meeditor.melinkcontrols">
      <widget
            class="org.unicase.codetrace.handlers.MEFindLocationControl"
            name="org.unicase.trace.widget1"
            type="org.unicase.metamodel.ModelElement">
      </widget>
   </extension>
  
   <extension
         point="org.unicase.ui.common.modelelementopener">
         <ModelElementOpener
               class="org.unicase.codetrace.handlers.LineHashOpener"
               name="org.unicase.trace.LineHashOpener">
         </ModelElementOpener>
   </extension>
  
  
</plugin>
