<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.unicase.ui.validation.refactoring.strategies">
    <refactoringStrategy
          applicableFor="org.unicase.model.task.ActionItemActivity"
          strategy="org.unicase.ui.refactoring.strategies.impl.ActivityNotSetRefactoringStrategy">
    </refactoringStrategy>
    <refactoringStrategy
          applicableFor="org.unicase.model.task.ActionItemAssignee"
          strategy="org.unicase.ui.refactoring.strategies.impl.AssigneMissingRefactoringStrategy">
    </refactoringStrategy>
    <refactoringStrategy
          applicableFor="org.unicase.model.task.validation.ActionItemEmbodiesRequirementConstraint"
          strategy="org.unicase.ui.refactoring.strategies.impl.AIEmbodiesFRRefactoringStrategy">
    </refactoringStrategy>
    <refactoringStrategy
          applicableFor="org.unicase.model.task.validation.DiscussionInIssueConstraint"
          strategy="org.unicase.ui.refactoring.strategies.impl.DiscussionIntoIssueRefactoringStrategy">
    </refactoringStrategy>
    <refactoringStrategy
          applicableFor="org.unicase.model.ModelElementNewName"
          strategy="org.unicase.ui.refactoring.strategies.impl.MENewNameRefactoringStrategy">
    </refactoringStrategy>
    <refactoringStrategy
          applicableFor="org.unicase.model.task.ActionItemAnnotated"
          strategy="org.unicase.ui.refactoring.strategies.impl.ActionItemNotAnnotatedRefactoringStrategy">
    </refactoringStrategy>
 </extension>
</plugin>
