<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.unicase.ui.meeditor.attributecontrols" name="org.unicase.ui.meeditor.attributecontrols" schema="schema/org.unicase.ui.meeditor.attributecontrol.exsd"/>
   <extension-point id="org.unicase.ui.meeditor.referencecontrols" name="org.unicase.ui.meeditor.referencecontrols" schema="schema/org.unicase.ui.meeditor.referencecontrol.exsd"/>
   <extension-point id="org.unicase.ui.meeditor.pages" name="org.unicase.ui.meeditor.pages" schema="schema/org.unicase.ui.meeditor.pages.exsd"/>
   <extension-point id="org.unicase.ui.meeditor.melinkcontrols" name="org.unicase.ui.meeditor.melinkcontrols" schema="schema/org.unicase.ui.meeditor.melinkcontrol.exsd"/>
   <extension-point id="org.unicase.ui.meeditor.statusmessage" name="Status Message" schema="schema/org.unicase.ui.meeditor.statusmessage.exsd"/>
   <extension
         point="org.unicase.ui.meeditor.attributecontrols">
      <widget
            class="org.unicase.ui.meeditor.mecontrols.MEBoolControl"
            name="org.unicase.ui.meeditor.meboolcontrol"
            showLabel="true"
            type="java.lang.Boolean">
      </widget>
      <widget
            class="org.unicase.ui.meeditor.mecontrols.MEIntControl"
            name="org.unicase.ui.meeditor.meintcontrol"
            showLabel="true"
            type="java.lang.Integer">
      </widget>
      <widget
            class="org.unicase.ui.meeditor.mecontrols.MEDateControl"
            name="org.unicase.ui.meeditor.medatecontrol"
            showLabel="true"
            type="java.util.Date">
      </widget>
      <widget
            class="org.unicase.ui.meeditor.mecontrols.MEEnumControl"
            name="org.unicase.ui.meeditor.meenumcontrol"
            showLabel="true"
            type="java.lang.Enum">
      </widget>
      <widget
            class="org.unicase.ui.meeditor.mecontrols.MERichTextControl"
            name="org.unicase.ui.meeditor.merichtextcontrol"
            showLabel="true"
            type="java.lang.String">
      </widget>
      <widget
            class="org.unicase.ui.meeditor.mecontrols.METextControl"
            name="org.unicase.ui.meeditor.metextcontrol"
            showLabel="true"
            type="java.lang.String">
      </widget>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ui.meeditor.commands.OpenModelElementHandler"
            id="org.unicase.ui.meeditor.openModelElement"
            name="OpenModelElement">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.unicase.ui.meeditor.MEEditor"
            default="false"
            id="org.unicase.ui.meeditor"
            name="Model Element Editor">
      </editor>
   </extension>
   <extension
         point="org.unicase.ui.meeditor.referencecontrols">
      <widget
            class="org.unicase.ui.meeditor.mecontrols.melinkcontrol.MESingleLinkControl"
            name="org.unicase.ui.meeditor.mesinglelinkcontrol"
            showLabel="true"
            type="org.unicase.metamodel.ModelElement">
      </widget>
      <widget
            class="org.unicase.ui.meeditor.mecontrols.melinkcontrol.MEMultiLinkControl"
            name="org.unicase.ui.meeditor.memultilinkcontrol"
            showLabel="false"
            type="org.unicase.metamodel.ModelElement">
      </widget>
   </extension>
</plugin>
