<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      <extension
         point="org.unicase.ui.meeditor.attributecontrols">
      <widget
            class="org.unicase.ui.spellcheck.controls.MESpellcheckRichTextControl"
            name="org.unicase.ui.spellcheck.spellcheckrichtextcontrol"
            showLabel="true"
            type="java.lang.String">
      </widget>
      <widget
            class="org.unicase.ui.spellcheck.controls.MESpellcheckTextControl"
            name="org.unicase.ui.spellcheck.spellchecktextcontrol"
            showLabel="true"
            type="java.lang.String">
      </widget>
   </extension>
   
      <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.unicase.ui.spellcheck.Startup"></startup>
   </extension>
      <extension
            point="org.unicase.ui.meeditor.pages">
         <page
               class="org.unicase.ui.spellcheck.MESpellcheckDescriptionPage"
               name="org.unicase.ui.spellcheck.spellcheckdescriptionpage"
               replace="org.unicase.ui.unicasecommon.meeditor.descriptionpage">
         </page>
      </extension>

</plugin>
