<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="EMFstore">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.tptp.platform.commons.logging.feature.group" version="4.4.100.v200912101900-2-37w311A1517336A"/>
<unit id="org.eclipse.tptp.platform.jakarta.log4j.feature.group" version="4.4.100.v200912101900-217C7w311A14183138"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.3.200.R35x_v20090724-7M-FneFF9aMTyz0pw04ONXn"/>
<unit id="org.eclipse.sdk.feature.group" version="3.5.1.R35x_v20090811-7Q7bAIBPVUBVbKSMTyyfpOteKTem7_g2paS1__z-Rrmf4"/>
<unit id="org.eclipse.sdk.ide" version="3.5.1.M20090917-0800"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.5.0.v200906151043"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.5.1.R35x_v20090811-7sF9-FRFFR1En_CEJqJkQv5n3BB7"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.5.1.R35x_v20090811-8q7BGDeG9lvdam1k4a8lAK-7PD93"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.5.1.r351_v20090901-7G7MAA7lQiEeE7LKsaYgOK58fdAa"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.5.1.v20090724-1146-7G7O2A5WNWaQLaPUaUkgjJfXcQKM"/>
<unit id="org.eclipse.gmf.sdk.feature.group" version="2.2.1.v20090814-1000-7C7F1BLxlfAqjMDHunFV5S-_YY-Q"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="edu.tum.cs.cope.runtime.feature.feature.group" version="0.2.2"/>
<repository location="http://unicase.googlecode.com/svn/updatesite/internal/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.5.1.M20090917-0800"/>
<unit id="org.eclipse.sdk.feature.group" version="3.5.1.R35x_v20090811-7Q7bAIBPVUBVbKSMTyyfpOteKTem7_g2paS1__z-Rrmf4"/>
<unit id="org.eclipse.gmf.feature.group" version="1.2.1.v20090729-2029-7d8D7CFXwnKwGb_GGuSCBqELpPk0"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location path="/home/unicase/Desktop/delta-pack/eclipse/plugins" type="Directory"/>
<location path="/home/unicase/Desktop/eclipsemodelling" type="Directory"/>
</locations>
</target>
