<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.5"?>

<target name="New Target">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.3.201.R35x_v20091211-7M-FngFELSU3Pqlv3JdZn"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.5.2.M20100211-1343"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
</locations>
</target>
