<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="org.unicase.rap.ui.start.Perspective"
            id="org.unicase.rap.ui.start.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.unicase.ui.navigator.TreeView"
            id="org.unicase.ui.navigator.viewer"
            name="Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.unicase.rap.ui.start.Application"
            id="unicase"
            parameter="unicase">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="Show View"
               label="Show View"
               tooltip="Show View">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  id="Navigator"
                  label="Navigator"
                  style="push"
                  tooltip="Navigator">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.unicase.ui.navigator.viewer">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  id="Repository View"
                  label="Repository View"
                  style="push"
                  tooltip="Repository View">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.unicase.ui.repository.views.RepositoryView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  id="History Browser"
                  label="History Browser"
                  style="push"
                  tooltip="History Browser">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.unicase.workspace.ui.views.historybrowserview.HistoryBrowserView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
