<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.emfstore.client.workspaceLocationProvider">
             <LocationProvider
            providerClass="otherworkspacelocation.OtherLocationProvider">
      </LocationProvider>
   </extension>


</plugin>
