<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>


-->

<plugin>
   <extension-point id="customOperationLabelProvider" name="customOperationLabelProvider" schema="schema/customOperationLabelProvider.exsd"/>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory
          class="org.unicase.emfstore.esmodel.provider.EsmodelItemProviderAdapterFactory"
          supportedTypes="org.unicaseorg.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource.model.edit.factory1"
          uri="http://unicase.org/emfstore/esmodel"/>
  </extension>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://unicase.org/esmodel/accesscontrol" 
       class = "org.unicase.emfstore.esmodel.accesscontrol.provider.AccesscontrolItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  <extension  point="org.eclipse.emf.edit.itemProviderAdapterFactories">
     <factory
           uri = "http://unicase.org/esmodel/accesscontrol/roles"
           class = "org.unicase.emfstore.esmodel.accesscontrol.roles.provider.RolesItemProviderAdapterFactory"
           supportedTypes = 
	         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
	          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
	          org.eclipse.emf.edit.provider.ITreeItemContentProvider
	          org.eclipse.emf.edit.provider.IItemLabelProvider
	          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  <extension  point="org.eclipse.emf.edit.itemProviderAdapterFactories">
     <factory
           class="org.unicase.emfstore.esmodel.versioning.provider.VersioningItemProviderAdapterFactory"
           supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource"
           uri="http://unicase.org/esmodel/versioning">
     </factory>
  </extension>
  <extension  point="org.eclipse.emf.edit.itemProviderAdapterFactories">
     <factory
           class="org.unicase.emfstore.esmodel.versioning.operations.provider.OperationsItemProviderAdapterFactory"
           supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource"
           uri="http://unicase.org/esmodel/versioning/operations">
     </factory>
  </extension>

</plugin>
