<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.ui.meeditor.attributecontrols">
      <widget
            class="org.unicase.ui.meeditor.multiattribute.StringMultiAttributeControl"
            name="MultiItemWidget.widget1"
            showLabel="true"
            type="java.lang.String">
      </widget>
   </extension>
   <extension
         point="org.unicase.ui.meeditor.attributecontrols">
      <widget
            class="org.unicase.ui.meeditor.multiattribute.IntegerMultiAttributeControl"
            name="multiAttribute.widget1"
            showLabel="true"
            type="java.lang.Integer">
      </widget>
   </extension>

</plugin>
