<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.unicase.emailnotifierpreferences.properties.EMailNotifierPage"
            id="org.unicase.emailnotifierpreferences.properties.samplePropertyPage"
            name="EMailNotifier"
            nameFilter="*.*">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <count
                     value="1">
               </count>
               <instanceof
                     value="org.unicase.metamodel.Project">
               </instanceof>
            </iterate>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.unicase.model.emailnotificationgroup.EmailnotificationgroupPackage"
            genModel="model/model.genmodel"
            uri="http://unicase.org/model/emailnotificationgroup">
      </package>
   </extension>

</plugin>
