<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.unicase.mylynconnector.core.UnicaseConnector"
            id="org.unicase.mylynconnector.core"
            name="unicase">
      </connectorCore>
      <connectorUi
            class="org.unicase.mylynconnector.ui.UnicaseConnectorUi"
            id="org.unicase.mylynconnector.ui"
            name="unicase">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            label="Workspace"
            repositoryKind="org.unicase.mylynconnector"
            urlRepository="Tasks">
      </repository>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.unicase.mylynconnector.ui.UnicaseTaskEditorPageFactory"
            id="org.unicase.mylynconnector.pageFactory1">
      </pageFactory>
   </extension>

</plugin>
