<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.ui.commands">
      <category
            name="Unicase Link Category"
            id="org.unicase.link.commands.category">
   	 </category>
      <command
            name="Get Unicase Link"
            categoryId="org.unicase.link.commands.category"
            id="org.unicase.link.commands.getUnicaseLink">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.unicase.link.commands.getUnicaseLink"
            class="org.unicase.link.handlers.UnicaseLinkHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.unicase.link.commands.getUnicaseLink"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
     
       <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=additions">
       
            <command
                  commandId="org.unicase.link.commands.getUnicaseLink"
                  label="Generate UNICASE link"
                  icon="icons/unicase_link.png"
                  mnemonic="U"
                  id="org.unicase.link.menus.getUnicaseLink">
            </command>
        
      </menuContribution>
      <menuContribution
      		locationURI="toolbar:org.unicase.ui.meeditor.MEEditorPage?after=org.unicase.ui.common.deleteModelElement">
            <command
                  commandId="org.unicase.link.commands.getUnicaseLink"
                  icon="icons/unicase_link.png"
                  tooltip="Generate UNICASE specific protocol link"
                  id="org.unicase.link.toolbars.getUnicaseLink">
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.unicase.link.Activator"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.unicase.ui.common.unicase"
            class="org.unicase.link.preferences.UnicaseLinkPreferencePage"
            id="org.unicase.link.preferences.UnicaseLinkPreferencePage"
            name="UNICASE Link">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.unicase.link.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
