<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Unicase"
            id="org.unicase">
      </category>
      <view
            allowMultiple="true"
            category="org.unicase"
            class="org.unicase.ui.ganttview.views.GanttView"
            icon="icons/application_side_tree.png"
            id="org.unicase.ui.ganttview.views.GanttView"
            name="Gantt View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ui.ganttview.commands.ShowGanttViewHandler"
            id="org.unicase.ui.ganttview.ShowGanttView"
            name="ShowGanttView">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.common.commands.annotateActionItemSeperator">
         <command
               commandId="org.unicase.ui.ganttview.ShowGanttView"
               icon="icons/application_side_tree.png"
               id="ShowGanttView"
               label="Show Gantt"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <or>
                     <reference
                           definitionId="org.unicase.ui.common.commands.workPackage">
                     </reference>
                     <instanceof
                           value="org.unicase.workspace.ProjectSpace">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
