<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
 </copyright>


-->

<plugin>
   <extension-point id="org.unicase.workspace.notification.providers" name="Notification Providers" schema="schema/org.eclipse.emf.emfstore.client.notificationProviders.exsd"/>
   <extension-point id="org.unicase.workspace.notify.login" name="org.unicase.workspace.notify.login" schema="schema/org.eclipse.emf.emfstore.client.notify.login.exsd"/>
   <extension-point id="org.unicase.workspace.wrapperfactories" name="Wrapper factories" schema="schema/org.eclipse.emf.emfstore.client.wrapperfactories.exsd"/>
   <extension-point id="org.unicase.workspace.workspaceLocationProvider" name="Workspace Location Provider" schema="schema/org.eclipse.emf.emfstore.client.workspaceLocationProvider.exsd"/>
   <extension-point id="org.unicase.workspace.defaultConfigurationProvider" name="Default Configuration Provider" schema="schema/org.eclipse.emf.emfstore.client.defaultConfigurationProvider.exsd"/>
   <extension-point id="org.unicase.workspace.notify.postcreationlistener" name="Post-Creation Listeners" schema="schema/org.eclipse.emf.emfstore.client.notify.postcreationlistener.exsd"/>
   <extension-point id="org.unicase.workspace.notify.postinit" name="Workspace Initiated" schema="schema/org.eclipse.emf.emfstore.client.notify.workspace.exsd"/>
   <extension-point id="org.unicase.workspace.editingDomainProvider" name="EditingDomain Provider" schema="schema/org.eclipse.emf.emfstore.client.editingDomainProvider.exsd"/>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://eclipse.org/emf/emfstore/client/model" 
       class = "org.eclipse.emf.emfstore.client.model.ModelPackage"
       genModel = "model/client.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.emf.transaction.editingDomains">
     <editingDomain
           id="org.eclipse.emf.emfstore.client.editingDomain">
     </editingDomain>
  </extension>
</plugin>
