<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <view
            category="org.unicase"
            class="org.unicase.workspace.ui.views.validationview.ValidationView"
            icon="icons/validation.png"
            id="org.unicase.workspace.ui.views.validationview.ValidationView"
            name="Validation View"
            restorable="true">
      </view>
    
   </extension>
     <extension
           point="org.eclipse.emf.validation.validationListeners">
        <listener
              class="org.unicase.workspace.ui.views.validationview.ValidationListener">
           <clientContext
                 id="org.unicase.model.validation">
           </clientContext>
        </listener>
     </extension>
     <command
              commandId="org.unicase.ui.common.validate"
              icon="icons/validation.png"
              label="Validate Project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
            <command
           defaultHandler="org.unicase.workspace.ui.commands.ValidateHandler"
           id="org.unicase.ui.common.validate"
           name="Validate">
     </command>
</plugin>
