<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.unicase.workspace.filetransfer.ondone">
      <updatefileattachments
            listener="org.unicase.ui.unicasecommon.meeditor.commands.FileAttachmentUpdaterImpl">
      </updatefileattachments>
   </extension>
<extension
         point="org.eclipse.ui.views">
      <category
            name="unicase"
            id="org.unicase">
      </category>
      <view
            category="org.unicase"
            class="org.unicase.ui.unicasecommon.navigator.TreeView"
            icon="icons/unicase.png"
            id="org.unicase.ui.navigator.viewer"
            name="Unicase Navigator"
            restorable="true">
      </view>
      <view
            category="org.unicase"
            class="org.unicase.ui.unicasecommon.common.views.Preview"
            icon="icons/user_comment.png"
            id="org.unicase.ui.common.views.previewID"
            name="Preview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.CreateMEHandler"
            description="This generic command is used to by dynamic commands to create different MEs"
            id="org.unicase.ui.navigator.createME"
            name="New Model Element">
         <commandParameter
               id="org.unicase.ui.navigator.eClassParameter"
               name="eClassParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.eClassType">
         </commandParameter>
         <commandParameter
               id="org.unicase.ui.navigator.diagramTypeParameter"
               name="diagramTypeParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.diagramType">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.CreateContainmentHandler"
            description="This generic command is used by dynamic commands to create containment MEs"
            id="org.unicase.ui.navigator.createContaiment"
            name="New Containment ME">
         <commandParameter
               id="org.unicase.ui.navigator.eClassParameter"
               name="eClassParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.eClassType">
         </commandParameter>
         <commandParameter
               id="org.unicase.ui.navigator.diagramTypeParameter"
               name="diagramTypeParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.diagramType">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.NewModelElementWizardHandler"
            id="org.unicase.ui.navigator.newMEWizard"
            name="New ModelElement Wizard">
      </command>
      <commandParameterType
            converter="org.unicase.ui.unicasecommon.navigator.commands.EClassTypeConverter"
            id="org.unicase.ui.navigator.eClassType"
            type="org.eclipse.emf.ecore.EClass">
      </commandParameterType>
            <commandParameterType
            converter="org.unicase.ui.unicasecommon.navigator.commands.DiagramTypeConverter"
            id="org.unicase.ui.navigator.diagramType"
            type="org.unicase.model.diagram.DiagramType">
      </commandParameterType>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.NewLeafSection"
            id="org.unicase.ui.navigator.newLeafSection"
            name="newLeafSection">
      </command>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.NewCompositeSectionHandler"
            id="org.unicase.ui.navigator.newCompositeSection"
            name="newCompositeSection">
      </command>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.FollowupMeetingWizardHandler"
            id="org.unicase.ui.navigator.followupMeeting"
            name="followupMeeting">
      </command>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.ShowMEInNavigatorHandler"
            id="org.unicase.ui.navigator.ShowMEInNavigator"
            name="ShowMEInNavigator">
      </command>
      <command
            categoryId="org.unicase.ui.common.modifyModelelement"
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.NewDocumentHandler"
            id="org.unicase.ui.common.newDocument"
            name="New Document">
      </command>
      <command
            categoryId="org.unicase.ui.common.modifyModelelement"
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.DeleteModelelementHandler"
            id="org.unicase.ui.common.deleteModelelement"
            name="Delete Modelelement">
      </command>
      <command
            categoryId="org.unicase.ui.common.modifyModelelement"
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.OpenDiagramWithMEEditorHandler"
            id="org.unicase.ui.common.openDiagramWithMEEditor"
            name="Open with MEEditor">
      </command>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.AddCommentHandler"
            id="org.unicase.ui.common.commands.addComment"
            name="addComment">
      </command>
      <command
            categoryId="org.unicase.ui.common.commands.addAnnotations"
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.AddAnnotationHandler"
            id="org.unicase.ui.common.commands.annotateIssue"
            name="annotateIssue">
      </command>
      <category
            id="org.unicase.ui.common.commands.addAnnotations"
            name="Add Annotations">
      </category>
      <command
            categoryId="org.unicase.ui.common.commands.addAnnotations"
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.AddAnnotationHandler"
            id="org.unicase.ui.common.commands.annotateActionItem"
            name="annotateActionItem">
      </command>
      <command
            categoryId="org.unicase.ui.common.modifyModelelement"
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.OpenMEShortcutHandler"
            id="org.unicase.ui.common.handlers.open_me_ID"
            name="Search for Modelelement">
      </command>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.SubscriptionHandler"
            id="org.unicase.ui.common.commands.subscribeToModelElement"
            name="subscribeToModelElement">
      </command>
      <category
            id="org.unicase.ui.common.modifyModelelement"
            name="Modify Modelelement">
      </category>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.common.commands.OpenModelElementDiscussionHandler"
            id="org.unicase.ui.meeditor.openModelElementDiscussion"
            name="Open Discussion">
      </command>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.CollapseAllHandler"
            id="org.unicase.ui.navigator.CollapseAll"
            name="Collapse All">
      </command>
   </extension>
    <!--    -->

    <!--    -->
   
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.unicase.ui.unicasecommon.common.diagram.MEDiagramResource"
            contentTypeIdentifier="MEDiagram">
      </parser>
   </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="toolbar:org.unicase.ui.meeditor.MEEditorPage?after=additions">
        <command
              commandId="org.unicase.ui.common.commands.annotateActionItem"
              icon="icons/ActionItem.png"
              label="Add Action Item"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="activeModelelement">
                 <reference
                       definitionId="org.unicase.ui.common.commands.modelElementNotSection">
                 </reference>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.commands.annotateIssue"
              icon="icons/Issue.gif"
              label="Add Issue"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="activeModelelement">
                 <reference
                       definitionId="org.unicase.ui.common.commands.modelElementNotSection">
                 </reference>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.commands.addComment"
              icon="icons/Comment.png"
              label="Add Comment"
              style="push">
        </command>
        <command
              commandId="org.unicase.ui.common.commands.subscribeToModelElement"
              icon="icons/subscribe.png"
              label="Subscribe for this ModelElement">
        </command>
     </menuContribution>
     
     <menuContribution
           locationURI="toolbar:org.unicase.ui.meeditor.METhreadPage?after=additions">
        <command
              commandId="org.unicase.ui.common.commands.addComment"
              icon="icons/Comment.png"
              label="Add Comment"
              style="push">
        </command>

     </menuContribution>
     
     
     <menuContribution
           locationURI="popup:org.unicase.ui.navigator.viewer?after=additions">
        <command
              commandId="org.unicase.ui.navigator.followupMeeting"
              label="Follow-up meeting..."
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.model.meeting.Meeting">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <dynamic
              class="org.unicase.ui.unicasecommon.navigator.commands.DynamicMECreationCommands"
              id="org.unicase.ui.navigator.dynamicMECreationCommands">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.model.document.LeafSection">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </dynamic>
        <dynamic
              class="org.unicase.ui.unicasecommon.navigator.commands.DynamicContainmentCommands"
              id="org.unicase.ui.navigator.dynamicContainmentCommands">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <reference
                          definitionId="org.unicase.ui.common.commands.modelElementNotSection">
                    </reference>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </dynamic>
        <command
              commandId="org.unicase.ui.navigator.newCompositeSection"
              icon="icons/CompositeSection.gif"
              label="New composite section"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.model.document.CompositeSection">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.navigator.newLeafSection"
              icon="icons/LeafSection.gif"
              label="New leaf section"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.model.document.CompositeSection">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.navigator.newMEWizard"
              icon="icons/NewModelElement.png"
              label="New model element..."
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.model.document.LeafSection">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <separator
              name="org.unicase.ui.navigator.createModelElementCommands"
              visible="true">
        </separator>
        <command
              commandId="org.unicase.ui.common.openDiagramWithMEEditor"
              icon="icons/application_form_edit.png"
              label="Open with MEEditor"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <reference
                          definitionId="org.unicase.ui.common.commands.MEDiagram">
                    </reference>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.newDocument"
              icon="icons/Document.gif"
              label="New Document"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.deleteModelelement"
              icon="icons/delete.gif"
              label="Delete"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.metamodel.ModelElement">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <separator
              name="org.unicase.ui.common.commands.modifyCommands"
              visible="true">
        </separator>
        <menu
              label="Add References">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.metamodel.ModelElement">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
           <command
                 commandId="org.unicase.ui.common.commands.addComment"
                 icon="icons/Comment.png"
                 label="Add Comment"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <and>
                    <iterate
                          ifEmpty="false"
                          operator="and">
                       <instanceof
                             value="org.unicase.metamodel.ModelElement">
                       </instanceof>
                    </iterate>
                    <count
                          value="1">
                    </count>
                 </and>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.ui.common.commands.annotateActionItem"
                 icon="icons/ActionItem.png"
                 label="Add Action Item"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <and>
                    <iterate
                          ifEmpty="false"
                          operator="and">
                       <reference
                             definitionId="org.unicase.ui.common.commands.directAnnotatable">
                       </reference>
                    </iterate>
                    <count
                          value="1">
                    </count>
                 </and>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.ui.common.commands.annotateIssue"
                 icon="icons/Issue.gif"
                 label="Add Issue"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <and>
                    <iterate
                          ifEmpty="false"
                          operator="and">
                       <reference
                             definitionId="org.unicase.ui.common.commands.directAnnotatable">
                       </reference>
                    </iterate>
                    <count
                          value="1">
                    </count>
                 </and>
              </visibleWhen>
           </command>
        </menu>
        <command
              commandId="org.unicase.ui.common.commands.subscribeToModelElement"
              icon="icons/subscribe.png"
              label="Subscribe"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.metamodel.ModelElement">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.ui.common.commands.isNotSubscribed"
                          value="true">
                    </test>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.commands.subscribeToModelElement"
              icon="icons/subscribe.png"
              label="Unsubscribe"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.metamodel.ModelElement">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.ui.common.commands.isSubscribed"
                          value="true">
                    </test>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <separator
              name="org.unicase.ui.common.commands.annotateActionItemSeperator"
              visible="true">
        </separator>
     </menuContribution>
     <menuContribution
           locationURI="toolbar:org.unicase.ui.navigator.viewer?bofore=additions">
         <command
               commandId="org.unicase.ui.common.handlers.open_me_ID"
               icon="icons/magnifier.png"
               id="SearchElementButon"
               style="push"
               tooltip="Search for model element">
        </command>
     </menuContribution>
     <menuContribution
           locationURI="toolbar:org.eclipse.ui.main.toolbar">
        <toolbar
              id="org.unicase.ui.common.UnicaseToolbar">
          <command
                 commandId="org.unicase.ui.common.handlers.open_me_ID"
                 icon="icons/magnifier.png"
                 style="push"
                 tooltip="Search model element">
           </command>
        </toolbar>
     </menuContribution>
     <menuContribution
           locationURI="toolbar:org.unicase.ui.navigator.viewer?before=SearchElementButon">
        <command
              commandId="org.unicase.ui.navigator.CollapseAll"
              icon="icons/collapseall.png"
              id="CollapseButton"
              style="push"
              tooltip="Collapse All">
        </command>
     </menuContribution>
    
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.unicase.ui.common.commands.modelElementNotSection">
        <and>
           <instanceof
                 value="org.unicase.metamodel.ModelElement">
           </instanceof>
           <not>
              <instanceof
                    value="org.unicase.model.document.Section">
              </instanceof>
           </not>
        </and>
     </definition>
     <definition
           id="org.unicase.ui.common.commands.modelElement">
        <instanceof
              value="org.unicase.metamodel.ModelElement">
        </instanceof>
     </definition>
     <definition
           id="org.unicase.ui.common.commands.workPackage">
        <instanceof
              value="org.unicase.model.task.WorkPackage">
        </instanceof>
     </definition>
     <definition
           id="org.unicase.ui.common.commands.MEDiagram">
        <instanceof
              value="org.unicase.model.diagram.MEDiagram">
        </instanceof>
     </definition>
     <definition
           id="org.unicase.ui.common.commands.directAnnotatable">
        <and>
           <instanceof
                 value="org.unicase.metamodel.ModelElement">
           </instanceof>
           <not>
              <instanceof
                    value="org.unicase.model.meeting.MeetingSection">
              </instanceof>
           </not>
        </and>
     </definition>
  </extension>
    <extension
        point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           class="org.unicase.ui.unicasecommon.common.decorators.StateDecorator"
           id="org.unicase.ui.common.decorators.StateDecorator"
           label="State Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.metamodel.ModelElement">
           </objectClass>
        </enablement>
        <description>
           Shows state of a model element (Blocked/Running).
        </description>
     </decorator>
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.VersionDecorator"
           id="org.unicase.ui.common.decorators.VersionDecorator"
           label="Version Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.workspace.ProjectSpace">
           </objectClass>
        </enablement>
        <description>
           Shows version of current project.
        </description>
     </decorator>
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.ProjectSpaceDirtyDecorator"
           id="org.unicase.ui.common.decorators.ProjectSpaceDirtyDecorator"
           label="ProjectSpaceDirty Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.workspace.ProjectSpace">
           </objectClass>
        </enablement>
        <description>
           If the porject has local changes.
        </description>
     </decorator>
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.ModelElementDirtyDecorator"
           id="org.unicase.ui.common.decorators.ModelElementDirtyDecorator"
           label="ModelElement Dirty Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.metamodel.ModelElement">
           </objectClass>
        </enablement>
        <description>
           If the porject has local changes.
        </description>
     </decorator>
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.ProjectDirtyDecorator"
           id="org.unicase.ui.common.decorators.ProjectDirtyDecorator"
           label="Project Dirty Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.metamodel.Project">
           </objectClass>
        </enablement>
        <description>
           If the porject has local changes.
        </description>
     </decorator>
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.ChildrenDecorator"
           id="org.unicase.ui.common.decorators.ChildrenDecorator"
           label="Children Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.emf.edit.provider.DelegatingWrapperItemProvider">
           </objectClass>
        </enablement> 
        <description>
           Shows a link icon on children that are not actually contained in their parent in Navigator.
        </description>
     </decorator>
  </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="org.unicase.ui.unicasecommon.common.UnicasePerspective"
             fixed="false"
             icon="icons/unicase.png"
             id="org.unicase.ui.unicasecommon.common.UnicasePerspective"
             name="Unicase">
       </perspective>
    </extension>
    <extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension
         targetID="org.unicase.ui.unicasecommon.common.UnicasePerspective">
      <viewShortcut
            id="org.unicase.ui.navigator.viewer">
      </viewShortcut>
      <viewShortcut
            id="org.unicase.ui.repository.views.RepositoryView">
      </viewShortcut>
      <viewShortcut
            id="org.unicase.ui.taskview">
      </viewShortcut>
   </perspectiveExtension>
       </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.unicase.ui.common.handlers.open_me_ID"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="Alt+M">
       </key>
    </extension>
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution
            adaptable="false"
            id="org.unicase.ui.common.diagram.DeleteFromDiagramAction"
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
         <action
               class="org.unicase.ui.unicasecommon.common.diagram.DeleteFromDiagramContextMenuAction"
               enablesFor="1"
               icon="icons/delete_edit.gif"
               id="org.unicase.ui.common.diagram.DeleteFromDiagramAction"
               label="Delete from Diagram">
         </action>
      </objectContribution>
       <objectContribution
            adaptable="false"
            id="OpenMEEComponentID"
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
         <action
               class="org.unicase.ui.unicasecommon.common.diagram.OpenMEEditorAction"
               enablesFor="1"
                  icon="icons/application_edit.png"
               id="OpenMEEComponentID"
               label="Open with MEEditor">
         </action>
      </objectContribution>
	</extension>
	<extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
		<contributionItemProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider" checkPluginLoaded="false">
			<Priority name="Low"/>
				<popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
					<popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionNodeEditPart"/>
				<popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
			</popupContribution>
		</contributionItemProvider>
				<contributionItemProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider" checkPluginLoaded="false">
			<Priority name="Low"/>
				<popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
					<popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionNodeEditPart"/>
				<popupPredefinedItem id="deleteFromModelAction" remove="true"/>
			</popupContribution>
		</contributionItemProvider>
</extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="org.unicase.ui.common.commands.SubscriptionTester"
              id="org.unicase.ui.common.commands.subscriptionTester"
              namespace="org.unicase.ui.common.commands"
              properties="isSubscribed,isNotSubscribed"
              type="org.unicase.metamodel.ModelElement">
        </propertyTester>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.unicase.ui.common.preferences.UnicasePreferencesPage"
          id="org.unicase.ui.common.unicase"
          name="Unicase">
    </page>
 </extension>
 <extension
       point="org.unicase.ui.meeditor.attributecontrols">
    <widget
          class="org.unicase.ui.unicasecommon.meeditor.MEEmailControl"
          name="org.unicase.ui.unicasecommon.meemailcontrol"
          showLabel="true"
          type="java.lang.String">
    </widget>
    <widget
          class="org.unicase.ui.unicasecommon.meeditor.MEURLControl"
          name="URLwidget"
          showLabel="true"
          type="java.lang.String">
    </widget>
    <widget
          class="org.unicase.ui.unicasecommon.meeditor.mecontrols.MEFileChooserControl"
          name="org.unicase.ui.unicasecommon.mefilechoosercontrol"
          showLabel="true"
          type="java.lang.String">
    </widget>
    <widget
          class="org.unicase.ui.unicasecommon.meeditor.mecontrols.MEFileSizeControl"
          name="org.unicase.ui.unicasecommon.mefilesizecontrol"
          showLabel="true"
          type="java.lang.Long">
    </widget>
 </extension>
 <extension
       point="org.unicase.ui.meeditor.referencecontrols">
    <widget
          class="org.unicase.ui.unicasecommon.meeditor.mecontrols.commentcontrol.MECommentsLinkControl"
          name="org.unicase.ui.unicasecommon.commentlinkcontrol"
          showLabel="true"
          type="org.unicase.metamodel.ModelElement">
    </widget>
    <widget
          class="org.unicase.ui.unicasecommon.meeditor.mecontrols.issuecontrol.AssessmentMatrixControl"
          name="org.unicase.ui.unicasecommon.assessmentmatrixcontrol"
          showLabel="false"
          type="org.unicase.metamodel.ModelElement">
    </widget>
    <widget
          class="org.unicase.ui.unicasecommon.meeditor.mecontrols.uccontrol.UseCaseStepsControl"
          name="org.unicase.ui.unicasecommon.usecasestepscontrol"
          showLabel="false"
          type="org.unicase.metamodel.ModelElement">
    </widget>
    <widget
          class="org.unicase.ui.unicasecommon.meeditor.mecontrols.issuecontrol.MergingIssueResolutionControl"
          name="org.unicase.ui.unicasecommon.mergingissueresolutin"
          showLabel="true"
          type="org.unicase.metamodel.ModelElement">
    </widget>
 </extension>
 <extension
       point="org.unicase.ui.meeditor.pages">
    <page
          class="org.unicase.ui.unicasecommon.meeditor.MEDescriptionPage"
          name="org.unicase.ui.unicasecommon.meeditor.descriptionpage">
    </page>
 </extension>
 <extension
       point="org.unicase.ui.meeditor.pages">
    <page
          class="org.unicase.ui.unicasecommon.meeditor.METhreadPage"
          name="org.unicase.ui.unicasecommon.meeditor.methreadpage">
    </page>
 </extension>
 <extension
       point="org.unicase.ui.meeditor.melinkcontrols">
    <widget
          class="org.unicase.ui.unicasecommon.meeditor.MEURLLinkControl"
          name="org.unicase.ui.unicasecommon.meurllinkcontrol"
          type="org.unicase.metamodel.ModelElement">
    </widget>
 </extension>
</plugin>
