<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.unicase.ui.common.modelelementopener" name="Open Handler for Modelelements" schema="schema/org.unicase.common.ui.modelelementopener.exsd"/>
   <extension
        point="org.eclipse.ui.commands">
     
    
   
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.navigator.createModelElementCommands">
        <separator
              name="org.unicase.ui.common.commands.modifyCommands">
        </separator>
     </menuContribution>
     <menuContribution
           locationURI="toolbar:org.unicase.ui.meeditor.MEEditorPage?after=additions">
        <command
              commandId="org.unicase.ui.common.deleteModelelement"
              icon="icons/delete.gif"
              label="Delete"
              style="push">
        </command>
     </menuContribution>
     
     
     
     
    
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.unicase.ui.common.commands.modelElement">
        <instanceof
              value="org.unicase.metamodel.ModelElement">
        </instanceof>
     </definition>
  </extension>
    <extension
          point="org.eclipse.ui.ide.markerSupport">
    </extension>
   
    <extension point="org.eclipse.ui.popupMenus">
	</extension>
	<extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
		<contributionItemProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider" checkPluginLoaded="false">
			<Priority name="Low"/>
				<popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
					<popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionNodeEditPart"/>
				<popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
			</popupContribution>
		</contributionItemProvider>
				<contributionItemProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider" checkPluginLoaded="false">
			<Priority name="Low"/>
				<popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
					<popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionNodeEditPart"/>
				<popupPredefinedItem id="deleteFromModelAction" remove="true"/>
			</popupContribution>
		</contributionItemProvider>
</extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="org.unicase.ui.common.commands.SubscriptionTester"
              id="org.unicase.ui.common.commands.subscriptionTester"
              namespace="org.unicase.ui.common.commands"
              properties="isSubscribed,isNotSubscribed"
              type="org.unicase.metamodel.ModelElement">
        </propertyTester>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.unicase.ui.common.preferences.UnicasePreferencesPage"
          id="org.unicase.ui.common.unicase"
          name="Unicase">
    </page>
 </extension>
</plugin>

