<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
        point="org.eclipse.ui.commands">
     
     <command
           id="org.unicase.ui.common.validate"
           name="Validate">
     </command>
     <command
           categoryId="org.unicase.ui.common.modifyModelelement"
           id="org.unicase.ui.common.openDiagramWithMEEditor"
           name="Quick open modelelement">
     </command>
   
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.navigator.createModelElementCommands">
        <command
              commandId="org.unicase.ui.common.openDiagramWithMEEditor"
              label="Open with MEEditor"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false">
                 <reference
                       definitionId="org.unicase.ui.common.commands.MEDiagram">
                 </reference>
              </iterate>
           </visibleWhen>
        </command>
        <separator
              name="org.unicase.ui.common.commands.modifyCommands">
        </separator>
     </menuContribution>
     <menuContribution
           locationURI="toolbar:org.unicase.ui.meeditor.MEEditorPage?after=additions">
        <command
              commandId="org.unicase.ui.common.commands.annotateActionItem"
              icon="icons/ActionItem.png"
              label="Add Action Item"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="activeModelelement">
                 <reference
                       definitionId="org.unicase.ui.common.commands.modelElementNotSection">
                 </reference>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.commands.annotateIssue"
              icon="icons/Issue.gif"
              label="Add Issue"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="activeModelelement">
                 <reference
                       definitionId="org.unicase.ui.common.commands.modelElementNotSection">
                 </reference>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.commands.subscribeToModelElement"
              icon="icons/subscribe.png"
              label="Subscribe for this ModelElement">
        </command>
        <command
              commandId="org.unicase.ui.common.deleteModelelement"
              icon="icons/delete.gif"
              label="Delete"
              style="push">
        </command>
     </menuContribution>
     
     
     
     <menuContribution
           locationURI="toolbar:org.eclipse.ui.main.toolbar">
        <toolbar
              id="org.unicase.ui.common.UnicaseToolbar">
           <command
                 commandId="org.unicase.ui.common.handlers.open_me_ID"
                 icon="icons/ModelElement.png"
                 style="push"
                 tooltip="Shows open model element dialog">
           </command>
        </toolbar>
     </menuContribution>
    
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.unicase.ui.common.commands.modelElement">
        <instanceof
              value="org.unicase.metamodel.ModelElement">
        </instanceof>
     </definition>
  </extension>
    <extension
        point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.VersionDecorator"
           id="org.unicase.ui.common.decorators.VersionDecorator"
           label="Version Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.workspace.ProjectSpace">
           </objectClass>
        </enablement>
        <description>
           Shows version of current project.
        </description>
     </decorator>
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.ProjectSpaceDirtyDecorator"
           id="org.unicase.ui.common.decorators.ProjectSpaceDirtyDecorator"
           label="ProjectSpaceDirty Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.workspace.ProjectSpace">
           </objectClass>
        </enablement>
        <description>
           If the porject has local changes.
        </description>
     </decorator>
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.ModelElementDirtyDecorator"
           id="org.unicase.ui.common.decorators.ModelElementDirtyDecorator"
           label="ModelElement Dirty Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.metamodel.ModelElement">
           </objectClass>
        </enablement>
        <description>
           If the porject has local changes.
        </description>
     </decorator>
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.ProjectDirtyDecorator"
           id="org.unicase.ui.common.decorators.ProjectDirtyDecorator"
           label="Project Dirty Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.metamodel.Project">
           </objectClass>
        </enablement>
        <description>
           If the porject has local changes.
        </description>
     </decorator>
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.ChildrenDecorator"
           id="org.unicase.ui.common.decorators.ChildrenDecorator"
           label="Children Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.emf.edit.provider.DelegatingWrapperItemProvider">
           </objectClass>
        </enablement> 
        <description>
           Shows a link icon on children that are not actually contained in their parent in Navigator.
        </description>
     </decorator>
  </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="org.unicase.ui.common.perspectives.UnicasePerspective"
             icon="icons/unicase.png"
             id="org.unicase.ui.common.perspectives.UnicasePerspective"
             name="Unicase">
       </perspective>
    </extension>
    <extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension
         targetID="org.unicase.ui.common.perspectives.UnicasePerspective">
      <viewShortcut
            id="org.unicase.ui.navigator.viewer">
      </viewShortcut>
   </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.unicase.ui.treeview.views.IterationPlanningView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.unicase.ui.treeview.views.StatusView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.unicase.ui.repository.views.RepositoryView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.unicase.ui.navigator.viewer"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               standalone="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.unicase.ui.common.perspectives.UnicasePerspective">
         <viewShortcut
               id="org.unicase.ui.repository.views.RepositoryView">
         </viewShortcut>
         <viewShortcut
               id="org.unicase.ui.taskview">
         </viewShortcut>
         <viewShortcut
               id="org.unicase.ui.treeview.views.IterationPlanningView">
         </viewShortcut>
         <viewShortcut
               id="org.unicase.ui.treeview.views.StatusView">
         </viewShortcut>
        <!-- <showInPart
               id="org.unicase.ui.treeview.views.StatusView">
         </showInPart> -->
       <!--  <view
               id="org.unicase.ui.navigator.viewer"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               standalone="false">
         </view>
         <view
               id="org.unicase.ui.treeview.views.StatusView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList">
         </view>
         <view
               id="org.unicase.ui.treeview.views.IterationPlanningView"
               ratio="0.5"
               relationship="stack"
               relative="org.unicase.ui.treeview.views.StatusView">
         </view>
         <view
               id="org.unicase.ui.repository.views.RepositoryView"
               ratio="0.5"
               relationship="stack"
               relative="org.unicase.ui.treeview.views.StatusView">
         </view> -->
      </perspectiveExtension>
       </extension>
    <extension
          point="org.eclipse.ui.ide.markerSupport">
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.unicase.ui.common.handlers.open_me_ID"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="Alt+M">
       </key>
    </extension>
    <extension point="org.eclipse.ui.popupMenus">
	</extension>
	<extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
		<contributionItemProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider" checkPluginLoaded="false">
			<Priority name="Low"/>
				<popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
					<popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionNodeEditPart"/>
				<popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
			</popupContribution>
		</contributionItemProvider>
				<contributionItemProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider" checkPluginLoaded="false">
			<Priority name="Low"/>
				<popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
					<popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionNodeEditPart"/>
				<popupPredefinedItem id="deleteFromModelAction" remove="true"/>
			</popupContribution>
		</contributionItemProvider>
</extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="org.unicase.ui.common.commands.SubscriptionTester"
              id="org.unicase.ui.common.commands.subscriptionTester"
              namespace="org.unicase.ui.common.commands"
              properties="isSubscribed,isNotSubscribed"
              type="org.unicase.metamodel.ModelElement">
        </propertyTester>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.unicase.ui.common.preferences.UnicasePreferencesPage"
          id="org.unicase.ui.common.unicase"
          name="Unicase">
    </page>
 </extension>
</plugin>

