<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.unicase.ui.visualization.views.VisualizationView"
            icon="icons/visualization.png"
            id="org.unicase.ui.visualization.treeview"
            name="TreeView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.ui.visualization.commands.showView"
            name="ShowView">
         <commandParameter
               id="org.unicase.ui.visualization.commands.showView.viewType"
               name="ViewType"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.unicase.ui.visualization.commands.ShowView"
            id="referenceToShowViewMenu"
            name="referenceToShowViewMenu">
      </command>
      <command
            id="org.unicase.ui.visualization.setislinked"
            name="SetIsLinked">
      </command>
      <command
            id="org.unicase.ui.visualization.commands.switchColoring"
            name="SwitchColoring">
         <commandParameter
               id="org.unicase.ui.visualization.commands.switchColoring.coloringType"
               name="ColoringType"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.unicase.ui.visualization.commands.ShowView"
            id="referenceToSwitchColoringMenu"
            name="referenceToSwitchColoringMenu">
      </command>
      <command
            id="org.unicase.ui.visualization.commands.setTypeColor"
            name="SetTypeColor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.unicase.ui.visualization.treeview">
         <command
               commandId="org.unicase.ui.visualization.setislinked"
               icon="icons/synced.gif"
               label="Link with Navigator"
               style="toggle">
         </command>
         <command
               commandId="referenceToShowViewMenu"
               label="View"
               style="pulldown">
         </command>
         <command
               commandId="org.unicase.ui.visualization.commands.setTypeColor"
               icon="icons/colors.png"
               label="Set selected Type Color"
               style="push">
         </command>
         <command
               commandId="referenceToSwitchColoringMenu"
               label="Coloring"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:referenceToShowViewMenu">
         <command
               commandId="org.unicase.ui.visualization.commands.showView"
               label="Sunburst"
               style="push">
            <parameter
                  name="org.unicase.ui.visualization.commands.showView.viewType"
                  value="SUNBURST">
            </parameter>
         </command>
         <command
               commandId="org.unicase.ui.visualization.commands.showView"
               label="Hyperbolic"
               style="push">
            <parameter
                  name="org.unicase.ui.visualization.commands.showView.viewType"
                  value="HYPERBOLIC">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:referenceToSwitchColoringMenu">
         <command
               commandId="org.unicase.ui.visualization.commands.switchColoring"
               label="Creation Date"
               style="push">
            <parameter
                  name="org.unicase.ui.visualization.commands.switchColoring.coloringType"
                  value="CREATION_DATE">
            </parameter>
         </command>
         <command
               commandId="org.unicase.ui.visualization.commands.switchColoring"
               label="Random Types"
               style="push">
            <parameter
                  name="org.unicase.ui.visualization.commands.switchColoring.coloringType"
                  value="RANDOM">
            </parameter>
         </command>
         <command
               commandId="org.unicase.ui.visualization.commands.switchColoring"
               label="Manually"
               style="push">
            <parameter
                  name="org.unicase.ui.visualization.commands.switchColoring.coloringType"
                  value="MANUALLY">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.ui.visualization.commands.ShowView"
            commandId="org.unicase.ui.visualization.commands.showView">
      </handler>
      <handler
            class="org.unicase.ui.visualization.commands.SetIsLinked"
            commandId="org.unicase.ui.visualization.setislinked">
      </handler>
      <handler
            class="org.unicase.ui.visualization.commands.SwitchColoring"
            commandId="org.unicase.ui.visualization.commands.switchColoring">
      </handler>
      <handler
            class="org.unicase.ui.visualization.commands.SetTypeColor"
            commandId="org.unicase.ui.visualization.commands.setTypeColor">
      </handler>
   </extension>

</plugin>
