<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/dashboard"
            class="org.unicase.dashboard.DashboardPackage"
            genModel="model/dashboard.genmodel"/>
   </extension>
</plugin>
