<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>


-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/emfstore/server/model"
            class="org.eclipse.emf.emfstore.server.model.ModelPackage"
            genModel="model/server.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/emfstore/server/model/versioning"
            class="org.eclipse.emf.emfstore.server.model.versioning.VersioningPackage"
            genModel="model/server.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/emfstore/server/model/versioning/operations"
            class="org.eclipse.emf.emfstore.server.model.versioning.operations.OperationsPackage"
            genModel="model/server.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/emfstore/server/model/versioning/events"
            class="org.eclipse.emf.emfstore.server.model.versioning.events.EventsPackage"
            genModel="model/server.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/emfstore/server/model/accesscontrol"
            class="org.eclipse.emf.emfstore.server.model.accesscontrol.AccesscontrolPackage"
            genModel="model/server.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/emfstore/server/model/roles"
            class="org.eclipse.emf.emfstore.server.model.accesscontrol.roles.RolesPackage"
            genModel="model/server.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/emfstore/server/model/notification"
            class="org.eclipse.emf.emfstore.server.model.notification.NotificationPackage"
            genModel="model/server.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/emfstore/server/model/url"
            class="org.eclipse.emf.emfstore.server.model.url.UrlPackage"
            genModel="model/server.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.emf.emfstore.server.model.versioning.operations.semantic.SemanticPackage"
            genModel="model/server.genmodel"
            uri="http://eclipse.org/emf/emfstore/server/model/versioning/operations/semantic">
      </package>
   </extension>


</plugin>
