<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.patch.adapter">
      <adapter
            class="org.unicase.patch.subclipse.SubclipseAdapter"
            name="org.unicase.patch.subclipse.adapter">
      </adapter>
   </extension>

</plugin>
