<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.ui.common.modelelementopener">
      <ModelElementOpener
            class="org.unicase.ui.navigatormeeditorbridge.ModelElementOpener"
            name="org.unicase.ui.meeditor.MEEditor">
      </ModelElementOpener>
   </extension>

</plugin>
