<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.emf.emfstore.server.startuplistener" name="StartupListener" schema="schema/org.eclipse.emf.emfstore.server.startuplistener.exsd"/>
   <extension-point id="org.eclipse.emf.emfstore.server.poststartuplistener" name="PostStartupListener" schema="schema/org.eclipse.emf.emfstore.server.poststartuplistener.exsd"/>
   <extension-point id="org.eclipse.emf.emfstore.server.authenticationfactory" name="Authentication Factory" schema="schema/org.eclipse.emf.emfstore.server.authenticationfactory.exsd"/>
   <extension-point id="org.eclipse.emf.emfstore.server.locationprovider" name="Location Provider" schema="schema/org.eclipse.emf.emfstore.server.locationprovider.exsd"/>
   <extension
         id="application"
         name="EMFStore server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icon/unicase_big.png"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.emf.emfstore.server.EmfStoreController">
         </run>
      </application>
   </extension>
   <extension
         id="server"
         name="EMFStore"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.emf.emfstore.server.application"
            description="Server Application of EMFStore"
            name="EMFStore Server">
         <property
               name="appName"
               value="EMFStore">
         </property>
      </product>
   </extension>
</plugin>
