<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.docExport.exportDocument"
            name="exportDocument">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.docExport.commands.ExportDocument"
            commandId="org.unicase.docExport.exportDocument">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.common.commands.annotateActionitemSeperator">
         <command
               commandId="org.unicase.docExport.exportDocument"
               label="Export Meeting"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.model.meeting.Meeting">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.docExport.exportDocument"
               label="Export Document"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.unicase"
            name="unicase">
      </category>
      <view
            category="org.unicase"
            class="org.unicase.docExport.views.DocumentTemplateManager"
            id="org.unicase.DocumentTemplateManager"
            name="Document template manager">
      </view>
   </extension>

</plugin>
