<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.unicase"
            class="org.unicase.ui.visualization.views.VisualizationView"
            icon="icons/visualization.png"
            id="org.unicase.ui.visualization.treeview"
            name="TreeView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.ui.visualization.setislinked"
            name="SetIsLinked">
      </command>
      <command
            id="org.unicase.ui.visualization.commands.switchColoring"
            name="SwitchColoring">
         <commandParameter
               id="org.unicase.ui.visualization.commands.switchColoring.coloringType"
               name="ColoringType"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.unicase.ui.visualization.commands.SwitchColoring"
            id="referenceToSwitchColoringMenu"
            name="referenceToSwitchColoringMenu">
      </command>
      <command
            id="org.unicase.ui.visualization.commands.setTypeColor"
            name="SetTypeColor">
      </command>
      <command
            id="org.unicase.ui.visualization.filterEClassType"
            name="FilterEClassType">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.unicase.ui.visualization.treeview">
         <command
               commandId="org.unicase.ui.visualization.filterEClassType"
               icon="icons/filter.gif"
               label="Filter EClass Type"
               style="push">
         </command>
         <command
               commandId="org.unicase.ui.visualization.setislinked"
               icon="icons/synced.gif"
               label="Link with Navigator"
               style="toggle">
         </command>
         <command
               commandId="org.unicase.ui.visualization.commands.setTypeColor"
               icon="icons/colors.png"
               label="Set selected Type Color"
               style="push">
         </command>
         <command
               commandId="referenceToSwitchColoringMenu"
               label="Coloring"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:referenceToSwitchColoringMenu">
         <command
               commandId="org.unicase.ui.visualization.commands.switchColoring"
               label="Creation Date"
               style="push">
            <parameter
                  name="org.unicase.ui.visualization.commands.switchColoring.coloringType"
                  value="CREATION_DATE">
            </parameter>
         </command>
         <command
               commandId="org.unicase.ui.visualization.commands.switchColoring"
               label="Random Types"
               style="push">
            <parameter
                  name="org.unicase.ui.visualization.commands.switchColoring.coloringType"
                  value="RANDOM">
            </parameter>
         </command>
         <command
               commandId="org.unicase.ui.visualization.commands.switchColoring"
               label="Manually"
               style="push">
            <parameter
                  name="org.unicase.ui.visualization.commands.switchColoring.coloringType"
                  value="MANUALLY">
            </parameter>
         </command>
         <command
               commandId="org.unicase.ui.visualization.commands.switchColoring"
               label="Version"
               style="push">
            <parameter
                  name="org.unicase.ui.visualization.commands.switchColoring.coloringType"
                  value="VERSION">
            </parameter>
         </command>
         <command
               commandId="org.unicase.ui.visualization.commands.switchColoring"
               label="2 Versions"
               style="push">
            <parameter
                  name="org.unicase.ui.visualization.commands.switchColoring.coloringType"
                  value="TWO_VERSIONS">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.ui.visualization.commands.SetIsLinked"
            commandId="org.unicase.ui.visualization.setislinked">
      </handler>
      <handler
            class="org.unicase.ui.visualization.commands.SwitchColoring"
            commandId="org.unicase.ui.visualization.commands.switchColoring">
      </handler>
      <handler
            class="org.unicase.ui.visualization.commands.SetTypeColor"
            commandId="org.unicase.ui.visualization.commands.setTypeColor">
      </handler>
      <handler
            class="org.unicase.ui.visualization.commands.FilterEClassType"
            commandId="org.unicase.ui.visualization.filterEClassType">
      </handler>
   </extension>

</plugin>
