<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4"?>
<plugin>
   <extension-point id="org.eclipse.emf.emfstore.client.postCreationObserver" name="PostCreationObserver" schema="schema/org.eclipse.emf.emfstore.client.postCreationObserver.exsd"/>
   
    <extension
       point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="org.unicase.ui.unicasecommon.common.commands.SubscriptionTester"
              id="org.unicase.ui.common.commands.subscriptionTester"
              namespace="org.unicase.ui.common.commands"
              properties="isSubscribed,isNotSubscribed"
              type="org.eclipse.emf.ecore.EObject">
        </propertyTester>
 </extension>
<extension
         point="org.eclipse.ui.views">
      <category
            name="unicase"
            id="org.unicase">
      </category>
      <view
            category="org.unicase"
            class="org.unicase.ui.unicasecommon.common.views.Preview"
            icon="icons/user_comment.png"
            id="org.unicase.ui.common.views.previewID"
            name="Preview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.CreateMEHandler"
            description="This generic command is used to by dynamic commands to create different MEs"
            id="org.unicase.ui.unicasecommon.navigator.createME"
            name="New Model Element">
         <commandParameter
               id="org.unicase.ui.navigator.eClassParameter"
               name="eClassParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.eClassType">
         </commandParameter>
         <commandParameter
               id="org.unicase.ui.navigator.diagramTypeParameter"
               name="diagramTypeParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.diagramType">
         </commandParameter>
      </command>
  
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.NewModelElementWizardHandler"
            id="org.unicase.ui.navigator.newMEWizard"
            name="New ModelElement Wizard">
      </command>
      <commandParameterType
            converter="org.unicase.ui.unicasecommon.navigator.commands.EClassTypeConverter"
            id="org.unicase.ui.navigator.eClassType"
            type="org.eclipse.emf.ecore.EClass">
      </commandParameterType>
            <commandParameterType
            converter="org.unicase.ui.unicasecommon.navigator.commands.DiagramTypeConverter"
            id="org.unicase.ui.navigator.diagramType"
            type="org.unicase.model.diagram.DiagramType">
      </commandParameterType>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.NewLeafSection"
            id="org.unicase.ui.navigator.newLeafSection"
            name="newLeafSection">
      </command>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.NewCompositeSectionHandler"
            id="org.unicase.ui.navigator.newCompositeSection"
            name="newCompositeSection">
      </command>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.navigator.commands.FollowupMeetingWizardHandler"
            id="org.unicase.ui.navigator.followupMeeting"
            name="followupMeeting">
      </command>
      <command
            categoryId="org.unicase.ui.common.modifyModelelement"
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.NewDocumentHandler"
            id="org.unicase.ui.common.newDocument"
            name="New Document">
      </command>
      <command
            categoryId="org.unicase.ui.common.modifyModelelement"
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.OpenDiagramWithMEEditorHandler"
            id="org.unicase.ui.common.openDiagramWithMEEditor"
            name="Open with MEEditor">
      </command>
      <command
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.AddCommentHandler"
            id="org.unicase.ui.common.commands.addComment"
            name="addComment">
      </command>
      <command
            categoryId="org.unicase.ui.common.commands.addAnnotations"
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.AddAnnotationHandler"
            id="org.unicase.ui.common.commands.annotateIssue"
            name="annotateIssue">
      </command>
      <category
            id="org.unicase.ui.common.commands.addAnnotations"
            name="Add Annotations">
      </category>
      <command
            categoryId="org.unicase.ui.common.commands.addAnnotations"
            defaultHandler="org.unicase.ui.unicasecommon.common.handlers.AddAnnotationHandler"
            id="org.unicase.ui.common.commands.annotateActionItem"
            name="annotateActionItem">
      </command>
    
      <category
            id="org.unicase.ui.common.modifyModelelement"
            name="Modify Modelelement">
      </category>
   </extension>
    <!--    -->

    <!--    -->
   
  <extension
        point="org.eclipse.ui.menus">
     
     <menuContribution
           locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
        <command
              commandId="org.unicase.ui.navigator.followupMeeting"
              label="Follow-up meeting..."
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.model.meeting.Meeting">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <dynamic
              class="org.unicase.ui.unicasecommon.navigator.commands.DynamicContainmentCommands"
              id="org.unicase.ui.navigator.dynamicContainmentCommands">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <and>
                       <instanceof
                             value="org.eclipse.emf.ecore.EObject">
                       </instanceof>
                       <not>
                          <instanceof
                                value="org.unicase.model.document.Section">
                          </instanceof>
                       </not>
                    </and>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </dynamic>
        <command
              commandId="org.unicase.ui.navigator.newCompositeSection"
              icon="icons/CompositeSection.gif"
              label="New composite section"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.model.document.CompositeSection">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.navigator.newLeafSection"
              icon="icons/LeafSection.gif"
              label="New leaf section"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.model.document.CompositeSection">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.navigator.newMEWizard"
              icon="icons/NewModelElement.png"
              label="New model element..."
              style="push">
              <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <test
                                 args="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard"
                                 property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                 value="true">
                           </test>
                           <or>
                              <instanceof
                                    value="org.eclipse.emf.ecore.resource.Resource">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.emf.ecp.core.ECPProject">
                              </instanceof>
                                   <instanceof
                                    value="org.unicase.model.document.LeafSection">
                              </instanceof>
                           </or>
                        </iterate>
                     </and>
               </with>
            </visibleWhen>
        </command>
        <separator
              name="org.unicase.ui.navigator.createModelElementCommands"
              visible="true">
        </separator>
        <command
              commandId="org.unicase.ui.common.openDiagramWithMEEditor"
              icon="icons/application_form_edit.png"
              label="Open with MEEditor"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <reference
                          definitionId="org.unicase.ui.common.commands.MEDiagram">
                    </reference>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.newDocument"
              icon="icons/Document.gif"
              label="New Document"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                   <instanceof
                                    value="org.eclipse.emf.ecore.resource.Resource">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.emf.ecp.core.ECPProject">
                              </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <separator
              name="org.unicase.ui.common.commands.modifyCommands"
              visible="true">
        </separator>
        <menu
              label="Add References">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <and>
                    	<instanceof value="org.unicase.model.UnicaseModelElement" />
                    </and>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
           <command
                 commandId="org.unicase.ui.common.commands.addComment"
                 icon="icons/Comment.png"
                 label="Add Comment"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <and>
                    <iterate
                          ifEmpty="false"
                          operator="and">
                       <instanceof
                             value="org.eclipse.emf.ecore.EObject">
                       </instanceof>
                    </iterate>
                    <count
                          value="1">
                    </count>
                 </and>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.ui.common.commands.annotateActionItem"
                 icon="icons/ActionItem.png"
                 label="Add Action Item"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <and>
                    <iterate
                          ifEmpty="false"
                          operator="and">
                       <reference
                             definitionId="org.unicase.ui.common.commands.directAnnotatable">
                       </reference>
                    </iterate>
                    <count
                          value="1">
                    </count>
                 </and>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.ui.common.commands.annotateIssue"
                 icon="icons/Issue.gif"
                 label="Add Issue"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <and>
                    <iterate
                          ifEmpty="false"
                          operator="and">
                       <reference
                             definitionId="org.unicase.ui.common.commands.directAnnotatable">
                       </reference>
                    </iterate>
                    <count
                          value="1">
                    </count>
                 </and>
              </visibleWhen>
           </command>
        </menu>
        <command
              commandId="org.unicase.ui.unicasecommon.importUser"
              icon="icons/importuser.png"
              label="Import Users"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.eclipse.emf.ecp.core.ECPProject">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <separator
              name="org.unicase.ui.common.commands.annotateActionItemSeperator"
              visible="true">
        </separator>
     </menuContribution>
    
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.unicase.ui.common.commands.modelElementNotSection">
        <and>
           <instanceof
                 value="org.unicase.model.UnicaseModelElement">
           </instanceof>
           <not>
              <instanceof
                    value="org.unicase.model.document.Section">
              </instanceof>
           </not>
        </and>
     </definition>
     <definition
           id="org.unicase.ui.common.commands.workPackage">
        <instanceof
              value="org.unicase.model.task.WorkPackage">
        </instanceof>
     </definition>
     <definition
           id="org.unicase.ui.common.commands.MEDiagram">
        <instanceof
              value="org.unicase.model.diagram.MEDiagram">
        </instanceof>
     </definition>
     <definition
           id="org.unicase.ui.common.commands.directAnnotatable">
        <and>
           <instanceof
                 value="org.eclipse.emf.ecore.EObject">
           </instanceof>
           <not>
              <instanceof
                    value="org.unicase.model.meeting.MeetingSection">
              </instanceof>
           </not>
        </and>
     </definition>
  </extension>
    <extension
        point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           class="org.unicase.ui.unicasecommon.common.decorators.StateDecorator"
           id="org.unicase.ui.common.decorators.StateDecorator"
           label="State Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.emf.ecore.EObject">
           </objectClass>
        </enablement>
        <description>
           Shows state of a model element (Blocked/Running).
        </description>
     </decorator>
  </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="org.unicase.ui.unicasecommon.common.UnicasePerspective"
             icon="icons/unicase.png"
             id="org.unicase.ui.unicasecommon.common.UnicasePerspective"
             name="UNICASE">
       </perspective>
    </extension>
    <extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension
         targetID="org.unicase.ui.unicasecommon.common.UnicasePerspective">
      <viewShortcut
            id="org.unicase.ui.taskview">
      </viewShortcut>
   </perspectiveExtension>
       </extension>
	<extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
		<contributionItemProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider" checkPluginLoaded="false">
			<Priority name="Highest"/>
				<popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
					<popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart"/>
				<popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
    <popupPredefinedItem
          id="deleteFromModelAction"
          remove="true">
    </popupPredefinedItem>
    <popupPredefinedItem
          id="showPropertiesViewAction"
          remove="true">
    </popupPredefinedItem>
    <popupPredefinedItem
          id="properties"
          remove="true">
    </popupPredefinedItem>
			</popupContribution>
    <popupContribution
          class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
       <popupStructuredContributionCriteria
             objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
       </popupStructuredContributionCriteria>
       <popupPredefinedItem
             id="showPropertiesViewAction"
             remove="true">
       </popupPredefinedItem>
       <popupPredefinedItem
             id="properties"
             remove="true">
       </popupPredefinedItem>
       <popupPredefinedItem
             id="deleteFromDiagramAction"
             remove="true">
       </popupPredefinedItem>
    </popupContribution>
    <popupContribution
          class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
       <popupStructuredContributionCriteria
             objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionNodeEditPart">
       </popupStructuredContributionCriteria>
       <popupPredefinedItem
             id="showPropertiesViewAction"
             remove="true">
       </popupPredefinedItem>
       <popupPredefinedItem
             id="properties"
             remove="true">
       </popupPredefinedItem>
       <popupPredefinedItem
             id="deleteFromDiagramAction"
             remove="true">
       </popupPredefinedItem>
    </popupContribution>
		</contributionItemProvider>
</extension>
  <extension
        point="org.eclipse.emf.emfstore.client.postCreationObserver">
     <observer
           postCreationObserver="org.unicase.ui.unicasecommon.common.UnicasePostModelElementCreationListener">
     </observer>
  </extension>
  <extension
        point="org.eclipse.emf.emfstore.client.editingDomainProvider">
     <provider
           class="org.unicase.ui.unicasecommon.changetracking.TransactionalEditingDomainProvider">
     </provider>
  </extension>
  <extension
        point="org.eclipse.emf.emfstore.client.commitObserver">
     <observer
           commitObserver="org.unicase.ui.unicasecommon.meeditor.mecontrols.MEFileChooserControl">
     </observer>
  </extension>
  <extension
        point="org.eclipse.emf.ecp.ui.menuContributionEnablement">
     <MenuContributionEnablement
           enabled="true">
        <Command
              commandID="org.eclipse.emf.ecp.navigator.dynamicMECreationCommands">
        </Command>
     </MenuContributionEnablement>
  </extension>
    <extension
        point="org.eclipse.emf.emfstore.client.clientVersion">
     <version
           class="org.unicase.ui.unicasecommon.UnicaseClientVersionProvider">
     </version>
  </extension>
    <extension
          id="unicase_application"
          point="org.eclipse.core.runtime.applications">
       <application
             icon="icons/unicase_big.png">
          <run
                class="org.unicase.ui.unicasecommon.application.UNICASEApplication">
          </run>
       </application>
    </extension>
       <extension
         point="org.eclipse.ui.activities">
      <activity
            id="org.eclipse.emf.ecp.application.e3.enablement"
            name="3x Application UI Enablement">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.emf.ecp.application.e3.enablement"
            pattern=".*/org\.eclipse\.emf\.ecp\.application3x\.perspective">
      </activityPatternBinding>
   </extension>
          <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.unicase.ui.unicasecommon.application.NavigatorRoot"
            id="org.eclipse.emf.ecp.NavigatorRoot">
      </factory>
   </extension>
          <extension
                point="org.eclipse.emf.ecp.ui.modelElementOpener">
             <modelElementOpener
                   class="org.unicase.ui.unicasecommon.ECPModelElementOpener">
                <staticTester
                      modelElement="org.unicase.model.UnicaseModelElement"
                      priority="5">
                </staticTester>
             </modelElementOpener>
          </extension>
          <extension
                point="org.eclipse.ui.activities">
             <activity
                   id="org.unicase.ui.activity.suppress"
                   name="org.unicase.ui.activity.suppress">
             </activity>
             <activityPatternBinding
                   activityId="org.unicase.ui.activity.suppress"
                   pattern="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard">
             </activityPatternBinding>
          </extension>
</plugin>
