<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.workspace.ui.Other?after=org.unicase.ui.common.validate">
         <command
               commandId="org.unicase.analyzer.ui.analyzer"
               icon="icon/analysis.png"
               label="Analyze Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.workspace.ProjectSpace">
                  </instanceof>
                  <test
                    forcePluginActivation="true"
                    property="org.unicase.workspace.ui.commands.projectIsShared"
                    value="true">
              	  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.analyzer.ui.commands.AnalyzerWizardHandler"
            id="org.unicase.analyzer.ui.analyzer"
            name="analyzer">
      </command>
   </extension>

</plugin>
