<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.ui.meeditor.pages">
      <page
            class="org.unicase.bowlingmodel.pluginproject.EmptyPage"
            name="org.unicase.bowlingexample.editorcustomisation.page1">
      </page>
   </extension>

</plugin>
