<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="DeltaPack">
<locations>
<location path="C:\Users\User\Desktop\eclipse-3.6.1-delta-pack\eclipse" type="Directory"/>
</locations>
</target>
