<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.unicase.ecp.model.ecpModelPackage">
         <modelPackage
            modelPackage="http://unicase.org/model/review"></modelPackage>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/review"
            class="review.ReviewPackage"
            genModel="model/review.genmodel"/>
   </extension>
</plugin>
