<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.unicase.workspace.ui.merge.customoption" name="customoption" schema="schema/customoption.exsd"/>
  <extension-point id="org.unicase.workspace.ui.commitdialog.tray" name="org.unicase.workspace.ui.commitdialog.tray" schema="schema/org.unicase.workspace.ui.commitdialog.tray.exsd"/>
  <extension
        point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.workspace.ui.commands.RevertHandler"
            commandId="org.unicase.workspace.ui.revert">
         <enabledWhen>
            <and>
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <instanceof
                        value="org.unicase.workspace.ProjectSpace">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.unicase.workspace.ui.commands.projectHasLocalChanges"
                        value="true">
                  </test>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.unicase.workspace.ui.commands.UndoLastOperationHandler"
            commandId="org.unicase.workspace.ui.undoLastOperation">
         <enabledWhen>
            <and>
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <instanceof
                        value="org.unicase.workspace.ProjectSpace">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.unicase.workspace.ui.commands.projectHasLocalChanges"
                        value="true">
                  </test>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
     <handler
           class="org.unicase.workspace.ui.commands.ImportChangesHandler"
           commandId="org.unicase.workspace.ui.importChanges">
        <enabledWhen>
           <and>
              <iterate
                    ifEmpty="true"
                    operator="and">
                 <instanceof
                       value="org.unicase.workspace.ProjectSpace">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.unicase.workspace.ui.commands.projectHasLocalChanges"
                       value="true">
                 </test>
              </iterate>
           </and>
        </enabledWhen>
     </handler>
     <handler
           class="org.unicase.workspace.ui.commands.CommitProjectHandler"
           commandId="org.unicase.workspace.ui.commitProject">
        <enabledWhen>
           <and>
              <iterate
                    ifEmpty="true"
                    operator="and">
                 <instanceof
                       value="org.unicase.workspace.ProjectSpace">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.unicase.workspace.ui.commands.projectHasLocalChanges"
                       value="true">
                 </test>
              </iterate>
           </and>
        </enabledWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="org.unicase.workspace.ui.project"
           name="Unicase">
     </category>
     <command
           categoryId="org.unicase.workspace.ui.project"
           id="org.unicase.workspace.ui.commitProject"
           name="commit">
     </command>
     <command
           id="org.unicase.workspace.ui.importChanges"
           name="importChanges">
     </command>
     <command
           id="org.unicase.workspace.ui.undoLastOperation"
           name="undoLastOperation">
     </command>
     <command
           categoryId="org.unicase.workspace.ui.project"
           id="org.unicase.workspace.ui.revert"
           name="Revert">
     </command>
     <command
           categoryId="org.unicase.workspace.ui.project"
           defaultHandler="org.unicase.workspace.ui.commands.UpdateProjectHandler"
           id="org.unicase.workspace.ui.updateProject"
           name="update">
     </command>
     <command
           categoryId="org.unicase.workspace.ui.project"
           defaultHandler="org.unicase.workspace.ui.commands.ShareProjectHandler"
           id="org.unicase.workspace.ui.shareProject"
           name="share">
     </command>
     <command
           categoryId="org.unicase.workspace.ui.project"
           defaultHandler="org.unicase.workspace.ui.commands.ImportProjectHandler"
           id="org.unicase.workspace.ui.importProject"
           name="import">
     </command>
     <command
           categoryId="org.unicase.workspace.ui.project"
           defaultHandler="org.unicase.workspace.ui.commands.ExportProjectHandler"
           id="org.unicase.workspace.ui.exportProject"
           name="export">
     </command>
     <command
           categoryId="org.unicase.workspace.ui.project"
           defaultHandler="org.unicase.workspace.ui.commands.DeleteProjectHandler"
           id="org.unicase.workspace.ui.deleteProject"
           name="deleteProject">
     </command>
     <command
           defaultHandler="org.unicase.workspace.ui.commands.ShowHistoryHandler"
           id="org.unicase.workspace.ui.showHistory"
           name="showHistory">
     </command>
     <command
           defaultHandler="org.unicase.workspace.ui.commands.CompareProjectsHandler"
           id="org.unicase.workspace.ui.compareProjects"
           name="compareProjects">
     </command>
     <command
           defaultHandler="org.unicase.workspace.ui.commands.ExportChangesHandler"
           id="org.unicase.workspace.ui.exportChanges"
           name="exportChanges">
     </command>
     <command
           defaultHandler="org.unicase.workspace.ui.commands.ExportProjectSpaceHandler"
           id="org.unicase.workspace.ui.exportProjectSpace"
           name="exportProjectSpace">
     </command>
     <command
           defaultHandler="org.unicase.workspace.ui.commands.ExportWorkSpaceHandler"
           id="org.unicase.workspace.ui.exportWorkSpace"
           name="exportWorkSpace">
     </command>
     <command
           defaultHandler="org.unicase.workspace.ui.commands.ImportProjectSpaceHandler"
           id="org.unicase.workspace.ui.importProjectSpace"
           name="importProjectSpace">
     </command>
 
     <command
           categoryId="org.unicase.workspace.ui.project"
           defaultHandler="org.unicase.workspace.ui.commands.UpdateProjectVersionHandler"
           id="org.unicase.workspace.ui.updateProjectVersion"
           name="updateToVersion">
     </command>
     <command
           categoryId="org.unicase.workspace.ui.project"
           defaultHandler="org.unicase.workspace.ui.commands.ProjectPropertiesHandler"
           id="org.unicase.workspace.ui.projectProperties"
           name="properties">
     </command>
     <command
           categoryId="org.unicase.workspace.ui.project"
           defaultHandler="org.unicase.workspace.ui.commands.NewLocalProjectHandler"
           id="org.unicase.workspace.ui.NewLocalProject"
           name="NewLocalProject">
     </command>
     <command
           defaultHandler="org.unicase.workspace.ui.commands.ShowHistoryHandler"
           id="org.unicase.ui.stem.ShowHistory"
           name="Show History">
     </command>
     <command
           defaultHandler="org.unicase.workspace.ui.commands.ValidateHandler"
           id="org.unicase.workspace.ui.validate"
           name="Validate">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.unicase.ui.navigator.viewer?before=additions">
        <command
              commandId="org.unicase.workspace.ui.commitProject"
              disabledIcon="icons/advanced.gif"
              icon="icons/commit.gif"
              label="Commit Project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.ui.commands.projectIsShared"
                          value="true">
                    </test>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.workspace.ui.updateProject"
              icon="icons/update.gif"
              label="Update Project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.ui.commands.projectIsShared"
                          value="true">
                    </test>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.workspace.ui.updateProjectVersion"
              icon="icons/update.gif"
              label="Update to version..."
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.ui.commands.projectIsShared"
                          value="true">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.ui.commands.isAdmin"
                          value="true">
                    </test>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.workspace.ui.shareProject"
              icon="icons/relocate.gif"
              label="Share  Project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.ui.commands.projectIsShared"
                          value="false">
                    </test>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <separator
              name="org.unicase.workspace.ui.undoRevertCommands"
              visible="true">
        </separator>
        <command
              commandId="org.unicase.workspace.ui.undoLastOperation"
              icon="icons/arrow_left.png"
              label="Undo Last Operation"
              style="push"
              tooltip="Undo the last executed operation">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.workspace.ui.revert"
              icon="icons/revert.png"
              label="Revert All Operations"
              style="push"
              tooltip="Reverts all operations since last commit">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <separator
              name="org.unicase.workspace.ui.additionalCommands"
              visible="true">
        </separator>
        <command
              commandId="org.unicase.workspace.ui.showHistory"
              icon="icons/historyview.png"
              label="Show History"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.ui.commands.projectIsShared"
                          value="true">
                    </test>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        
        <separator
              name="org.unicase.workspace.ui.otherCommands"
              visible="true">
        </separator>
        <command
              commandId="org.unicase.workspace.ui.deleteProject"
              icon="icons/delete.gif"
              label="Delete Project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.workspace.ui.validate"
              icon="icons/validation.png"
              label="Validate"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <count
                       value="1">
                 </count>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </and>
           </visibleWhen>
        </command>
        <menu
              icon="icons/createrepos.gif"
              id="org.unicase.workspace.ui.Other"
              label="Other...">
           <menu
                 icon="icons/export.gif"
                 label="Export">
              <command
                    commandId="org.unicase.workspace.ui.exportProject"
                    icon="icons/export.gif"
                    label="Export Project"
                    style="push">
                 <visibleWhen
                       checkEnabled="false">
                    <and>
                       <iterate
                             ifEmpty="false"
                             operator="and">
                          <instanceof
                                value="org.unicase.workspace.ProjectSpace">
                          </instanceof>
                       </iterate>
                       <count
                             value="1">
                       </count>
                    </and>
                 </visibleWhen>
              </command>
              <command
                    commandId="org.unicase.workspace.ui.exportChanges"
                    icon="icons/export.gif"
                    label="Export Changes"
                    style="push">
                 <visibleWhen
                       checkEnabled="false">
                    <and>
                       <iterate
                             ifEmpty="false"
                             operator="and">
                          <instanceof
                                value="org.unicase.workspace.ProjectSpace">
                          </instanceof>
                          <test
                                forcePluginActivation="true"
                                property="org.unicase.workspace.ui.commands.projectHasLocalChanges"
                                value="true">
                          </test>
                       </iterate>
                       <count
                             value="1">
                       </count>
                    </and>
                 </visibleWhen>
              </command>
              <command
                    commandId="org.unicase.workspace.ui.exportProjectSpace"
                    icon="icons/export.gif"
                    label="Export Projectspace"
                    style="push">
                 <visibleWhen
                       checkEnabled="false">
                    <and>
                       <iterate
                             ifEmpty="false"
                             operator="and">
                          <instanceof
                                value="org.unicase.workspace.ProjectSpace">
                          </instanceof>
                       </iterate>
                       <count
                             value="1">
                       </count>
                    </and>
                 </visibleWhen>
              </command>
              <command
                    commandId="org.unicase.workspace.ui.exportWorkSpace"
                    icon="icons/export.gif"
                    label="Export Workspace"
                    style="push">
                 <visibleWhen
                       checkEnabled="false">
                    <and>
                       <or>
                          <count
                                value="0">
                          </count>
                          <count
                                value="1">
                          </count>
                       </or>
                       <iterate>
                          <not>
                             <instanceof
                                   value="org.unicase.metamodel.ModelElement">
                             </instanceof>
                          </not>
                       </iterate>
                    </and>
                 </visibleWhen>
              </command>
           </menu>
           <menu
                 icon="icons/import.gif"
                 label="Import">
              <command
                    commandId="org.unicase.workspace.ui.importChanges"
                    icon="icons/import.gif"
                    label="Import Changes"
                    style="push">
                 <visibleWhen
                       checkEnabled="false">
                    <and>
                       <iterate
                             ifEmpty="false"
                             operator="and">
                          <instanceof
                                value="org.unicase.workspace.ProjectSpace">
                          </instanceof>
                          <test
                                forcePluginActivation="true"
                                property="org.unicase.workspace.ui.commands.projectHasLocalChanges"
                                value="false">
                          </test>
                       </iterate>
                       <count
                             value="1">
                       </count>
                    </and>
                 </visibleWhen>
              </command>
              <command
                    commandId="org.unicase.workspace.ui.importProject"
                    icon="icons/import.gif"
                    label="Import Project"
                    style="push">
                 <visibleWhen
                       checkEnabled="false">
                    <and>
                       <or>
                          <count
                                value="0">
                          </count>
                          <count
                                value="1">
                          </count>
                       </or>
                       <iterate>
                          <not>
                             <instanceof
                                   value="org.unicase.metamodel.ModelElement">
                             </instanceof>
                          </not>
                       </iterate>
                    </and>
                 </visibleWhen>
              </command>
              <command
                    commandId="org.unicase.workspace.ui.importProjectSpace"
                    icon="icons/import.gif"
                    label="Import Projectspace"
                    style="push">
                 <visibleWhen
                       checkEnabled="false">
                    <and>
                       <or>
                          <count
                                value="0">
                          </count>
                          <count
                                value="1">
                          </count>
                       </or>
                       <iterate>
                          <not>
                             <instanceof
                                   value="org.unicase.metamodel.ModelElement">
                             </instanceof>
                          </not>
                       </iterate>
                    </and>
                 </visibleWhen>
              </command>
              <command
                    commandId="org.unicase.ui.navigator.importModel"
                    icon="icons/import.gif"
                    label="Import Model Element"
                    style="push">
                 <visibleWhen
                       checkEnabled="false">
                    <and>
                       <iterate
                             ifEmpty="false"
                             operator="and">
                          <instanceof
                                value="org.unicase.workspace.ProjectSpace">
                          </instanceof>
                       </iterate>
                       <count
                             value="1">
                       </count>
                    </and>
                 </visibleWhen>
              </command>
           </menu>
           
           <command
                 commandId="org.unicase.workspace.ui.compareProjects"
                 icon="icons/compare.png"
                 label="Compare to ..."
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <and>
                    <iterate
                          ifEmpty="false"
                          operator="and">
                       <instanceof
                             value="org.unicase.workspace.ProjectSpace">
                       </instanceof>
                    </iterate>
                    <count
                          value="1">
                    </count>
                 </and>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.ui.NewLocalProject"
                 icon="icons/serverAdd.png"
                 label="New Project..."
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <and>
                    <or>
                       <count
                             value="0">
                       </count>
                       <count
                             value="1">
                       </count>
                    </or>
                    <iterate>
                       <not>
                          <instanceof
                                value="org.unicase.metamodel.ModelElement">
                          </instanceof>
                       </not>
                    </iterate>
                 </and>
              </visibleWhen>
           </command>
        </menu>
        <menu
              label="label">
        </menu>
        <separator
              name="org.unicase.workspace.ui.scmCommands"
              visible="true">
        </separator>
        <command
              commandId="org.unicase.workspace.ui.projectProperties"
              label="Properties"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.ui.commands.projectIsShared"
                          value="true">
                    </test>
                 </iterate>
                 <count
                       value="1">
                 </count>
              </and>
           </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.stem.ShowInStatusView">
         <command
               commandId="org.unicase.ui.stem.ShowHistory"
               icon="icons/historyview.png"
               label="Show History"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <reference
                           definitionId="org.unicase.ui.common.commands.modelElement">
                     </reference>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="org.unicase.ui.stem.ShowHistoryViewSeperator"
               visible="true">
         </separator>
      </menuContribution>
     <menuContribution
           locationURI="toolbar:org.unicase.ui.meeditor.MEEditorPage?after=additions">
        <command
              commandId="org.unicase.ui.stem.ShowHistory"
              icon="icons/historyview.png"
              label="Show History"
              style="push">
        </command>
     </menuContribution>
  </extension>
  
     <extension
         point="org.eclipse.ui.views">
      <category
            id="org.unicase"
            name="Unicase">
      </category>
      <view
            allowMultiple="false"
            category="org.unicase"
            class="org.unicase.workspace.ui.views.historybrowserview.HistoryBrowserView"
            icon="icons/historyview.png"
            id="org.unicase.workspace.ui.views.historybrowserview.HistoryBrowserView"
            name="History Browser"
            restorable="false">
      </view>
   
    
   </extension>
 
     
     <extension
           point="org.eclipse.ui.bindings">
        <key
              commandId="org.unicase.workspace.ui.commitProject"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+C">
        </key>
        <key
              commandId="org.unicase.workspace.ui.updateProject"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+P">
        </key>
        <key
              commandId="org.unicase.workspace.ui.deleteProject"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+Delete">
        </key>
        <key
              commandId="org.unicase.workspace.ui.projectProperties"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+E">
        </key>
        <key
              commandId="org.unicase.workspace.ui.validate"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+V">
        </key>
     </extension>
     <extension
           point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="org.unicase.workspace.ui.commands.ProjectIsSharedTester"
              id="org.unicase.workspace.ui.commands.projectIsSharedTester"
              namespace="org.unicase.workspace.ui.commands"
              properties="projectIsShared"
              type="org.unicase.workspace.ProjectSpace">
        </propertyTester>
        <propertyTester
              class="org.unicase.workspace.ui.commands.ProjectHasLocalChangesTester"
              id="org.unicase.workspace.ui.commands.projectHasLocalChangesTester"
              namespace="org.unicase.workspace.ui.commands"
              properties="projectHasLocalChanges"
              type="org.unicase.workspace.ProjectSpace">
        </propertyTester>
        <propertyTester
              class="org.unicase.workspace.ui.commands.IsAdminTester"
              id="org.unicase.workspace.ui.commands.isAdminTester"
              namespace="org.unicase.workspace.ui.commands"
              properties="isAdmin"
              type="org.unicase.workspace.ProjectSpace">
        </propertyTester>
        <propertyTester
              class="org.unicase.workspace.ui.commands.IsACUserTester"
              id="org.unicase.workspace.ui.commands.isACUserTester"
              namespace="org.unicase.workspace.ui.commands"
              properties="isACUser"
              type="org.unicase.workspace.ProjectSpace">
        </propertyTester>
     </extension>
        
           <extension
         point="org.eclipse.ui.views">
      <category
            name="unicase"
            id="org.unicase">
      </category>
      <view
            name="EmfStore Browser"
            icon="icons/serverDB.png"
            category="org.unicase"
            class="org.unicase.workspace.ui.views.emfstorebrowser.views.ESBrowserView"
            id="org.unicase.ui.repository.views.RepositoryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
        point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           class="org.unicase.workspace.ui.views.emfstorebrowser.provider.ESBrowserLabelDecorator"
           id="org.unicase.ui.estorebrowser.LoginDecorator"
           label="Login Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.workspace.ServerInfo">
           </objectClass>
        </enablement>
     </decorator>
  </extension>

</plugin>
