<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.unicase.patchAttachment.ui.ResourceContributions"
            objectClass="org.eclipse.core.resources.mapping.ResourceMapping">
         <menu
               icon="icons/unicase.png"
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
               label="Unicase Change Tracking"
               path="team.main">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.unicase.changetracking.ui.CreateChangePackageActionDelegate"
               enablesFor="1"
               icon="icons/GitBranchChangePackage.gif"
               id="org.eclipse.ui.articles.action.contribution.navigator.action2"
               label="Create Change Package"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/group1">
         </action>
         <action
               class="org.unicase.changetracking.ui.CreateRepositoryActionDelegate"
               enablesFor="1"
               icon="icons/GitRepository.gif"
               id="org.eclipse.ui.articles.action.contribution.navigator.action3"
               label="Register Remote Repository"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="org.unicase.changetracking.ui.menuContribution2">
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.unicase.ui.meeditor.MEEditorPage?after=additions">
         <command
               commandId="org.unicase.changetracking.ui.buildReleaseCommand"
               icon="icons/full/obj16/ChangeTrackingRelease.gif"
               label="Build Release"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeModelelement">
                  <reference
                        definitionId="org.unicase.changetracking.ui.definitions.isRelease">
                  </reference>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.unicase.ui.meeditor.melinkcontrols">
      <widget
            class="org.unicase.changetracking.ui.MEChangePackageControl"
            name="org.unicase.changetracking.ui.MEChangePackageControl"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.changetracking.ui.buildRelease.BuildReleaseHandler"
            id="org.unicase.changetracking.ui.buildReleaseCommand"
            name="Build Release">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.unicase.changetracking.ui.definitions.isRelease">
         <instanceof
               value="org.unicase.model.changetracking.ChangeTrackingRelease">
         </instanceof>
      </definition>
   </extension>

</plugin>
