<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.unicase.ui.common.diagram.MEDiagramResource"
            contentTypeIdentifier="MEDiagram">
      </parser>
   </extension>

</plugin>
