<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.unicase.ui.common.diagram.MEDiagramResource"
            contentTypeIdentifier="MEDiagram">
      </parser>
   </extension>
  <extension
        point="org.eclipse.ui.handlers">
         <handler
           class="org.unicase.ui.common.commands.DeleteModelelementHandler"
           commandId="org.unicase.ui.common.deleteModelelement">
     </handler>
         <handler
               class="org.unicase.ui.common.commands.NewDocumentHandler"
               commandId="org.unicase.ui.common.newDocument">
         </handler>
  </extension>
   <extension
        point="org.eclipse.ui.commands">
     
     <category
           id="org.unicase.ui.common.modifyModelelement"
           name="Modify Modelelement">
     </category>
     <command
           categoryId="org.unicase.ui.common.modifyModelelement"
           id="org.unicase.ui.common.deleteModelelement"
           name="Delete Modelelement">
     </command>
     <command
           categoryId="org.unicase.ui.common.modifyModelelement"
           id="org.unicase.ui.common.newDocument"
           name="New Document">
     </command>
  </extension>
   <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.workspace.edit.scmCommands">
      
        <command
              commandId="org.unicase.ui.common.deleteModelelement"
              icon="icons/delete.gif"
              label="Delete"
              style="push">
                <visibleWhen
                 checkEnabled="false">
              <iterate>
                 <instanceof
                       value="org.unicase.model.ModelElement">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.newDocument"
              icon="icons/Document.gif"
              label="New Document"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate>
                 <instanceof
                       value="org.unicase.workspace.ProjectSpace">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <separator
              name="org.unicase.ui.common.commands.modifyCommands">
        </separator>
        
     </menuContribution>
    
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.unicase.ui.common.commands.addAnnotations"
           defaultHandler="org.unicase.ui.common.commands.AddAnnotationHandler"
           id="org.unicase.ui.common.commands.annotateActionItem"
           name="annotateActionItem">
     </command>
     <command
           categoryId="org.unicase.ui.common.commands.addAnnotations"
           defaultHandler="org.unicase.ui.common.commands.AddAnnotationHandler"
           id="org.unicase.ui.common.commands.annotateIssue"
           name="annotateIssue">
     </command>
     <command
           categoryId="org.unicase.ui.common.commands.addAnnotations"
           defaultHandler="org.unicase.ui.common.commands.AddAnnotationHandler"
           id="org.unicase.ui.common.commands.annotateComment"
           name="annotateComment">
     </command>
     <category
           id="org.unicase.ui.common.commands.addAnnotations"
           name="Add Annotations">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.workspace.edit.scmCommands">
        <menu
              label="Add Annotations">
           <visibleWhen
                 checkEnabled="false">
              <iterate>
                 <reference
                       definitionId="org.unicase.ui.common.commands.modelElement">
                 </reference>
              </iterate>
           </visibleWhen>
           <command
                 commandId="org.unicase.ui.common.commands.annotateActionItem"
                 icon="icons/AnnotateWithActionItem.gif"
                 label="Add Action Item"
                 style="push">
           </command>
           <command
                 commandId="org.unicase.ui.common.commands.annotateIssue"
                 icon="icons/Issue.gif"
                 label="Add Issue"
                 style="push">
           </command>
           <command
                 commandId="org.unicase.ui.common.commands.annotateComment"
                 icon="icons/Comment.gif"
                 label="Add Comment"
                 style="push">
           </command>
        </menu>
        <separator
              name="org.unicase.ui.common.commands.annotateActionItemSeperator"
              visible="true">
      	 </separator>
        
     </menuContribution>
     <menuContribution
           locationURI="toolbar:org.unicase.ui.meeditor.MEEditorPage?after=additions">
        <command
              commandId="org.unicase.ui.common.commands.annotateActionItem"
              icon="icons/AnnotateWithActionItem.gif"
              label="Add Action Item"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="activeModelelement">
                 <reference
                       definitionId="org.unicase.ui.common.commands.modelElementNotSection">
                 </reference>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.commands.annotateIssue"
              icon="icons/Issue.gif"
              label="Add Issue"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="activeModelelement">
                 <reference
                       definitionId="org.unicase.ui.common.commands.modelElementNotSection">
                 </reference>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.commands.annotateComment"
              icon="icons/Comment.gif"
              label="Add Comment"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="activeModelelement">
                 <reference
                       definitionId="org.unicase.ui.common.commands.modelElementNotSection">
                 </reference>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.ui.common.deleteModelelement"
              icon="icons/delete.gif"
              label="Delete"
              style="push">
        </command>
     </menuContribution> 
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.unicase.ui.common.commands.modelElementNotSection">
        <and>
           <instanceof
                 value="org.unicase.model.ModelElement">
           </instanceof>
           <not>
              <instanceof
                    value="org.unicase.model.document.Section">
              </instanceof>
           </not>
        </and>
     </definition>
     <definition
           id="org.unicase.ui.common.commands.modelElement">
        <instanceof
              value="org.unicase.model.ModelElement">
        </instanceof>
     </definition>
  </extension>
    <extension
        point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.StateDecorator"
           id="org.unicase.ui.common.decorators.StateDecorator"
           label="State Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.model.ModelElement">
           </objectClass>
        </enablement>
     </decorator>
     <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.VersionDecorator"
           id="org.unicase.ui.common.decorators.VersionDecorator"
           label="Version Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.unicase.workspace.ProjectSpace">
           </objectClass>
        </enablement>
     </decorator>
    <!-- <decorator
           adaptable="true"
           class="org.unicase.ui.common.decorators.ReadOnly"
           id="org.unicase.ui.common.decorators.ReadOnly"
           label="Read-only Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <and>
              <objectClass
                    name="org.eclipse.core.resources.IResource">
              </objectClass>
              <or>
                 <objectClass
                       name="org.eclipse.core.resources.IFolder">
                 </objectClass>
                 <objectClass
                       name="org.eclipse.core.resources.IFile">
                 </objectClass>
              </or>
           </and>
        </enablement>
     </decorator> -->
  </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="org.unicase.ui.common.perspectives.UnicasePerspective"
             icon="icons/unicase.png"
             id="org.unicase.ui.common.perspectives.UnicasePerspective"
             name="Unicase Perspective">
       </perspective>
    </extension>
<extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="ModelClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.unicase.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="ModelClientContext">
         <elementType ref="org.unicase.classDiagram.Attribute_2001"/>
         <elementType ref="org.unicase.classDiagram.Method_2002"/>	
         <elementType ref="org.unicase.classDiagram.MEDiagram_88"/>
         <elementType ref="org.unicase.classDiagram.Class_1001"/>
         <elementType ref="org.unicase.classDiagram.Association_3001"/>
         <elementType ref="org.unicase.ui.usecaseDiagram.MEDiagram_77"/>
         <elementType ref="org.unicase.ui.usecaseDiagram.UseCase_1001"/>
         <elementType ref="org.unicase.ui.usecaseDiagram.Actor_1002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
</plugin>
