<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.ecp.model.ecpWorkspaceProvider">
      <WorkspaceProvider
            class="org.unicase.xmi.workspace.XMIECPWorkspaceProvider">
      </WorkspaceProvider>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package"> 
    <package 
       uri = "http://unicase.org/xmiworkspace/structureModel" 
       class = "org.unicase.xmi.xmiworkspacestructure.XmiworkspacestructurePackage" 
       genModel = "model/XMIWorkspace.genmodel" /> 
   </extension>
   
   <extension point="org.unicase.ecp.model.ecpModelPackage">
      <modelPackage
            modelPackage="XmiworkspacestructurePackage">
      
      </modelPackage>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.unicase.xmi.workspace"
            defaultHandler="org.unicase.xmi.commands.NewLocalProjectHandler"
            description="create new local xmi-file-project"
            id="org.unicase.xmi.workspace.NewLocalProject"
            name="NewLocalProject">
      </command>
      <command
            categoryId="org.unicase.xmi.workspace"
            defaultHandler="org.unicase.xmi.commands.ImportLocalProjectHandler"
            description="import xmi-file-project"
            id="org.unicase.xmi.workspace.ImportLocalProject"
            name="ImportLocalProject">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?before=additions">
         <command
               commandId="org.unicase.xmi.workspace.NewLocalProject"
               icon="icons/add.png"
               label="New Project..."
               style="push"
               tooltip="Click here to make love.">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <count
                        value="0">
                  </count>
                  <count
                        value="1">
                  </count>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.xmi.workspace.ImportLocalProject"
               icon="icons/import.png"
               label="Import Project-File..."
               style="push"
               tooltip="Click here to import love.">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <count
                        value="0">
                  </count>
                  <count
                        value="1">
                  </count>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
