<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.unicase.emfstore.startuplistener" name="StartupListener" schema="schema/startuplistener.exsd"/>
   <extension-point id="org.unicase.emfstore.poststartuplistener" name="PostStartupListener" schema="schema/poststartuplistener.exsd"/>
   <extension
         id="server"
         name="EMFStore server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icon/unicase_big.png"
            thread="main"
            visible="true">
         <run
               class="org.unicase.emfstore.EmfStoreController">
         </run>
      </application>
   </extension>
   <extension
         id="server"
         name="EMFStore"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.unicase.emfstore.server"
            description="Server Application of EMFStore"
            name="EMFStore Server">
         <property
               name="appName"
               value="EMFStore">
         </property>
      </product>
   </extension>
</plugin>
