<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>


-->

<plugin>
   <extension-point id="customOperationLabelProvider" name="customOperationLabelProvider" schema="schema/customOperationLabelProvider.exsd"/>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory
          class="org.eclipse.emf.emfstore.server.model.provider.ModelItemProviderAdapterFactory"
          supportedTypes=
          	"org.eclipse.emf.edit.provider.IEditingDomainItemProvider  
          	 org.eclipse.emf.edit.provider.IStructuredItemContentProvider  
          	 org.eclipse.emf.edit.provider.ITreeItemContentProvider  
          	 org.eclipse.emf.edit.provider.IItemLabelProvider 
          	 org.eclipse.emf.edit.provider.IItemPropertySource"
          uri="http://eclipse.org/emf/emfstore/server/model"/>
  </extension>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://eclipse.org/emf/emfstore/server/model/accesscontrol" 
       class = "org.eclipse.emf.emfstore.server.model.accesscontrol.provider.AccesscontrolItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  <extension  point="org.eclipse.emf.edit.itemProviderAdapterFactories">
     <factory
           uri = "http://eclipse.org/emf/emfstore/server/model/accesscontrol/roles"
           class = "org.eclipse.emf.emfstore.server.model.accesscontrol.roles.provider.RolesItemProviderAdapterFactory"
           supportedTypes = 
	         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
	          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
	          org.eclipse.emf.edit.provider.ITreeItemContentProvider
	          org.eclipse.emf.edit.provider.IItemLabelProvider
	          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  <extension  point="org.eclipse.emf.edit.itemProviderAdapterFactories">
     <factory
           class="org.eclipse.emf.emfstore.server.model.versioning.provider.VersioningItemProviderAdapterFactory"
           supportedTypes=
           	"org.eclipse.emf.edit.provider.IEditingDomainItemProvider  
           	 org.eclipse.emf.edit.provider.IStructuredItemContentProvider
           	 org.eclipse.emf.edit.provider.ITreeItemContentProvider
           	 org.eclipse.emf.edit.provider.IItemLabelProvider
           	 org.eclipse.emf.edit.provider.IItemPropertySource"
           uri="http://eclipse.org/emf/emfstore/server/model/versioning">
     </factory>
  </extension>
  <extension  point="org.eclipse.emf.edit.itemProviderAdapterFactories">
     <factory
           class="org.eclipse.emf.emfstore.server.model.versioning.operations.provider.OperationsItemProviderAdapterFactory"
           supportedTypes=
           	"org.eclipse.emf.edit.provider.IEditingDomainItemProvider
           	org.eclipse.emf.edit.provider.IStructuredItemContentProvider
           	org.eclipse.emf.edit.provider.ITreeItemContentProvider
           	org.eclipse.emf.edit.provider.IItemLabelProvider
           	org.eclipse.emf.edit.provider.IItemPropertySource"
           uri="http://eclipse.org/emf/emfstore/server/model/versioning/operations">
     </factory>
  </extension>

</plugin>
