<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.unicase.workspace.notification.providers">
     <provider
           class="org.unicase.ui.dashboard.notificationProviders.UpdateNotificationProvider"
           name="Update Notifications"
           priority="0">
     </provider>
     <provider
           class="org.unicase.ui.dashboard.notificationProviders.PushedNotificationProvider"
           name="Pushed Notifications"
           priority="1">
     </provider>
     <provider
           class="org.unicase.ui.dashboard.notificationProviders.TaskNotificationProvider"
           name="Task Notifications"
           priority="2">
     </provider>
     <provider
           class="org.unicase.ui.dashboard.notificationProviders.TaskChangeNotificationProvider"
           name="Task Change Notifications"
           priority="3">
     </provider>
     <provider
           class="org.unicase.ui.dashboard.notificationProviders.SubscriptionNotificationProvider"
           name="Subscriptions Notifications"
           priority="4">
     </provider>
     <provider
           class="org.unicase.ui.dashboard.notificationProviders.CommentsNotificationProvider"
           name="Comment Notifications"
           priority="5">
     </provider>
     <provider
           class="org.unicase.ui.dashboard.notificationProviders.TaskObjectNotificationProvider"
           name="Task Trace Notifications"
           priority="6">
     </provider>
  </extension>
</plugin>
