<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml"
            class="org.unicase.model.urml.UrmlPackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="urml"
            class="org.unicase.model.urml.util.UrmlResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml/goal"
            class="org.unicase.model.urml.goal.GoalPackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="goal"
            class="org.unicase.model.urml.goal.util.GoalResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml/requirement"
            class="org.unicase.model.urml.requirement.RequirementPackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="requirement"
            class="org.unicase.model.urml.requirement.util.RequirementResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml/usecase"
            class="org.unicase.model.urml.usecase.UsecasePackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="usecase"
            class="org.unicase.model.urml.usecase.util.UsecaseResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml/service"
            class="org.unicase.model.urml.service.ServicePackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="service"
            class="org.unicase.model.urml.service.util.ServiceResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml/danger"
            class="org.unicase.model.urml.danger.DangerPackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="danger"
            class="org.unicase.model.urml.danger.util.DangerResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://unicase.org/model/urml">
         </package>
         <constraints
               categories="org.unicase.model">
            <constraint
                  class="org.unicase.model.urml.validation.ANDMissingReferenceConstraint"
                  id="org.unicase.model.ANDMissingReferenceConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Model Element Missing Reference"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0} should have {1}.
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://unicase.org/model/urml">
         </package>
         <constraints
               categories="org.unicase.model">
            <constraint
                  class="org.unicase.model.urml.validation.ORMissingReferenceConstraint"
                  id="org.unicase.model.ORMissingReferenceConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Model Element Missing Reference"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0} should have {1}.
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://unicase.org/model/urml">
         </package>
         <constraints
               categories="org.unicase.model">
            <constraint
                  class="org.unicase.model.urml.validation.WrongFieldDataConstraint"
                  id="org.unicase.model.WrongFieldDataConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Wrong Field Data"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0} has a wrong {1}. (Not allowed: {2})
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://unicase.org/model/urml/requirement">
         </package>
         <constraints
               categories="org.unicase.model">
            <constraint
                  class="org.unicase.model.urml.requirement.validation.TerminalRequirementConstraint"
                  id="org.unicase.model.TerminalRequirementConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Terminal Requirement"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0} should have sub requirements or terminal should be set to true.
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://unicase.org/model/urml/feature">
         </package>
         <constraints
               categories="org.unicase.model">
            <constraint
                  class="org.unicase.model.urml.feature.validation.VariationPointRuleConstraint"
                  id="org.unicase.model.VariationPointRuleConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Violated Variation Point Rule"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0} does not conform the multiplicity of {1}.
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://unicase.org/model/urml">
         </package>
         <constraints
               categories="org.unicase.model">
            <constraint
                  class="org.unicase.model.urml.validation.ViolatedReferenceStructureConstraint"
                  id="org.unicase.model.ViolatedReferenceStructureConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Violated Reference Structure"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}: {1} references a parent element and one of his childs.
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.unicase.model.urml.feature.FeaturePackage"
            genModel="model/urml.genmodel"
            uri="http://unicase.org/model/urml/feature">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.unicase.model.urml.feature.util.FeatureResourceFactoryImpl"
            type="feature">
      </parser>
   </extension>

</plugin>
