<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml"
            class="org.unicase.model.urml.UrmlPackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="urml"
            class="org.unicase.model.urml.util.UrmlResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml/goal"
            class="urml.goal.GoalPackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="goal"
            class="urml.goal.util.GoalResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml/requirement"
            class="urml.requirement.RequirementPackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="requirement"
            class="urml.requirement.util.RequirementResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml/usecase"
            class="urml.usecase.UsecasePackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="usecase"
            class="urml.usecase.util.UsecaseResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml/service"
            class="urml.service.ServicePackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="service"
            class="urml.service.util.ServiceResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/urml/danger"
            class="urml.danger.DangerPackage"
            genModel="model/urml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="danger"
            class="urml.danger.util.DangerResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://unicase.org/model/urml/danger">
         </package>
         <constraints
               categories="org.unicase.model">
            <constraint
                  class="urml.danger.validation.DangerMitigationConstraint"
                  id="org.unicase.model.urml.danger.MitigationConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Danger MItigation Constraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} has no mitigation.
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
