<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.emf.ecp.editor.TreeView">
         <command
               commandId="org.unicase.ui.toolbarbutton.commands.createActionItem"
               icon="icons/ActionItem.png"
               label="create ActionItem"
               style="push">
         </command>
         <command
               commandId="org.unicase.ui.toolbarbutton.commands.createBugReport"
               icon="icons/Bug_trivial.png"
               label="create BugReport"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ui.toolbarbutton.CreateActionItemHandler"
            id="org.unicase.ui.toolbarbutton.commands.createActionItem"
            name="createActionItem">
      </command>
      <command
            defaultHandler="org.unicase.ui.toolbarbutton.CreateBugReportHandler"
            id="org.unicase.ui.toolbarbutton.commands.createBugReport"
            name="createBugReport">
      </command>
   </extension>

</plugin>
