<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.errorreporting.filters">
      <StackTraceFilter
            filter-value="org.unicase.common.SomeSickDialog">
      </StackTraceFilter>
      <StackTraceFilter
            filter-value="org.unicase.workspace.*">
      </StackTraceFilter>
      <StackTraceFilter
            filter-value="org.unicase.model.*">
      </StackTraceFilter>
      <Severity
            severity-value="Error">
      </Severity>
   </extension>
   <extension
         point="org.unicase.errorreporting.reportHandlers">
      <DefaultReportHandler
            email="mail@me.com">
      </DefaultReportHandler>
      <ReportHandler
            class="org.unicase.errorreportanotherclient.reporthandlers.RSSHandler">
      </ReportHandler>
   </extension>

</plugin>
