<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.unicase.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.unicase.rcp.Perspective"
            id="org.unicase.rcp.perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.unicase.ui.meeditor.MEEditor"
            default="false"
            id="org.unicase.ui.meeditor"
            name="Model Element Editor">
      </editor>
   </extension> 
       
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="org.unicase.rcp.View"
            id="org.unicase.rcp.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
             icon="icons/sample3.gif"
            class="org.unicase.rcp.NavigationView"
            id="org.unicase.rcp.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.unicase.rcp.application"
            name="RCP Product">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>

</plugin>
