<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.exportbb.commands.ExportBBCode"
            id="org.unicase.exportbb.exportBBCode"
            name="exportBBCode">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.common.commands.subscribeToModelElement">
         <command
               commandId="org.unicase.exportbb.exportBBCode"
               icon="icons/exportBB.gif"
               label="Export Meeting to BBCode"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <reference
                           definitionId="org.unicase.ui.common.commands.modelElement">
                     </reference>
                     <instanceof
                           value="org.unicase.model.meeting.Meeting">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
     </extension>
</plugin>
