<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.docExport.commands.ExportDocument"
            id="org.unicase.docExport.exportDocument"
            name="exportDocument">
      </command>
      <command
            defaultHandler="org.unicase.docExport.handlers.CallTemplateEditor"
            id="org.unicase.docExport.callTemplateEditor"
            name="Call Template Editor">
      </command>
      <command
            id="org.unicase.docExport.exportTemplate"
            name="exportTemplate">
      </command>
      <command
            id="org.unicase.docExport.importTemplate"
            name="importTemplate">
      </command>
      <command
            id="org.unicase.docExport.removeModelElementRenderer"
            name="removeModelElementRenderer">
      </command>
      <command
            id="org.unicase.docExport.addModelElementRenderer"
            name="addModelElementRenderer">
      </command>
      <command
            id="org.unicase.docExport.addTemplate"
            name="addTemplate">
      </command>
      <command
            id="org.unicase.docExport.deleteTemplate"
            name="deleteTemplate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.docExport.commands.ExportTemplate"
            commandId="org.unicase.docExport.exportTemplate">
      </handler>
      <handler
            class="org.unicase.docExport.commands.ImportTemplate"
            commandId="org.unicase.docExport.importTemplate">
      </handler>
      <handler
            class="org.unicase.docExport.commands.AddModelElementRenderer"
            commandId="org.unicase.docExport.addModelElementRenderer">
      </handler>
      <handler
            class="org.unicase.docExport.commands.RemoveModelElementRenderer"
            commandId="org.unicase.docExport.removeModelElementRenderer">
      </handler>
      <handler
            class="org.unicase.docExport.commands.AddTemplate"
            commandId="org.unicase.docExport.addTemplate">
      </handler>
      <handler
            class="org.unicase.docExport.commands.DeleteTemplate"
            commandId="org.unicase.docExport.deleteTemplate">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.navigator.viewer?after=org.unicase.ui.common.commands.subscribeToModelElement">
         <command
               commandId="org.unicase.docExport.exportDocument"
               icon="icons/export.gif"
               label="Export Document"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false">
                     <reference
                           definitionId="org.eclipse.emf.ecp.common.commands.modelElement">
                     </reference>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.templatesView">
         <command
               commandId="org.unicase.docExport.exportTemplate"
               icon="icons/export.gif"
               label="export template"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.docExport.exportModel.Template">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.docExport.importTemplate"
               icon="icons/export.gif"
               label="import template"
               style="push">
         </command>
         <command
               commandId="org.unicase.docExport.deleteTemplate"
               icon="icons/cross.png"
               label="delete template"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.docExport.exportModel.Template">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.docExport.addTemplate"
               icon="icons/add.png"
               label="addTemplate"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.docExport.editors.TemplateEditor">
         <command
               commandId="org.unicase.docExport.removeModelElementRenderer"
               icon="icons/cross.png"
               label="remove ModelElement Renderer"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.docExport.exportModel.renderers.ModelElementRendererMapping">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.docExport.addModelElementRenderer"
               icon="icons/add.png"
               label="add ModelElement Renderer"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.unicase.docExport.editors.TemplateEditor"
            default="false"
            id="org.unicase.docExport.editors.TemplateEditor"
            name="Template Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.unicase.docExport.exportModel.ExportModelPackage"
            genModel="model/exportModel.genmodel"
            uri="http://unicase.org/docExport/exportModel">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.unicase.docExport.exportModel.renderers.RenderersPackage"
            genModel="model/exportModel.genmodel"
            uri="http://unicase.org/docExport/exportModel/renderers">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.unicase.docExport.exportModel.renderers.defaultRenderers.DefaultRenderersPackage"
            genModel="model/exportModel.genmodel"
            uri="http://unicase.org/docExport/exportModel/renderers/defaultRenderers">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.unicase.docExport.exportModel.renderers.specialRenderers.SpecialRenderersPackage"
            genModel="model/exportModel.genmodel"
            uri="http://unicase.org/docExport/exportModel/renderers/specialRenderers">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.unicase.docExport.exportModel.renderers.options.OptionsPackage"
            genModel="model/exportModel.genmodel"
            uri="http://unicase.org/docExport/exportModel/renderers/options">
      </package>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.unicase"
            class="org.unicase.docExport.views.TemplatesView"
            icon="icons/export.gif"
            id="org.unicase.templatesView"
            name="Document export templates"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.unicase.docExport.exportModel.provider.ExportModelItemProviderAdapterFactory"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource"
            uri="http://unicase.org/docExport/exportModel">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.unicase.docExport.exportModel.renderers.provider.RenderersItemProviderAdapterFactory"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource"
            uri="http://unicase.org/docExport/exportModel/renderers">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.unicase.docExport.exportModel.renderers.defaultRenderers.provider.DefaultRenderersItemProviderAdapterFactory"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource"
            uri="http://unicase.org/docExport/exportModel/renderers/defaultRenderers">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.unicase.docExport.exportModel.renderers.specialRenderers.provider.SpecialRenderersItemProviderAdapterFactory"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource"
            uri="http://unicase.org/docExport/exportModel/renderers/specialRenderers">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.unicase.docExport.exportModel.renderers.options.provider.OptionsItemProviderAdapterFactory"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource"
            uri="http://unicase.org/docExport/exportModel/renderers/options">
      </factory>
   </extension>

</plugin>
