<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <!--<extension
         point="org.eclipse.ui.commands">
      <category
            id="org.unicase.traceRecovery.category1"
            name="org.unicase.traceRecovery,category">
      </category>
      <command
            id="org.unicase.traceRecovery.command1"
            name="Run Recovery">
      </command>
   </extension>-->




<extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase/traceRecovery"
            class="traceRecovery.TraceRecoveryPackage"
            genModel="model/traceRecovery.genmodel"/>
   </extension>



<!--<extension
      point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.unicase.traceRecovery.viewerContribution1"
            targetID="org.unicase.ui.navigator.viewer">
            <action
                  class="traceRecovery.ui.SelectDirectory"
                  id="org.unicase.traceRecovery.action1"
                  menubarPath="Other..."
                  label="Run Recovery">
            </action>
      </viewerContribution>
</extension>-->

<!--<extension
      point="org.eclipse.ui.popupMenus">
   <viewerContribution
         id="org.unicase.traceRecovery.viewerContribution2"
         targetID="org.eclipse.jdt.ui.PackageExplorer">
      <action
            class="traceRecovery.ui.SelectLuceneDirectoryJava"
            id="org.unicase.traceRecovery.action2"
            menubarPath="Other.."
            label="Run Recovery">
      </action>
   </viewerContribution>
</extension>-->




<!--<extension point="org.eclipse.ui.popupMenus"> 
   <viewerContribution 
      id="org.unicase.traceRecovery.viewerContribution3"
   targetID="org.eclipse.photran.ui.FortranView"> 
   <action
         id="org.eclipse.ui.articles.action.contribution.navigator.action3" 
         label="run recovery"
         menubarPath="Other..." 
         class="traceRecovery.ui.SelectLuceneDirectoryFortron"
      >
      </action>

   </viewerContribution> 
</extension>-->
 
</plugin>
