<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.unicase.rap.bugreport.BugReportView"
            id="org.unicase.rap.bugreport.BugReportView"
            name="Bug Reporting"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.unicase.rap.ui.config.tab">
      <config
            class="org.unicase.rap.bugreport.config.BugReportConfigTab"
            name="Bug Reporting ">
      </config>
   </extension>
   <extension
         point="org.unicase.rap.ui.view">
      <view
            class="org.unicase.rap.bugreport.BugReportView"
            name="Bug Reporting"
            url="bugreport">
      </view>
   </extension>

</plugin>
