<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.analyzer.analyzer">
      <client_analyzer
            class="org.unicase.analyzer.unicaseanalyzers.CommitReadEventAnalyzer">
      </client_analyzer>
      <client_analyzer
            class="org.unicase.analyzer.unicaseanalyzers.VersionWriter">
      </client_analyzer>
   </extension>

</plugin>
