<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.emfstore.server.poststartuplistener">
      <listener
            class="org.eclipse.emf.emfstore.server.backchannel.BachchannelInitiator">
      </listener>
   </extension>

</plugin>
