<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?before=additions">
         <command
               commandId="org.unicase.dashboard.analyzer"
               label="Dashboard Analyzer"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.unicase.workspace.ProjectSpace">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.dashboard.analyzer.commands.DashboardAnalyzerHandler"
            id="org.unicase.dashboard.analyzer"
            name="dashboard analyzer">
      </command>
   </extension>

</plugin>
