<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="UNICASETargetDefinition" sequenceNumber="6">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.unicase.targetfeature.feature.group" version="1.0.0.201204241001"/>
<repository location="http://unicase.googlecode.com/svn/trunk/deployment/UNICASETargetPlatform/targetFeature/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.unicase.target.deltapack361.feature.group" version="1.0.0.qualifier"/>
<repository location="http://unicase.googlecode.com/svn/updatesite/DeltaPack"/>
</location>
</locations>
</target>
