<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.ui.meeditor.attributecontrols">
      <widget
            class="org.unicase.bowlingexample.sumfunction.IntegerMultiAttributeControlWithSum"
            name="org.unicase.bowlingexample.sumfunction.widget1"
            type="java.lang.Integer">
      </widget>
   </extension>

</plugin>
