<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.unicase.rapclient.Application"
            parameter="view"
            id="catshelter.Application">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="org.unicase.rapclient.Perspective"
            id="catshelter.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="NavigationView"
            class="org.unicase.rapclient.NavigationView"
            id="catshelter.navigationView">
      </view>
      <view
            class="org.unicase.rapclient.BugReportView"
            id="org.unicase.rapclient.bugreportview"
            name="BugReportView"
            restorable="true">
      </view>
   </extension>

</plugin>
