<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.unicase.ui.web.projectview.WorkTeamItemsView"
            id="org.unicase.ui.web.projectview.ProjectView"
            name="Project View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.unicase.ui.web.view">
      <view
            class="org.unicase.ui.web.projectview.WorkTeamItemsView"
            name="Project View"
            url="project">
      </view>
   </extension>
   <extension
         point="org.unicase.ui.web.config.tabs">
      <config
            class="org.unicase.ui.web.projectview.WorkTeamItemsConfigurationTab"
            name="org.unicase.ui.web.projectview.WorkTeamItemsConfigurationTab">
      </config>
   </extension>
   <extension
         point="org.unicase.ui.web.config">
      <config
            class="org.unicase.ui.web.projectview.WorkTeamItemsConfigEntity"
            name="org.unicase.ui.web.projectview.WorkTeamItemsConfigEntity">
      </config>
   </extension>
   <extension
         point="org.unicase.ui.web.config.tabs">
      <config
            class="org.unicase.ui.web.projectview.WorkTeamItemsConfigurationTab"
            name="org.unicase.ui.web.projectview.ProjectConfigurationView">
      </config>
   </extension>
   <extension
         point="org.unicase.ui.web.config">
      <config
            class="org.unicase.ui.web.projectview.ProjectConfigEntity"
            name="org.unicase.ui.web.projectview.ProjectConfigEntity">
      </config>
   </extension>
   
</plugin>
