<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.emfstore.client.editingDomainProvider">
      <provider
            class="org.eclipse.emf.emfstore.client.transaction.TransactionalEditingDomainProvider">
      </provider>
   </extension>
     <extension
        point="org.eclipse.emf.transaction.editingDomains">
     <editingDomain
           id="org.eclipse.emf.emfstore.client.editingDomain">
     </editingDomain>
  </extension>
   

</plugin>
