<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.unicase.rap.status.ui.viewers.views.StatusView"
            id="org.unicase.rap.status.ui.WorkTeamItemsView"
            name="Work-/Team Items"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.unicase.rap.ui.view">
      <view
            class="org.unicase.rap.status.ui.viewers.views.StatusView"
            name="StatusView"
            url="status">
      </view>
   </extension>
   <extension
         point="org.unicase.rap.ui.config.tab">
      <config
            class="org.unicase.rap.status.ui.viewers.tabs.StatusConfigurationTab"
            name="Work-/Team Items ">
      </config>
   </extension>
   
</plugin>
