<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.unicase.modelgenerator.GenerateProjectHandler"
            id="org.unicase.unicase.modelgenerator.generateModel"
            name="Generate Project">
      </command>
      <command
            defaultHandler="org.unicase.unicase.modelgenerator.GenerateChangesHandler"
            id="org.unicase.unicase.modelgenerator.generateChanges"
            name="Generate Changes">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=additions">
         <command
               commandId="org.unicase.unicase.modelgenerator.generateModel"
               label="Generate Project"
               style="push">
         </command>
         <command
               commandId="org.unicase.unicase.modelgenerator.generateChanges"
               label="Generate Changes"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
