<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="library.presentation.LibraryModelWizardID"
            name="%_UI_LibraryModelWizard_label"
            class="library.presentation.LibraryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LibraryModelFile.gif">
         <description>%_UI_LibraryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="library.presentation.LibraryEditorID"
            name="%_UI_LibraryEditor_label"
            icon="icons/full/obj16/LibraryModelFile.gif"
            extensions="library"
            class="library.presentation.LibraryEditor"
            contributorClass="library.presentation.LibraryActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?before=additions">
         <command
               commandId="exampleModel.editor.openprojects"
               label="open project with editor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.unicase.workspace.ProjectSpace">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="exampleModel.editor"
            name="whatever">
      </category>
      <command
            category="exampleModel.editor"
            defaultHandler="exampleModel.editor.commands.OpenProjectHandler"
            id="exampleModel.editor.openprojects"
            name="whatever you want">
      </command>
   </extension>

</plugin>
