<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.unicase.ui.meeditor.MEEditor"
            default="false"
            id="org.unicase.ui.meeditor"
            name="Model Element Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.ui.meeditor.openModelElement"
            name="OpenModelElement">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.ui.meeditor.commands.OpenModelElementHandler"
            commandId="org.unicase.ui.meeditor.openModelElement">
      </handler>
   </extension>

</plugin>
