<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
 </copyright>


-->

<plugin>
   <extension-point id="org.unicase.workspace.notification.providers" name="Notification Providers" schema="schema/notificationProviders.exsd"/>
   <extension-point id="org.unicase.workspace.filetransfer.ondone" name="File Transfer On Done" schema="schema/org.unicase.workspace.filetransfer.ondone.exsd"/>
   <extension-point id="org.unicase.workspace.notify.login" name="org.unicase.workspace.notify.login" schema="schema/org.unicase.workspace.notify.login.exsd"/>
   <extension-point id="org.unicase.workspace.wrapperfactories" name="Wrapper factories" schema="schema/wrapperfactories.exsd"/>
   <extension-point id="org.unicase.workspace.workspaceLocationProvider" name="Workspace Location Provider" schema="schema/org.unicase.workspace.workspaceLocationProvider.exsd"/>
   <extension-point id="org.unicase.workspace.defaultConfigurationProvider" name="Default Configuration Provider" schema="schema/org.unicase.workspace.defaultConfigurationProvider.exsd"/>
   <extension-point id="org.unicase.workspace.notify.postcreationlistener" name="Post-Creation Listeners" schema="schema/org.unicase.workspace.notify.postcreationlistener.exsd"/>
   <extension-point id="org.unicase.workspace.notify.workspace" name="Workspace Initiated" schema="schema/org.unicase.workspace.notify.workspace.exsd"/>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://unicase.org/workspace" 
       class = "org.unicase.workspace.WorkspacePackage"
       genModel = "model/workspace.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.emf.transaction.editingDomains">
     <editingDomain
           id="org.unicase.workspace.editingDomain">
     </editingDomain>
  </extension>
  <extension
        point="org.unicase.workspace.defaultConfigurationProvider">
     <configurationProvider
           providerClass="org.unicase.workspace.util.UnicaseConfigurationProvider">
     </configurationProvider>
  </extension>
</plugin>
