<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
 </copyright>


-->

<plugin>
   <extension-point id="org.unicase.workspace.notification.providers" name="Notification Providers" schema="schema/notificationProviders.exsd"/>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://unicase.org/workspace" 
       class = "org.unicase.workspace.WorkspacePackage"
       genModel = "model/workspace.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.emf.transaction.editingDomains">
     <editingDomain
           id="org.unicase.workspace.editingDomain">
     </editingDomain>
  </extension>
  <extension
        point="org.unicase.workspace.notification.providers">
     <provider
           class="org.unicase.workspace.notification.provider.UpdateNotificationProvider"
           name="Update Notifications"
           priority="0">
     </provider>
     <provider
           class="org.unicase.workspace.notification.provider.PushedNotificationProvider"
           name="Pushed Notifications"
           priority="1">
     </provider>
     <provider
           class="org.unicase.workspace.notification.provider.TaskNotificationProvider"
           name="Task Notifications"
           priority="2">
     </provider>
     <provider
           class="org.unicase.workspace.notification.provider.TaskChangeNotificationProvider"
           name="Task Change Notifications"
           priority="3">
     </provider>
     <provider
           class="org.unicase.workspace.notification.provider.SubscriptionNotificationProvider"
           name="Subscriptions Notifications"
           priority="4">
     </provider>
     <provider
           class="org.unicase.workspace.notification.provider.CommentsNotificationProvider"
           name="Comment Notifications"
           priority="5">
     </provider>
     <provider
           class="org.unicase.workspace.notification.provider.TaskObjectNotificationProvider"
           name="Task Trace Notifications"
           priority="6">
     </provider>
  </extension>

</plugin>
