<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.ui.meeditor.attributecontrols">
      <widget
            class="MultiAttribute.MultiAttributeControl"
            name="MultAttribWidget_quach.widget1"
            showLabel="true"
            type="java.lang.Object">
      </widget>
   </extension>

</plugin>
