<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.unicase.modelExtension" name="org.unicase.modelExtension" schema="schema/org.unicase.modelExtension.exsd"/>
     <extension
         point="org.eclipse.ui.views">
      <category
            name="unicase"
            id="org.unicase">
      </category>
      <view
            category="org.unicase"
            class="org.unicase.ui.navigator.TreeView"
            icon="icons/unicase.png"
            id="org.unicase.ui.navigator.viewer"
            name="Unicase Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ui.navigator.commands.CreateMEHandler"
            description="This generic command is used to by dynamic commands to create different MEs"
            id="org.unicase.ui.navigator.createME"
            name="New Model Element">
         <commandParameter
               id="org.unicase.ui.navigator.eClassParameter"
               name="eClassParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.eClassType">
         </commandParameter>
         <commandParameter
               id="org.unicase.ui.navigator.diagramTypeParameter"
               name="diagramTypeParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.diagramType">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.unicase.ui.navigator.commands.CreateContainmentHandler"
            description="This generic command is used by dynamic commands to create containment MEs"
            id="org.unicase.ui.navigator.createContaiment"
            name="New Containment ME">
         <commandParameter
               id="org.unicase.ui.navigator.eClassParameter"
               name="eClassParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.eClassType">
         </commandParameter>
         <commandParameter
               id="org.unicase.ui.navigator.diagramTypeParameter"
               name="diagramTypeParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.diagramType">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.unicase.ui.navigator.commands.NewModelElementWizardHandler"
            id="org.unicase.ui.navigator.newMEWizard"
            name="New ModelElement Wizard">
      </command>
      <commandParameterType
            converter="org.unicase.ui.navigator.commands.EClassTypeConverter"
            id="org.unicase.ui.navigator.eClassType"
            type="org.eclipse.emf.ecore.EClass">
      </commandParameterType>
            <commandParameterType
            converter="org.unicase.ui.navigator.commands.DiagramTypeConverter"
            id="org.unicase.ui.navigator.diagramType"
            type="org.unicase.model.diagram.DiagramType">
      </commandParameterType>
      <command
            id="org.unicase.ui.navigator.newLeafSection"
            name="newLeafSection">
      </command>
      <command
            id="org.unicase.ui.navigator.newCompositeSection"
            name="newCompositeSection">
      </command>
      <command
            id="org.unicase.ui.navigator.followupMeeting"
            name="followupMeeting">
      </command>
      <command
            defaultHandler="org.unicase.ui.navigator.commands.ShowMEInNavigatorHandler"
            id="org.unicase.ui.navigator.ShowMEInNavigator"
            name="ShowMEInNavigator">
      </command>
   </extension>
    <!--    -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
         locationURI="popup:org.unicase.ui.navigator.viewer?after=additions">
         <command
               commandId="org.unicase.ui.navigator.newMEWizard"
               icon="icons/NewModelElement.png"
               label="New model element..."
               style="push">
          <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.model.document.LeafSection">
                  </instanceof>
               </iterate>
            </visibleWhen> 
         </command>
         <dynamic
               class="org.unicase.ui.navigator.commands.DynamicMECreationCommands"
               id="org.unicase.ui.navigator.dynamicMECreationCommands">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.model.document.LeafSection">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </dynamic>
         <dynamic
               class="org.unicase.ui.navigator.commands.DynamicContainmentCommands"
               id="org.unicase.ui.navigator.dynamicContainmentCommands">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <reference
                        definitionId="org.unicase.ui.common.commands.modelElementNotSection">
                  </reference>
               </iterate>
            </visibleWhen>
         </dynamic>
         <command
               commandId="org.unicase.ui.navigator.newCompositeSection"
               icon="icons/CompositeSection.gif"
               label="New composite section"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.model.document.CompositeSection">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.ui.navigator.newLeafSection"
               icon="icons/LeafSection.gif"
               label="New leaf section"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.model.document.CompositeSection">
                  </instanceof>
               </iterate>
            </visibleWhen>
             </command>
         <command
               commandId="org.unicase.ui.navigator.followupMeeting"
               label="Follow-up meeting..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.model.meeting.Meeting">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="org.unicase.ui.navigator.createModelElementCommands"
               visible="true">
         </separator>
      </menuContribution>
      
       <menuContribution
           locationURI="toolbar:org.unicase.ui.navigator.viewer?bofore=additions">
        <command
              commandId="org.unicase.ui.common.handlers.open_me_ID"
              icon="icons/ModelElement.png"
              style="push"
              tooltip="Shows open model element dialog">
        </command>
     </menuContribution> 
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.ui.navigator.commands.NewLeafSection"
            commandId="org.unicase.ui.navigator.newLeafSection">
      </handler>
      <handler
            class="org.unicase.ui.navigator.commands.NewCompositeSectionHandler"
            commandId="org.unicase.ui.navigator.newCompositeSection">
      </handler>
      <handler
            class="org.unicase.ui.navigator.commands.FollowupMeetingWizardHandler"
            commandId="org.unicase.ui.navigator.followupMeeting">
      </handler>
   </extension>
  
</plugin>
