<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/orga"
            class="org.unicase.model.orga.OrgaPackage"
            genModel="model/orga.genmodel"/>
   </extension>
    <extension
        point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
     <unit
           name="PluginExt"
           namespace="unicase.diagram">
        <library
              class="org.unicase.model.orga.diagram.codegen.util.PluginExt">
        </library>
     </unit>
  </extension>

</plugin>
