<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Unicase"
            id="org.unicase">
      </category>
      <view
            name="Iteration Planning"
            icon="icons/IterationPlanning.gif"
            category="org.unicase"
            class="org.unicase.ui.stem.views.IterationPlanningView"
            id="org.unicase.ui.treeview.views.IterationPlanningView">
      </view>
      <view
            category="org.unicase"
            class="org.unicase.ui.stem.views.StatusView"
            icon="icons/StatusView.gif"
            id="org.unicase.ui.treeview.views.StatusView"
            name="Status View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="stack"
               id="org.unicase.ui.treeview.views.IterationPlanningView">
         </view>
         <view
               id="org.unicase.ui.treeview.views.StatusView"
               minimized="false"
               relationship="stack"
               relative="org.unicase.ui.treeview.views.IterationPlanningView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
