<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Unicase"
            id="org.unicase">
      </category>
      <view
            name="Iteration Planning"
            icon="icons/IterationPlanning.gif"
            category="org.unicase"
            class="org.unicase.ui.stem.views.iterationplanningview.IterationPlanningView"
            id="org.unicase.ui.treeview.views.IterationPlanningView">
      </view>
      <view
            allowMultiple="true"
            category="org.unicase"
            class="org.unicase.ui.stem.views.statusview.StatusView"
            icon="icons/StatusView.gif"
            id="org.unicase.ui.treeview.views.StatusView"
            name="Status View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ui.stem.commands.ShowInStausViewHandler"
            id="org.unicase.ui.stem.ShowInStatusView"
            name="ShowInStatusView">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.common.commands.annotateActionItemSeperator">
         <command
               commandId="org.unicase.ui.stem.ShowInStatusView"
               icon="icons/StatusView.gif"
               label="Show Status"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <reference
                        definitionId="org.unicase.ui.common.commands.modelElement">
                  </reference>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>  

</plugin>
