<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory
          class="org.unicase.workspace.provider.WorkspaceItemProviderAdapterFactory"
          supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource"
          uri="http://unicase.org/workspace"/>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.unicase.workspace.edit.commands.CommitProjectHandler"
           commandId="org.unicase.workspace.edit.commitProject">
     </handler>
     <handler
           class="org.unicase.workspace.edit.commands.UpdateProjectHandler"
           commandId="org.unicase.workspace.edit.updateProject">
     </handler>
     <handler
           class="org.unicase.workspace.edit.commands.ShareProjectHandler"
           commandId="org.unicase.workspace.edit.shareProject">
     </handler>
     <handler
           class="org.unicase.workspace.edit.commands.ImportProjectHandler"
           commandId="org.unicase.workspace.edit.importProject">
     </handler>
      <handler
           class="org.unicase.workspace.edit.commands.ExportProjectHandler"
           commandId="org.unicase.workspace.edit.exportProject">
     </handler>
      <handler
            class="org.unicase.workspace.edit.commands.DeleteProjectHandler"
            commandId="org.unicase.workspace.edit.deleteProject">
      </handler>
      <handler
            class="org.unicase.workspace.edit.commands.ImportUserHandler"
            commandId="org.unicase.workspace.edit.importUser">
      </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="org.unicase.workspace.edit.project"
           name="projectCategory">
     </category>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.commitProject"
           name="commit">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.updateProject"
           name="update">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.shareProject"
           name="share">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.importProject"
           name="import">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.exportProject"
           name="export">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.deleteProject"
           name="deleteProject">
     </command>
     <command
           category="Unicase"
           categoryId="org.unicase"
           id="org.unicase.workspace.edit.importUser"
           name="Import User">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.unicase.ui.navigator.viewer?before=additions">
        <command
              commandId="org.unicase.workspace.edit.commitProject"
              icon="icons/full/obj16/commit.gif"
              label="Commit Project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false">
                 <instanceof
                       value="org.unicase.workspace.ProjectSpace">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.workspace.edit.updateProject"
              icon="icons/full/obj16/update.gif"
              label="Update Project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false">
                 <instanceof
                       value="org.unicase.workspace.ProjectSpace">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.workspace.edit.deleteProject"
              icon="icons/delete.gif"
              label="Delete Project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false">
                 <instanceof
                       value="org.unicase.workspace.ProjectSpace">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <menu
              icon="icons/full/obj16/createrepos.gif"
              label="Other...">
           <command
                 commandId="org.unicase.workspace.edit.shareProject"
                 icon="icons/full/obj16/relocate.gif"
                 label="Share  Project"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.importProject"
                 icon="icons/full/obj16/import.gif"
                 label="Import Project"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="true"
                       operator="or">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.exportProject"
                 icon="icons/full/obj16/export.gif"
                 label="Export Project"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.importUser"
                 icon="icons/importuser.png"
                 label="Import User"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.ui.common.validate"
                 label="validate"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
        </menu>
        <separator
              name="org.unicase.workspace.edit.scmCommands">
        </separator>
     </menuContribution>
  </extension>

</plugin>
