<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>


-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory
          class="org.unicase.workspace.provider.WorkspaceItemProviderAdapterFactory"
          supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource"
          uri="http://unicase.org/workspace"/>
  </extension>
  <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.unicase.workspace.edit.dashboard.DashboardEditor"
            default="false"
            id="org.unicase.workspace.edit.dashboard"
            name="Dashboard">
      </editor>
   </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.unicase.workspace.edit.commands.CommitProjectHandler"
           commandId="org.unicase.workspace.edit.commitProject">
        <enabledWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.unicase.workspace.ProjectSpace">
              </instanceof>
              <test
                    forcePluginActivation="true"
                    property="org.unicase.workspace.edit.commands.projectIsShared"
                    value="true">
              </test>
              <test
                    forcePluginActivation="true"
                    property="org.unicase.workspace.edit.commands.projectHasLocalChanges"
                    value="true">
              </test>
           </iterate>
        </enabledWhen>
     </handler>
     <handler
           class="org.unicase.workspace.edit.commands.UpdateProjectHandler"
           commandId="org.unicase.workspace.edit.updateProject">
     </handler>
     <handler
           class="org.unicase.workspace.edit.commands.ShareProjectHandler"
           commandId="org.unicase.workspace.edit.shareProject">
     </handler>
     <handler
           class="org.unicase.workspace.edit.commands.ImportProjectHandler"
           commandId="org.unicase.workspace.edit.importProject">
     </handler>
      <handler
           class="org.unicase.workspace.edit.commands.ExportProjectHandler"
           commandId="org.unicase.workspace.edit.exportProject">
     </handler>
      <handler
            class="org.unicase.workspace.edit.commands.DeleteProjectHandler"
            commandId="org.unicase.workspace.edit.deleteProject">
      </handler>
      <handler
            class="org.unicase.workspace.edit.commands.ImportUserHandler"
            commandId="org.unicase.workspace.edit.importUser">
      </handler>
      <handler
            class="org.unicase.workspace.edit.commands.RevertHandler"
            commandId="org.unicase.workspace.edit.revert">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="org.unicase.workspace.ProjectSpace">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.unicase.workspace.edit.commands.projectHasLocalChanges"
                     value="true">
               </test>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.unicase.workspace.edit.commands.ExportProjectSpaceHandler"
            commandId="org.unicase.workspace.edit.exportProjectSpace">
      </handler>
      <handler
            class="org.unicase.workspace.edit.commands.ExportWorkSpaceHandler"
            commandId="org.unicase.workspace.edit.exportWorkSpace">
      </handler>
      <handler
            class="org.unicase.workspace.edit.commands.ImportProjectSpaceHandler"
            commandId="org.unicase.workspace.edit.importProjectSpace">
      </handler>
      <handler
            class="org.unicase.workspace.edit.commands.ValidateHandler"
            commandId="org.unicase.ui.common.validate">
      </handler>
      <handler
            class="org.unicase.workspace.edit.commands.UndoLastOperationHandler"
            commandId="org.unicase.workspace.edit.undoLastOperation">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="org.unicase.workspace.ProjectSpace">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.unicase.workspace.edit.commands.projectHasLocalChanges"
                     value="true">
               </test>
            </iterate>
         </enabledWhen>
      </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="org.unicase.workspace.edit.project"
           name="Unicase">
     </category>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.commitProject"
           name="commit">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.updateProject"
           name="update">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.shareProject"
           name="share">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.importProject"
           name="import">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.exportProject"
           name="export">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.deleteProject"
           name="deleteProject">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.importUser"
           name="Import User">
     </command>
     <command
           categoryId="org.unicase.workspace.edit.project"
           id="org.unicase.workspace.edit.revert"
           name="Revert">
     </command>
     <command
           defaultHandler="org.unicase.workspace.edit.commands.ShowHistoryHandler"
           id="org.unicase.workspace.edit.showHistory"
           name="showHistory">
     </command>
     <command
           defaultHandler="org.unicase.workspace.edit.commands.ShowDashboardHandler"
           id="org.unicase.workspace.edit.showDashboard"
           name="showDashboard">
     </command>
     <command
           defaultHandler="org.unicase.workspace.edit.commands.CompareProjectsHandler"
           id="org.unicase.workspace.edit.compareProjects"
           name="compareProjects">
     </command>
     <command
           defaultHandler="org.unicase.workspace.edit.commands.ExportChangesHandler"
           id="org.unicase.workspace.edit.exportChanges"
           name="exportChanges">
     </command>
     <command
           defaultHandler="org.unicase.workspace.edit.commands.ImportChangesHandler"
           id="org.unicase.workspace.edit.importChanges"
           name="importChanges">
     </command>
     <command
           id="org.unicase.workspace.edit.undoLastOperation"
           name="undoLastOperation">
     </command>
     <command
           id="org.unicase.workspace.edit.exportProjectSpace"
           name="exportProjectSpace">
     </command>
     <command
           id="org.unicase.workspace.edit.exportWorkSpace"
           name="exportWorkSpace">
     </command>
     <command
           id="org.unicase.workspace.edit.importProjectSpace"
           name="importProjectSpace">
     </command>
     <command
           id="org.unicase.ui.common.validate"
           name="Validate">
     </command>
     <command
            defaultHandler="org.unicase.workspace.edit.commands.ShowHistoryHandler"
            id="org.unicase.ui.stem.ShowHistory"
            name="ShowHistory">
      </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.unicase.ui.navigator.viewer?before=additions">
        <command
              commandId="org.unicase.workspace.edit.commitProject"
              disabledIcon="icons/advanced.gif"
              icon="icons/full/obj16/commit.gif"
              label="Commit Project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.unicase.workspace.ProjectSpace">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.unicase.workspace.edit.commands.projectIsShared"
                       value="true">
                 </test>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.workspace.edit.updateProject"
              icon="icons/full/obj16/update.gif"
              label="Update Project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.unicase.workspace.ProjectSpace">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.unicase.workspace.edit.commands.projectIsShared"
                       value="true">
                 </test>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.workspace.edit.showHistory"
              icon="icons/historyview.png"
              label="Show History"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false">
                 <instanceof
                       value="org.unicase.workspace.ProjectSpace">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.workspace.edit.showDashboard"
              icon="icons/dashboard.png"
              label="Open Dashboard"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false">
                 <instanceof
                       value="org.unicase.workspace.ProjectSpace">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.unicase.workspace.edit.shareProject"
              icon="icons/full/obj16/relocate.gif"
              label="Share  Project"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.unicase.workspace.ProjectSpace">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.unicase.workspace.edit.commands.projectIsShared"
                       value="false">
                 </test>
              </iterate>
           </visibleWhen>
        </command>
        <separator
              name="org.unicase.workspace.edit.otherCommands"
              visible="true">
        </separator>
        <menu
              icon="icons/full/obj16/export.gif"
              label="Export">
           <command
                 commandId="org.unicase.workspace.edit.exportProject"
                 icon="icons/full/obj16/export.gif"
                 label="Export Project"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.exportChanges"
                 icon="icons/full/obj16/export.gif"
                 label="Export Changes"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.edit.commands.projectHasLocalChanges"
                          value="true">
                    </test>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.exportProjectSpace"
                 icon="icons/full/obj16/export.gif"
                 label="Export Projectspace"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.exportWorkSpace"
                 icon="icons/full/obj16/export.gif"
                 label="Export Workspace"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
        </menu>
        <menu
              icon="icons/full/obj16/import.gif"
              label="Import">
           <command
                 commandId="org.unicase.workspace.edit.importProject"
                 icon="icons/full/obj16/import.gif"
                 label="Import Project"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="true"
                       operator="or">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.importChanges"
                 icon="icons/full/obj16/import.gif"
                 label="Import Changes"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.edit.commands.projectHasLocalChanges"
                          value="false">
                    </test>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.importProjectSpace"
                 icon="icons/full/obj16/import.gif"
                 label="Import Projectspace"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.edit.commands.isAdmin"
                          value="true">
                    </test>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.importUser"
                 icon="icons/importuser.png"
                 label="Import Users"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.edit.commands.projectIsShared"
                          value="true">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.edit.commands.isAdmin"
                          value="true">
                    </test>
                 </iterate>
              </visibleWhen>
           </command>
        </menu>
        <menu
              icon="icons/full/obj16/createrepos.gif"
              label="Other...">
           <command
                 commandId="org.unicase.workspace.edit.deleteProject"
                 icon="icons/delete.gif"
                 label="Delete Project"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.undoLastOperation"
                 icon="icons/full/obj16/arrow_left.png"
                 label="Undo last operation (Experimental)"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.edit.commands.isAdmin"
                          value="true">
                    </test>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.revert"
                 icon="icons/revert.png"
                 label="Revert all changes (Experimental)"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.unicase.workspace.edit.commands.isAdmin"
                          value="true">
                    </test>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.workspace.edit.compareProjects"
                 icon="icons/full/obj16/compare.png"
                 label="Compare to ..."
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
           <command
                 commandId="org.unicase.ui.common.validate"
                 icon="icons/validation.png"
                 label="Validate Project"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                    <instanceof
                          value="org.unicase.workspace.ProjectSpace">
                    </instanceof>
                 </iterate>
              </visibleWhen>
           </command>
        </menu>
        <menu
              label="label">
        </menu>
        <separator
              name="org.unicase.workspace.edit.scmCommands"
              visible="true">
        </separator>
     </menuContribution>
     <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.stem.ShowInStatusView">
         <command
               commandId="org.unicase.ui.stem.ShowHistory"
               icon="icons/historyview.png"
               label="Show History"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <reference
                        definitionId="org.unicase.ui.common.commands.modelElement">
                  </reference>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="org.unicase.ui.stem.ShowHistoryViewSeperator"
               visible="true">
         </separator>
      </menuContribution>
  </extension>
  
     <extension
         point="org.eclipse.ui.views">
      <category
            id="org.unicase"
            name="Unicase">
      </category>
      <view
            category="org.unicase"
            class="org.unicase.workspace.edit.views.historybrowserview.HistoryBrowserView"
            icon="icons/historyview.png"
            id="org.unicase.workspace.edit.views.historybrowserview.HistoryBrowserView"
            name="History Browser"
            restorable="true">
      </view>
      <view
            category="org.unicase"
            class="org.unicase.workspace.edit.views.validationview.ValidationView"
            icon="icons/validation.png"
            id="org.unicase.workspace.edit.views.validationview.ValidationView"
            name="Validation View"
            restorable="true">
      </view>
    
   </extension>
     <extension
           point="org.eclipse.emf.validation.validationListeners">
        <listener
              class="org.unicase.workspace.edit.views.validationview.ValidationListener">
           <clientContext
                 id="org.unicase.model.validation">
           </clientContext>
        </listener>
     </extension>
     
     <extension
           point="org.eclipse.ui.bindings">
        <key
              commandId="org.unicase.workspace.edit.commitProject"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+C">
        </key>
        <key
              commandId="org.unicase.workspace.edit.updateProject"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+P">
        </key>
        <key
              commandId="org.unicase.workspace.edit.showDashboard"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+D">
        </key>
        <key
              commandId="org.unicase.ui.common.validate"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+V">
        </key>
     </extension>
     <extension
           point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="org.unicase.workspace.edit.commands.ProjectIsSharedTester"
              id="org.unicase.workspace.edit.commands.projectIsSharedTester"
              namespace="org.unicase.workspace.edit.commands"
              properties="projectIsShared"
              type="org.unicase.workspace.ProjectSpace">
        </propertyTester>
        <propertyTester
              class="org.unicase.workspace.edit.commands.ProjectHasLocalChangesTester"
              id="org.unicase.workspace.edit.commands.projectHasLocalChangesTester"
              namespace="org.unicase.workspace.edit.commands"
              properties="projectHasLocalChanges"
              type="org.unicase.workspace.ProjectSpace">
        </propertyTester>
        <propertyTester
              class="org.unicase.workspace.edit.commands.IsAdminTester"
              id="org.unicase.workspace.edit.commands.isAdminTester"
              namespace="org.unicase.workspace.edit.commands"
              properties="isAdmin"
              type="org.unicase.workspace.ProjectSpace">
        </propertyTester>
     </extension>

</plugin>
