<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="org.unicase.ecp.model.ecpWorkspaceProvider" name="ECP Workspace" schema="schema/ecpWorkspaceProvider.exsd"/>
   <extension-point id="org.unicase.ecp.model.postinit" name="ECP Workspace Init Complete" schema="schema/org.unicase.ecp.model.postinit.exsd"/>
   
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.unicase.ecp.model.workSpaceModel.provider.WorkSpaceModelItemProviderAdapterFactory"
            supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider  org.eclipse.emf.edit.provider.IStructuredItemContentProvider  org.eclipse.emf.edit.provider.ITreeItemContentProvider  org.eclipse.emf.edit.provider.IItemLabelProvider   org.eclipse.emf.edit.provider.IItemPropertySource"
            uri="http://unicase.org/workspaceModel">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.unicase.ecp.model.workSpaceModel.WorkSpaceModelPackage"
            genModel="model/workspaceModel.gemodel"
            uri="http://unicase.org/workspaceModel">
      </package>
   </extension>
</plugin>
