<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.egit.ui.commitObserver">
      <CommitObserver
            providerClass="org.eclipse.emf.emfstore.teamprovider.git.GitCommitObserver">
      </CommitObserver>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.teamprovider.teamsynchronizer">
      <TeamSynchronizer
            class="org.eclipse.emf.emfstore.teamprovider.git.GitTeamSynchronizer">
      </TeamSynchronizer>
   </extension>
</plugin>
