<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.requirementexport.ExportRequirementHandler"
            id="org.unicase.requirementexport.ExportRequirement"
            name="Export Requirement">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=additions">
         <command
               commandId="org.unicase.requirementexport.ExportRequirement"
               label="Export Requirement"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.unicase.model.requirement.FunctionalRequirement">
                        </instanceof>
                     </iterate>
                  </and>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.unicase.model.requirement.NonFunctionalRequirement">
                        </instanceof>
                     </iterate>
                  </and>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
