<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="org.unicase.papyrus.diagram.editors.UMLActivityDiagramEditor"
               default="false"
               extensions="Activity_diagram"
               icon="icons/Activity.gif"
               id="org.unicase.papyrus.diagram.activity.UMLDiagramEditorID"
               name="ActivityDiagramEditor">
         </editor>
         <editor
               class="org.unicase.papyrus.diagram.editors.UMLClassDiagramEditor"
               default="false"
               extensions="Class_diagram"
               icon="icons/Class.gif"
               id="org.unicase.papyrus.diagram.clazz.UMLDiagramEditorID"
               name="ClassDiagramEditor">
         </editor>
         <editor
               class="org.unicase.papyrus.diagram.editors.UMLCommunicationDiagramEditor"
               default="false"
               extensions="Communication_diagram"
               icon="icons/Communication.gif"
               id="org.unicase.papyrus.diagram.communication.UMLDiagramEditorID"
               name="CommunicationDiagramEditor">
         </editor>
         <editor
               class="org.unicase.papyrus.diagram.editors.UMLCompositeDiagramEditor"
               default="false"
               extensions="Composite_diagram"
               icon="icons/Composite.gif"
               id="org.unicase.papyrus.diagram.composite.UMLDiagramEditorID"
               name="CompositeDiagramEditor">
         </editor>
         <editor
               class="org.unicase.papyrus.diagram.editors.UMLSequenceDiagramEditor"
               default="false"
               extensions="Sequence_diagram"
               icon="icons/Sequence.gif"
               id="org.unicase.papyrus.diagram.sequence.UMLDiagramEditorID"
               name="SequenceDiagramEditor">
         </editor>
         <editor
               class="org.unicase.papyrus.diagram.editors.UMLStateMachineDiagramEditor"
               default="false"
               extensions="StateMachine_diagram"
               icon="icons/StateMachine.gif"
               id="org.unicase.papyrus.diagram.statemachine.UMLDiagramEditorID"
               name="StateMachineDiagramEditor">
         </editor>
         <editor
               class="org.unicase.papyrus.diagram.editors.UMLUseCaseDiagramEditor"
               default="false"
               extensions="PapyrusUseCase_diagram"
               icon="icons/UseCase.gif"
               id="org.unicase.papyrus.diagram.usecase.UMLDiagramEditorID"
               name="PapyrusUseCaseDiagramEditor">
         </editor>
      </extension>
      <extension
            point="org.eclipse.ui.contexts">
         <context
               id="org.unicase.papyrus.diagram.activity.diagramContext"
               name="UMLActivityContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
         <context
               id="org.unicase.papyrus.diagram.clazz.diagramContext"
               name="UMLClassContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
         <context
               id="org.unicase.papyrus.diagram.communication.diagramContext"
               name="UMLCommunicationContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
         <context
               id="org.unicase.papyrus.diagram.composite.diagramContext"
               name="UMLCompositeContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
         <context
               id="org.unicase.papyrus.diagram.sequence.diagramContext"
               name="UMLSequenceContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
         <context
               id="org.unicase.papyrus.diagram.statemachine.diagramContext"
               name="UMLStateMachineContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
         <context
               id="org.unicase.papyrus.diagram.usecase.diagramContext"
               name="UMLUseCaseContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
      </extension>
      <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.unicase.papyrus.diagram.part.UMLModelDiagramResource"
            contentTypeIdentifier="UMLModel">
      </parser>
   </extension>
            <extension
            point="org.unicase.papyrus.service">
         <serviceFactory
               classname="org.unicase.papyrus.diagram.services.UnicaseEditingDomainServiceFactory"
               description="TransactionalEditingDomain"
               id="org.eclipse.emf.transaction.TransactionalEditingDomain"
               priority="1"
               startKind="startup">
         </serviceFactory>
         <serviceFactory
               classname="org.unicase.papyrus.diagram.services.UnicasePageManagerServiceFactory"
               id="org.eclipse.papyrus.sasheditor.contentprovider.IPageMngr"
               priority="1"
               startKind="startup">
         </serviceFactory>
         <serviceFactory
            classname="org.unicase.papyrus.diagram.services.UnicasePageIconRegistryServiceFactory"
            id="org.eclipse.papyrus.core.editorsfactory.IPageIconsRegistry"
            priority="1"
            startKind="startup">
      </serviceFactory>
      </extension>
            <extension
                  point="org.eclipse.emf.ecp.common.modelelementopener">
               <ModelElementOpener
                     class="org.unicase.papyrus.diagram.part.UMLDiagramOpener"
                     name="org.unicase.papyrus.UMLDiagramOpener">
               </ModelElementOpener>
            </extension>
            <extension
                  point="org.eclipse.ui.commands">
               <command
                     defaultHandler="org.unicase.papyrus.diagram.importer.ExportUMLHandler"
                     id="org.unicase.papyrus.diagram.ExportUML"
                     name="Export UML">
               </command>
            </extension>
            <extension
                  point="org.eclipse.ui.menus">
               <menuContribution
                     locationURI="popup:org.eclipse.emf.ecp.navigator.viewer">
                  <command
                        commandId="org.unicase.papyrus.diagram.ExportUML"
                        label="Export UML"
                        style="push">
                     <visibleWhen
                           checkEnabled="false">
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <instanceof
                                 value="org.eclipse.uml2.uml.Package">
                           </instanceof>
                        </iterate>
                     </visibleWhen>
                  </command>
               </menuContribution>
            </extension>
      
</plugin>
