<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/diagram"
            class="org.unicase.model.diagram.DiagramPackage"
            genModel="model/diagram.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.model.ecppackage">
      <modelPackage
            modelPackage="http://unicase.org/model/diagram">
      </modelPackage>
   </extension>

</plugin>
