<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.unicase.ui.tom.handlers.enableMultiTouchMode"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="Alt+Ctrl+M">
       </key>
    </extension>
   <extension
         point="org.eclipse.ui.menus">
         
        <menuContribution
           locationURI="toolbar:org.eclipse.ui.main.toolbar">
        <toolbar
              id="org.unicase.ui.common.UnicaseToolbar">
           <command
                 commandId="org.unicase.ui.tom.handlers.enableMultiTouchMode"
                 icon="icons/ModelElement.png"
                 style="toggle"
                 tooltip="Enable multi touch mode">
           </command>
        </toolbar>
     </menuContribution>
     
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.common.commands.annotateActionItemSeperator">
         <command
               commandId="org.unicase.ui.touchtable.newTOMWindow"
               label="Open in new TOM window..."
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.model.diagram.MEDiagram">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.common.commands.annotateActionItemSeperator">
         <command
               commandId="org.unicase.ui.touchtable.showMultitouchOverlay"
               label="Show multi-touch overlay..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="true">
                  <instanceof
                        value="org.unicase.model.diagram.MEDiagram">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.common.commands.annotateActionItemSeperator">
         <command
               commandId="org.unicase.ui.touchtable.debug"
               label="Debug"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.unicase.model.diagram.MEDiagram">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.common.commands.annotateActionItemSeperator">
         <command
               commandId="org.unicase.ui.tom.openClass"
               label="Open in TOM Diagram Editor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.unicase.model.diagram.MEDiagram">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
           defaultHandler="org.unicase.ui.tom.handler.ShowMultiTouchOverlayHandler"
           id="org.unicase.ui.tom.handlers.enableMultiTouchMode"
           name="Enable multitouch mode">
     </command>
      <command
            defaultHandler="org.unicase.ui.tom.handler.NewTOMWindowHandler"
            id="org.unicase.ui.touchtable.newTOMWindow"
            name="New TOM Window">
      </command>
      <command
            defaultHandler="org.unicase.ui.tom.handler.ShowMultiTouchOverlayHandler"
            id="org.unicase.ui.touchtable.showMultitouchOverlay"
            name="Show multi-touch overlay">
      </command>
      <command
            defaultHandler="org.unicase.ui.tom.handler.DebugHandler"
            id="org.unicase.ui.touchtable.debug"
            name="Debug">
      </command>
      <command
            defaultHandler="org.unicase.ui.tom.handler.OpenDiagramEditorHandler"
            id="org.unicase.ui.tom.openClass"
            name="Open in TOM Diagram Editor">
      </command>
   </extension>

</plugin>
