<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Kinect"
            id="edu.tum.in.bruegge.epd.kinect.game">
      </category>
      <view
            name="Kinect Game"
            icon="icons/sample.gif"
            category="edu.tum.in.bruegge.epd.kinect.game"
            class="edu.tum.in.bruegge.epd.kinect.game.views.Gameclipse"
            id="edu.tum.in.bruegge.epd.kinect.game.views.Gameclipse">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="edu.tum.in.bruegge.epd.kinect.game.views.Gameclipse">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
