<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.unicase.stakeholders.displaycontrols" name="Display Controls for the Identify Risk View" schema="schema/org.unicase.stakeholders.displaycontrols.exsd"/>
   <extension-point id="org.unicase.stakeholders.roles" name="Stakeholder roles" schema="schema/org.unicase.stakeholders.roles.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.unicase.ui.urml.stakeholders.navigation.NavigationView"
            icon="icons/discovery.gif"
            id="Stakeholders.view1"
            name="NavigationView"
            restorable="true">
      </view>
      <view
            class="org.unicase.ui.urml.stakeholders.review.ReviewView"
            icon="icons/read_obj.gif"
            id="ReviewView"
            name="ReviewView"
            restorable="true">
      </view>
      <view
            class="org.unicase.ui.urml.stakeholders.config.PhaseConfigurationView"
            icon="icons/wrench_orange.png"
            id="org.unicase.ui.urml.stakeholders.PhaseConfigurationView"
            name="PhaseConfurationView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.unicase.stakeholders.displaycontrols">
      <widget
            class="org.unicase.ui.urml.stakeholders.review.controlbuilder.SingleLineControlBuilder"
            name="Stakeholders.SingleLineDisplay"
            showLabel="true"
            type="java.lang.String">
      </widget>
      <widget
            class="org.unicase.ui.urml.stakeholders.review.controlbuilder.MultiLineControlBuilder"
            name="Stakeholders.MultiLineControl"
            showLabel="true"
            type="java.lang.String">
      </widget>
      <widget
            class="org.unicase.ui.urml.stakeholders.review.controlbuilder.ReviewedDisplayControlBuilder"
            name="Stakeholders.ReviewedDisplay"
            showLabel="true"
            type="java.lang.Boolean">
      </widget>
      <widget
            class="org.unicase.ui.urml.stakeholders.review.controlbuilder.MultiReferenceControlBuilder"
            name="Stakeholders.MultiReferenceControl"
            showLabel="false"
            type="org.unicase.model.urml.UrmlModelElement">
      </widget>
   </extension>
   <extension
         point="org.unicase.ui.meeditor.attributecontrols">
      <widget
            class="org.unicase.ui.urml.stakeholders.filtering.MEEditorFilterControl"
            name="org.unicase.ui.urml.stakeholders.widget3"
            showLabel="false"
            type="java.lang.Boolean">
      </widget>
      <widget
            class="org.unicase.ui.urml.stakeholders.filtering.MEEditorFilterControl"
            name="org.unicase.ui.urml.stakeholders.widget3"
            showLabel="false"
            type="java.lang.Object">
      </widget>
      <widget
            class="org.unicase.ui.urml.stakeholders.filtering.MEEditorFilterControl"
            name="org.unicase.ui.urml.stakeholders.widget3"
            showLabel="false"
            type="java.lang.Integer">
      </widget>
   </extension>
   <extension
         point="org.unicase.ui.meeditor.referencecontrols">
      <widget
            class="org.unicase.ui.urml.stakeholders.filtering.MEEditorFilterControl"
            name="org.unicase.ui.urml.stakeholders.MEEditorFilterControl"
            showLabel="false"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://unicase.org/model/urml">
         </package>
         <constraints
               categories="org.unicase.model">
            <constraint
                  class="org.unicase.ui.urml.stakeholders.validation.AllowedAssociationConstraint"
                  id="org.unicase.ui.urml.stakeholders.AllowedAssociationConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Disallowed association"
                  severity="ERROR"
                  statusCode="2">
               <message>
                  Association between {0} and {1} not allowed in phase &quot;{2}&quot;
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.unicase.ui.diagram.urmlDiagram.filters">
      <filter
            filterClass="org.unicase.ui.urml.stakeholders.filtering.DiagramFilter">
      </filter>
   </extension>


</plugin>
