<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.unicase.model.changetracking.ChangetrackingPackage"
            genModel="model/ChangeTracking.genmodel"
            uri="http://unicase.org/model/changetracking">
      </package>
      <package
            class="org.unicase.model.changetracking.git.GitPackage"
            genModel="model/ChangeTracking.genmodel"
            uri="http://unicase.org/model/changetracking/git">
      </package>
   </extension>
</plugin>
