<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.team.svn.ui.commit">
      <commit class="org.unicase.emfstore.jdt.svn.SVNCommitActionFactory">
	  </commit>
	</extension>
   <extension
         point="org.unicase.emfstore.jdt.TeamSynchronizer">
      <TeamSynchronizer
            class="org.unicase.emfstore.jdt.svn.SVNTeamSynchronizer">
      </TeamSynchronizer>
   </extension>
</plugin>
