<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.unicase.ui.web.Application"
            parameter="unicase"
            id="org.unicase.ui.web.Application">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.unicase.ui.web.Perspective"
            fixed="false"
            id="org.unicase.ui.web.perspective"
            name="UNICASE Web Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.unicase.ui.web.TabbedView"
            id="org.unicase.ui.web.TabbedView"
            name="Tabbed View"
            restorable="true">
      </view>
      <view
            class="org.unicase.ui.web.TreeView"
            id="org.unicase.ui.web.TreeView"
            name="Tree View"
            restorable="true">
      </view>
      <view
            class="org.unicase.ui.web.ExampleView"
            id="org.eclipse.rap.examples.exampleView"
            name="name"
            restorable="true">
      </view>
      <view
            class="org.unicase.ui.web.View"
            id="test.view"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="html/body.html"
            defaultEntrypointId="org.unicase.ui.web.Application"
            favicon="icons/unicase.png"
            id="org.unicase.ui.web.branding"
            servletName="unicase"
            themeId="org.unicase.ui.web.theme"
            title="UNICASE Web View">
      </branding>
      <branding
            body="html/body.html"
            defaultEntrypointId="org.unicase.ui.web.Application"
            favicon="icons/unicase.png"
            id="org.unicase.ui.web.branding1"
            servletName="rap"
            themeId="org.unicase.ui.web.theme"
            title="UNICASE Web View">
      </branding>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/loading.gif"
            base-name="/html/loading.gif">
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="theme/business/unicase-theme.css"
            id="org.unicase.ui.web.theme"
            name="UNICASE Web Theme">
      </theme>
   </extension>

</plugin>
