<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.unicase.ui.web.Application"
            parameter="hello"
            id="org.unicase.ui.web.Application">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="org.unicase.ui.web.Perspective"
            id="org.unicase.ui.web.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.unicase.ui.web.TableView"
            id="org.unicase.ui.web.TableView"
            name="Table View"
            restorable="true">
      </view>
      <view
            class="org.unicase.ui.web.TreeView"
            id="org.unicase.ui.web.TreeView"
            name="Tree View"
            restorable="true">
      </view>
   </extension>

</plugin>
