<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.papyrus.own.PapyrusHandler"
            id="org.unicase.papyrus.ActivityOpener"
            name="Open Activity Diagram">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.unicase.ui.navigator.viewer?after=additions">
         <command
               commandId="org.unicase.papyrus.ActivityOpener"
               label="Open Activity Diagram"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.unicase.papyrus.UML2Package">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/papyrus"
            class="org.unicase.papyrus.PapyrusPackage"
            genModel="model/papyrus.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="papyrus"
            class="org.unicase.papyrus.util.PapyrusResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.unicase.ecp.model.ecpModelPackage">
         <modelPackage
            modelPackage="http://unicase.org/model/papyrus"></modelPackage>
   </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="org.unicase.papyrus.own.UMLDiagramEditor"
               default="false"
               extensions="Activity_diagram"
               id="org.unicase.papyrus.activity.UMLDiagramEditorID"
               name="name">
         </editor>
      </extension>
      <extension
            point="org.eclipse.ui.contexts">
         <context
               id="org.unicase.papyrus.activity.diagramContext"
               name="UMLActivityContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
      </extension>
      <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.unicase.papyrus.own.PackageDiagramResource"
            contentTypeIdentifier="UML2Package">
      </parser>
   </extension>
   

</plugin>
