<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/papyrus"
            class="org.unicase.papyrus.PapyrusPackage"
            genModel="model/papyrus.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="papyrus"
            class="org.unicase.papyrus.util.PapyrusResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.unicase.ecp.model.ecpModelPackage">
         <modelPackage
            modelPackage="http://unicase.org/model/papyrus"></modelPackage>
   </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="org.unicase.papyrus.own.UMLActivityDiagramEditor"
               default="false"
               extensions="Activity_diagram"
               id="org.unicase.papyrus.activity.UMLDiagramEditorID"
               name="name">
         </editor>
         <editor
               class="org.unicase.papyrus.own.UMLClassDiagramEditor"
               default="false"
               extensions="Class_diagram"
               id="org.unicase.papyrus.clazz.UMLDiagramEditorID"
               name="name">
         </editor>
         <editor
               class="org.unicase.papyrus.own.UMLStateMachineDiagramEditor"
               default="false"
               extensions="StateMachine_diagram"
               id="org.unicase.papyrus.statemachine.UMLDiagramEditorID"
               name="name">
         </editor>
         <editor
               class="org.unicase.papyrus.own.UMLUseCaseDiagramEditor"
               default="false"
               extensions="UseCase_diagram"
               id="org.unicase.papyrus.usecase.UMLDiagramEditorID"
               name="name">
         </editor>
      </extension>
      <extension
            point="org.eclipse.ui.contexts">
         <context
               id="org.unicase.papyrus.activity.diagramContext"
               name="UMLActivityContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
         <context
               id="org.unicase.papyrus.clazz.diagramContext"
               name="UMLClassContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
         <context
               id="org.unicase.papyrus.statemachine.diagramContext"
               name="UMLStateMachineContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
         <context
               id="org.unicase.papyrus.usecase.diagramContext"
               name="UMLUseCaseContext"
               parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
         </context>
      </extension>
      <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.unicase.papyrus.own.UMLPackageDiagramResource"
            contentTypeIdentifier="UML2Package">
      </parser>
   </extension>
      <extension
            point="org.unicase.ui.common.modelelementopener">
         <ModelElementOpener
               class="org.unicase.papyrus.own.UMLPackageOpener"
               name="org.unicase.papyrus.UMLPackageOpener">
         </ModelElementOpener>
      </extension>
   

</plugin>
