<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.emf.ecp.editor.attributecontrols" name="org.eclipse.emf.ecp.editor.attributecontrols" schema="schema/org.eclipse.emf.ecp.editor.attributecontrol.exsd"/>
   <extension-point id="org.eclipse.emf.ecp.editor.referencecontrols" name="org.eclipse.emf.ecp.editor.referencecontrols" schema="schema/org.eclipse.emf.ecp.editor.referencecontrol.exsd"/>
   <extension-point id="org.eclipse.emf.ecp.editor.pages" name="org.eclipse.emf.ecp.editor.pages" schema="schema/org.eclipse.emf.ecp.editor.pages.exsd"/>
   <extension-point id="org.eclipse.emf.ecp.editor.melinkcontrols" name="org.eclipse.emf.ecp.editor.melinkcontrols" schema="schema/org.eclipse.emf.ecp.editor.melinkcontrol.exsd"/>
   <extension-point id="org.eclipse.emf.ecp.editor.statusmessage" name="Status Message" schema="schema/org.eclipse.emf.ecp.editor.statusmessage.exsd"/>
   <extension
         point="org.eclipse.emf.ecp.editor.attributecontrols">
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.MEBoolControl"
            name="org.eclipse.emf.ecp.editor.meboolcontrol"
            showLabel="true"
            type="java.lang.Boolean">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.MEIntControl"
            name="org.eclipse.emf.ecp.editor.meintcontrol"
            showLabel="true"
            type="java.lang.Integer">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.MESWTDateAndTimeControl"
            name="org.eclipse.emf.ecp.editor.medatecontrol"
            showLabel="true"
            type="java.util.Date">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.MEEnumControl"
            name="org.eclipse.emf.ecp.editor.meenumcontrol"
            showLabel="true"
            type="java.lang.Enum">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.MERichTextControl"
            name="org.eclipse.emf.ecp.editor.merichtextcontrol"
            showLabel="true"
            type="java.lang.String">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.METextControl"
            name="org.eclipse.emf.ecp.editor.metextcontrol"
            showLabel="true"
            type="java.lang.String">
      </widget>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.ecp.editor.commands.OpenModelElementHandler"
            id="org.eclipse.emf.ecp.editor.openModelElement"
            name="OpenModelElement">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.ecp.editor.MEEditor"
            default="false"
            id="org.eclipse.emf.ecp.editor"
            name="Model Element Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.editor.referencecontrols">
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.melinkcontrol.MESingleLinkControl"
            name="org.eclipse.emf.ecp.editor.mesinglelinkcontrol"
            showLabel="true"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.melinkcontrol.MEMultiLinkControl"
            name="org.eclipse.emf.ecp.editor.memultilinkcontrol"
            showLabel="false"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.melinkcontrol.associationclasscontrol.AssociationClassControl"
            name="org.eclipse.emf.ecp.editor.associationclasscontrol"
            showLabel="false"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.melinkcontrol.associationclasscontrol.AssociationClassControlNoNew"
            name="org.eclipse.emf.ecp.editor.associationclasscontrolnonew"
            showLabel="true"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.editor.melinkcontrols">
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.melinkcontrol.associationclasscontrol.AssociationClassLink"
            name="org.eclipse.emf.ecp.editor.associationclasslink"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.melinkcontrol.associationclasscontrol.AssociationClassLinkNoDelete"
            name="org.eclipse.emf.ecp.editor.associationclasslinknodelete"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.melinkcontrol.associationclasscontrol.AssociationClassLinkNotShow"
            name="org.eclipse.emf.ecp.editor.associationclasslinknotshow"
            type="org.eclipse.emf.ecore.EObject">
      </widget>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.editor.attributecontrols">
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.MEDoubleControl"
            name="org.eclipse.emf.ecp.editor.medoublecontrol"
            showLabel="true"
            type="java.lang.Double">
      </widget>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.editor.attributecontrols">
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.multiattributecontrol.StringMultiAttributeControl"
            name="org.eclipse.emf.ecp.editor.multistringcontrol"
            showLabel="true"
            type="java.lang.String">
      </widget>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.editor.attributecontrols">
      <widget
            class="org.eclipse.emf.ecp.editor.mecontrols.multiattributecontrol.IntegerMultiAttributeControl"
            name="org.eclipse.emf.ecp.editor.multiintegercontrol"
            showLabel="true"
            type="java.lang.Integer">
      </widget>
   </extension>
</plugin>
