<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="EMailNotifier"
         name="E-Mail Notifier"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.unicase.emfstore.emailnotifier.client.EMailNotifier">
         </run>
      </application>
   </extension>
   <extension
         id="EMailNotifier"
         name="E-Mail Notifier"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.unicase.emfstore.emailnotifier.EMailNotifier"
            description="E-Mail Notifier for the EMF Store"
            name="E-Mail Notifier">
         <property
               name="appName"
               value="E-Mail Notifier">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.unicase.emfstore.emailnotifier.store.ENSPackage"
            genModel="model/EMailNotifierModel.genmodel"
            uri="platform:/plugin/org.unicase.emfstore.emailnotifier/model/EMailNotifierModel.ecore">
      </package>
   </extension>
   
</plugin>
