<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.emfstore.common.model.singletonidresolver">
	  <singletonidresolver
            class="org.eclipse.emf.emfstore.ecore.EDatatypeIdResolver">
      </singletonidresolver>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.common.model.ignoredatatype">
      <ignoredatatype
            type="org.eclipse.emf.ecore.EGenericType">
      </ignoredatatype>
   </extension>
</plugin>
