<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Unicase"
            id="org.unicase">
      </category>
      <view
            name="Iteration Planning"
            icon="icons/IterationPlanning.gif"
            category="org.unicase"
            class="org.unicase.ui.stem.views.iterationplanningview.IterationPlanningView"
            id="org.unicase.ui.treeview.views.IterationPlanningView">
      </view>
      <view
            category="org.unicase"
            class="org.unicase.ui.stem.views.sprintstatus.SprintStatusView"
            icon="icons/backlog.png"
            id="org.unicase.ui.stem.views.sprintstatus.SprintStatusView"
            name="Sprint Status"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="org.unicase"
            class="org.unicase.ui.stem.views.statusview.StatusView"
            icon="icons/StatusView.gif"
            id="org.unicase.ui.treeview.views.StatusView"
            name="Status View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ui.stem.commands.ShowInStatusViewHandler"
            id="org.unicase.ui.stem.ShowInStatusView"
            name="ShowInStatusView">
      </command>
      <command
            defaultHandler="org.unicase.ui.stem.commands.ShowSprintStatusHandler"
            id="org.unicase.ui.stem.ShowSprintStatusView"
            name="ShowSprintStatusView">
      </command>
      <command
            defaultHandler="org.unicase.ui.stem.commands.AssignNewBugReportHandler"
            id="org.unicase.ui.stem.AssignNewBugReport"
            name="AssignNewBugReport">
      </command>
      <command
            defaultHandler="org.unicase.ui.stem.commands.AssignNewActionItemHandler"
            id="org.unicase.ui.stem.AssignNewActionItem"
            name="AssignNewActionItem">
      </command>
      <command
            defaultHandler="org.unicase.ui.stem.commands.AssignNewIssue"
            id="org.unicase.ui.stem.AssignNewIssue"
            name="AssignNewIssue">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.navigator.viewer?after=org.unicase.ui.common.commands.annotateActionItemSeperator">
         <command
               commandId="org.unicase.ui.stem.ShowInStatusView"
               icon="icons/StatusView.gif"
               label="Show Status"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <reference
                           definitionId="org.eclipse.emf.ecp.common.commands.modelElement">
                     </reference>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.navigator.viewer?before=org.unicase.ui.stem.ShowInStatusView">
         <command
               commandId="org.unicase.ui.stem.ShowSprintStatusView"
               icon="icons/backlog.png"
               label="Sprint Status"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <reference
                           definitionId="org.unicase.ui.common.commands.workPackage">
                     </reference>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.ui.stem.StatusView.UserTab?after=additions">
         <command
               commandId="org.unicase.ui.stem.AssignNewBugReport"
               icon="icons/Bug_closed.png"
               label="Assign new bug report..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.model.organization.OrgUnit">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.ui.stem.AssignNewActionItem"
               icon="icons/ActionItem.png"
               label="Assign new action item..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.model.organization.OrgUnit">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.ui.stem.AssignNewIssue"
               icon="icons/Issue.gif"
               label="Assign new issue..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.model.organization.OrgUnit">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>  

</plugin>
