<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.unicase.errorreporting.filters" name="filters" schema="schema/org.unicase.errorreporting.filters.exsd"/>
   <extension-point id="org.unicase.errorreporting.reportHandlers" name="reportHandlers" schema="schema/org.unicase.errorreporting.reportHandlers.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.unicase.errorreport.Startup">
      </startup>
   </extension>

</plugin>
