<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.unicase"
            name="unicase">
      </category>
      <view
            category="org.unicase"
            class="org.unicase.ui.taskview.TaskView"
            icon="icons/table.png"
            id="org.unicase.ui.taskview"
            name="Task View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.unicase"
            class="org.unicase.ui.tableview.UnicaseTableView"
            icon="icons/table_info.gif"
            id="org.unicase.ui.tableview.UnicasetableView_ID"
            name="Tableview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.tableview.UnicasetableView_ID">
         <command
               commandId="org.unicase.ui.common.deleteModelelement"
               icon="icons/delete.gif"
               label="delete model element"
               style="push"
               tooltip="delete model element">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.unicase.ui.tableview.UnicasetableView_ID?before=additions">
         <separator
               name="org.unicase.ui.tableview.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.unicase.ui.navigator.ShowMEInNavigator"
               icon="icons/link_with_navigator.gif"
               style="push"
               tooltip="show selected item in navigator">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.unicase.ui.tableview.UnicasetableView_ID?before=org.unicase.ui.tableview.separator1">
         <command
               commandId="org.unicase.ui.common.deleteModelelement"
               hoverIcon="icons/delete.gif"
               icon="icons/delete.gif"
               label="delete model element"
               style="push"
               tooltip="delete model element">
         </command>
      </menuContribution>
   </extension>

</plugin>
