<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.emfstore.startuplistener">
      <listener
            class="org.unicase.emfstore.startup.plugins.RerecordListener"
            name="org.unicase.emfstore.startup.plugins.listener3">
      </listener>
   </extension>
   <extension
         point="org.unicase.emfstore.startuplistener">
      <listener
            class="org.unicase.emfstore.startup.plugins.ExtractChangepackage"
            name="org.unicase.emfstore.startup.plugins.listener1">
      </listener>
   </extension>


</plugin>
