<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.unicase.emfstore.EmfStoreController">
         </run>
      </application>
   </extension>
   <extension
         id="unicaseEmfstoreProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.unicase.emfstore.id1"
            name="unicase EmfStore">
         <property
               name="appName"
               value="unicase EmfStore">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="unicase EmfStore">
      </product>
   </extension>

</plugin>
