<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.unicase.ui.meeditor.pages">
      <page
            class="org.unicase.model.usecase.ui.pages.MEFlowOfEventsPage"
            name="org.unicase.model.usecase.ui.pages.meflowofevents">
      </page>
   </extension>
   <extension
         point="org.unicase.ui.meeditor.referencecontrols">
      <widget
            class="org.unicase.model.usecase.ui.controls.FlowOfEventsControl"
            name="org.unicase.model.usecase.ui.flowofeventscontrol"
            type="org.unicase.metamodel.ModelElement">
      </widget>
   </extension>
   <extension
         point="org.unicase.ui.meeditor.referencecontrols">
      <widget
            class="org.unicase.model.usecase.ui.controls.MEFlowOfEventsOverviewControl"
            name="org.unicase.model.usecase.ui.meflowofeventsoverviewcontrol"
            type="org.unicase.metamodel.ModelElement">
      </widget>
   </extension>
   <extension
         point="org.unicase.ui.meeditor.attributecontrols">
      <widget
            class="org.unicase.model.usecase.ui.controls.CustomTextControl"
            name="org.unicase.model.usecase.ui.customtextcontrol"
            showLabel="true"
            type="java.lang.String">
      </widget>
   </extension>
   <extension
         point="org.unicase.ui.meeditor.referencecontrols">
      <widget
            class="org.unicase.model.usecase.ui.controls.CustomSystemLinkControl"
            name="org.unicase.model.usecase.ui.controls.customlinkcontrol"
            showLabel="false"
            type="org.unicase.metamodel.ModelElement">
      </widget>
   </extension>
   <extension
         point="org.unicase.ui.meeditor.referencecontrols">
      <widget
            class="org.unicase.model.usecase.ui.controls.CustomUseCaseLinkControl"
            name="org.unicase.model.usecase.ui.controls.customusecaselinkcontrol"
            showLabel="false"
            type="org.unicase.metamodel.ModelElement">
      </widget>
   </extension>

</plugin>
