<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.editor.attributecontrols">
      <widget
            class="org.eclipse.emf.ecp.riena.RienaTextControl"
            name="org.eclipse.emf.ecp.riena.rienatextcontrol"
            showLabel="true"
            type="java.lang.String">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.riena.RienaIntControl"
            name="org.eclipse.emf.ecp.riena.rienaintcontrol"
            showLabel="true"
            type="java.lang.Integer">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.riena.RienaEmailControl"
            name="org.eclipse.emf.ecp.riena.rienaemailcontrol"
            showLabel="true"
            type="java.lang.String">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.riena.RienaDateControl"
            name="org.eclipse.emf.ecp.riena.rienadatecontrol"
            showLabel="true"
            type="java.util.Date">
      </widget>
      <widget
            class="org.eclipse.emf.ecp.riena.RienaDateTimeControl"
            name="org.eclipse.emf.ecp.riena.rienadatetimecontrol"
            showLabel="true"
            type="java.util.Date">
      </widget>
   </extension>

</plugin>
