<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.ui.meeditor.attributecontrols">
      <widget
            class="MultiAttribute.MultiAttrContrNumb"
            name="test.widget1"
            showLabel="true"
            type="java.lang.Long">
      </widget>
   </extension>
   <extension
         point="org.unicase.ui.meeditor.attributecontrols">
      <widget
            class="MultiAttribute.MultiAttributeControl"
            name="test.widget2"
            showLabel="true"
            type="java.lang.String">
      </widget>
   </extension>

</plugin>
