<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=additions">
         <command
               commandId="org.unicase.scrm.unicase.LoadTemplateCommand"
               icon="icons/LoadTemplate.gif"
               label="Load Template"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.unicase.model.document.LeafSection">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.scrm.unicase.handlers.UnicaseLoadTemplateHandler"
            id="org.unicase.scrm.unicase.LoadTemplateCommand"
            name="LoadTemplate">
      </command>
   </extension>
   <extension
         point="org.unicase.ui.common.medropadapter">
      <MEDropAdapter
            class="org.unicase.scrm.unicase.dropadapters.SCRMSpaceDropAdapter">
      </MEDropAdapter>
      <MEDropAdapter
            class="org.unicase.scrm.unicase.dropadapters.SCRMDiagramDropAdapter">
      </MEDropAdapter>
      <MEDropAdapter
            class="org.unicase.scrm.unicase.dropadapters.RequirementDropAdapter">
      </MEDropAdapter>
   </extension>

</plugin>
