<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/pmdashboard/burndown"
            class="org.unicase.pmdashboard.burndown.BurndownPackage"
            genModel="model/pmdashboard.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.unicase"
            class="org.unicase.pmdashboard.burndown.views.BurndownView"
            id="org.unicase.managementDashboard.views.BurndownView"
            name="Burndown View"
            restorable="true">
      </view>
      <category
            id="org.unicase"
            name="Unicase">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.stem.ShowHistoryViewSeperator">
         <command
               commandId="org.unicase.managementDashboard.commands.ShowChart"
               id="ShowBurndownChart"
               label="Burndown Chart"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <reference
                        definitionId="org.unicase.ui.common.commands.workPackage">
                  </reference>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.pmdashboard.burndown.commands.ShowBurndownChartHandler"
            description="Shows a Burndown Chart for a WorkPackage"
            id="org.unicase.managementDashboard.commands.ShowChart"
            name="Show Burndown Chart">
      </command>
   </extension>

</plugin>
