<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
<copyright> Copyright (c) 2009-2012 Chair of Applied Software Engineering, Technische Universität München (TUM).
 All rights reserved. This program and the accompanying materials are made available under the terms of
 the Eclipse Public License v1.0 which accompanies this distribution,
 and is available at http://www.eclipse.org/legal/epl-v10.html </copyright>
-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="Activity_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="Activity_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="org.unicase.ui.diagram.activityDiagram.part.ModelDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/DiagramDiagramFile.gif"
         extensions="Activity_diagram"
         default="true"
         class="org.unicase.ui.diagram.activityDiagram.part.ModelDiagramEditor"
         matchingStrategy="org.unicase.ui.diagram.activityDiagram.part.ModelMatchingStrategy"
         contributorClass="org.unicase.ui.diagram.activityDiagram.part.ModelDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.unicase.ui.diagram.activityDiagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/DiagramDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.unicase.ui.diagram.activityDiagram.part.ModelCreationWizard"
  	     id="org.unicase.ui.diagram.activityDiagram.part.ModelCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="ActivityPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.unicase.ui.diagram.activityDiagram.part.ModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="ActivityPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.unicase.ui.diagram.activityDiagram.part.ModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="ActivityRender">
         <Priority name="Lowest"/>
         <ViewId id="org.unicase.ui.diagram.activityDiagram.part.ModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="org.unicase.ui.diagram.activityDiagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.unicase.diagram.general"
            name="%prefpage.org.unicase.diagram.general"
            class="org.unicase.ui.diagram.activityDiagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.unicase.diagram.appearance"
            name="%prefpage.org.unicase.diagram.appearance"
            category="org.unicase.diagram.general"
            class="org.unicase.ui.diagram.activityDiagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.unicase.diagram.connections"
            name="%prefpage.org.unicase.diagram.connections"
            category="org.unicase.diagram.general"
            class="org.unicase.ui.diagram.activityDiagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.unicase.diagram.printing"
            name="%prefpage.org.unicase.diagram.printing"
            category="org.unicase.diagram.general"
            class="org.unicase.ui.diagram.activityDiagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.unicase.diagram.rulersAndGrid"
            name="%prefpage.org.unicase.diagram.rulersAndGrid"
            category="org.unicase.diagram.general"
            class="org.unicase.ui.diagram.activityDiagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.unicase.ui.diagram.activityDiagram"
            labelProvider="org.unicase.ui.diagram.activityDiagram.sheet.ModelSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.unicase.ui.diagram.activityDiagram">
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.unicase.ui.diagram.activityDiagram">
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.unicase.ui.diagram.activityDiagram.sheet.ModelPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.unicase.ui.diagram.activityDiagram.navigator.ModelAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="org.unicase.ui.diagram.activityDiagram.providers.ModelViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Activity"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2002,2003,2004,2005,2006"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.unicase.ui.diagram.activityDiagram.providers.ModelEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Activity"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2002,2003,2004,2005,2006"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.unicase.ui.diagram.activityDiagram.providers.ModelModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.unicase.ui.diagram.activityDiagram.edit.parts.MEDiagramEditPart" id="ActivityDiagram_33"/>
         <object class="org.unicase.ui.diagram.activityDiagram.edit.parts.ActivityEditPart" id="Activity_2002"/>
         <object class="org.unicase.ui.diagram.activityDiagram.edit.parts.ForkEditPart" id="Fork_2003"/>
         <object class="org.unicase.ui.diagram.activityDiagram.edit.parts.ActivityInitialEditPart" id="ActivityInitial_2004"/>
         <object class="org.unicase.ui.diagram.activityDiagram.edit.parts.ActivityEndEditPart" id="ActivityEnd_2005"/>
         <object class="org.unicase.ui.diagram.activityDiagram.edit.parts.BranchEditPart" id="Branch_2006"/>
         <context elements="ActivityDiagram_33,Activity_2002,Fork_2003,ActivityInitial_2004,ActivityEnd_2005,Branch_2006"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.unicase.ui.diagram.activityDiagram.providers.ModelIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.unicase.ui.diagram.activityDiagram.providers.ModelParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://unicase.org/model/diagram">
         <metamodelType
               id="org.unicase.ui.diagram.activityDiagram.ActivityDiagram_33"
               name="%metatype.name.ActivityDiagram_33"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ActivityDiagram"
               edithelper="org.unicase.ui.diagram.activityDiagram.edit.helpers.MEDiagramEditHelper">
            <param name="semanticHint" value="33"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/activity">
         <metamodelType
               id="org.unicase.ui.diagram.activityDiagram.Activity_2002"
               name="%metatype.name.Activity_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Activity"
               edithelper="org.unicase.ui.diagram.activityDiagram.edit.helpers.ActivityEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/activity">
         <metamodelType
               id="org.unicase.ui.diagram.activityDiagram.Fork_2003"
               name="%metatype.name.Fork_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Fork"
               edithelper="org.unicase.ui.diagram.activityDiagram.edit.helpers.ForkEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/activity">
         <metamodelType
               id="org.unicase.ui.diagram.activityDiagram.ActivityInitial_2004"
               name="%metatype.name.ActivityInitial_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ActivityInitial"
               edithelper="org.unicase.ui.diagram.activityDiagram.edit.helpers.ActivityInitialEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/activity">
         <metamodelType
               id="org.unicase.ui.diagram.activityDiagram.ActivityEnd_2005"
               name="%metatype.name.ActivityEnd_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ActivityEnd"
               edithelper="org.unicase.ui.diagram.activityDiagram.edit.helpers.ActivityEndEditHelper">
            <param name="semanticHint" value="2005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/activity">
         <metamodelType
               id="org.unicase.ui.diagram.activityDiagram.Branch_2006"
               name="%metatype.name.Branch_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Branch"
               edithelper="org.unicase.ui.diagram.activityDiagram.edit.helpers.BranchEditHelper">
            <param name="semanticHint" value="2006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/activity">
         <metamodelType
               id="org.unicase.ui.diagram.activityDiagram.Transition_4001"
               name="%metatype.name.Transition_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Transition"
               edithelper="org.unicase.ui.diagram.activityDiagram.edit.helpers.TransitionEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.unicase.ui.diagram.activityDiagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.unicase.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.unicase.ui.diagram.activityDiagram.TypeContext">
         <elementType ref="org.unicase.ui.diagram.activityDiagram.ActivityDiagram_33"/>
         <elementType ref="org.unicase.ui.diagram.activityDiagram.Activity_2002"/>
         <elementType ref="org.unicase.ui.diagram.activityDiagram.Fork_2003"/>
         <elementType ref="org.unicase.ui.diagram.activityDiagram.ActivityInitial_2004"/>
         <elementType ref="org.unicase.ui.diagram.activityDiagram.ActivityEnd_2005"/>
         <elementType ref="org.unicase.ui.diagram.activityDiagram.Branch_2006"/>
         <elementType ref="org.unicase.ui.diagram.activityDiagram.Transition_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
    <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.unicase.ui.diagram.activityDiagram.part.DiagramTypeTester"
            id="org.unicase.ui.diagram.activityDiagram.part.DiagramTypeTester"
            namespace="org.unicase.ui.diagram.activityDiagram"
            properties="isDiagramType"
            type="org.eclipse.emf.ecore.EObject">
      </propertyTester>
   </extension>
   
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.unicase.ui.diagram.activityDiagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.unicase.ui.diagram.activityDiagram"
           properties="isURIEditorInput"
           class="org.unicase.ui.diagram.activityDiagram.part.ModelUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.unicase.ui.diagram.activityDiagram.resourceContent"/>
			<contentExtension pattern="org.unicase.ui.diagram.activityDiagram.domainResourceContent"/>
            <contentExtension pattern="org.unicase.ui.diagram.activityDiagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.unicase.ui.diagram.activityDiagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.unicase.ui.diagram.activityDiagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.unicase.ui.diagram.activityDiagram.navigator.ModelNavigatorContentProvider" 
            labelProvider="org.unicase.ui.diagram.activityDiagram.navigator.ModelNavigatorLabelProvider"
            icon="icons/obj16/DiagramDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="Activity_diagram"/>
               </and>
               <instanceof value="org.unicase.ui.diagram.activityDiagram.navigator.ModelAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.unicase.ui.diagram.activityDiagram.navigator.ModelAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.unicase.ui.diagram.activityDiagram.navigatorSorter" 
               class="org.unicase.ui.diagram.activityDiagram.navigator.ModelNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="Activity_diagram"/>
                  </and>
                  <instanceof value="org.unicase.ui.diagram.activityDiagram.navigator.ModelAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.unicase.ui.diagram.activityDiagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.unicase.ui.diagram.activityDiagram.navigator.ModelDomainNavigatorContentProvider" 
            labelProvider="org.unicase.ui.diagram.activityDiagram.navigator.ModelDomainNavigatorLabelProvider"
            icon="icons/obj16/DiagramDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="model"/>
               </and>
               <instanceof value="org.unicase.ui.diagram.activityDiagram.navigator.ModelDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.unicase.ui.diagram.activityDiagram.navigator.ModelDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.unicase.ui.diagram.activityDiagram.navigatorActionProvider"
            class="org.unicase.ui.diagram.activityDiagram.navigator.ModelNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.unicase.ui.diagram.activityDiagram.navigator.ModelAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.unicase.ui.diagram.activityDiagram.navigatorLinkHelper"
            class="org.unicase.ui.diagram.activityDiagram.navigator.ModelNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.unicase.ui.diagram.activityDiagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.unicase.ui.diagram.activityDiagram.navigator.ModelAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.unicase.ui.diagram.activityDiagram.part.ModelDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.unicase.ui.diagram.activityDiagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.unicase.ui.diagram.activityDiagram.updateDiagram"
         contextId="org.unicase.ui.diagram.activityDiagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.unicase.ui.diagram.activityDiagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.unicase.ui.diagram.activityDiagram.part.ModelDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.unicase.ui.diagram.activityDiagram.edit.parts.MEDiagramEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.unicase.ui.diagram.activityDiagram.part.ModelDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.unicase.ui.diagram.activityDiagram.LoadResourceAction"
         name="Load Resource"
         categoryId="org.unicase.ui.diagram.activityDiagram.part.ModelDiagramEditorID"
         defaultHandler="org.unicase.ui.diagram.activityDiagram.part.LoadResourceAction"/>
   </extension>
      <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
               class="org.unicase.ui.activityDiagram.ActivityDiagramOpener">
                 <staticTester
               modelElement="org.unicase.model.diagram.ActivityDiagram"
               priority="5">
         </staticTester>
      </modelElementOpener>
   </extension>
   

   <!-- optionally, specify keybindings -->
</plugin>
