<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/model/usecase"
            class="org.unicase.model.usecase.UsecasePackage"
            genModel="model/usecase.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="usecase"
            class="usecase.util.UsecaseResourceFactoryImpl"/>
   </extension>

</plugin>
