<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="org.unicase.ui.diagram.orgchartDiagram.orgchartDiagramType"
            name="OrgchartDiagram"
            type="org.unicase.ui.diagram.orgchartDiagram.orgchartDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.unicase.ui.diagram.orgchartdiagram.OrgchartDiagramTypeProvider"
            id="org.unicase.ui.diagram.orgchartDiagram.orgchartDiagramTypeProvider"
            name="org.unicase.ui.diagram.orgchartDiagram.diagramTypeProvider">
         <diagramType
               id="org.unicase.ui.diagram.orgchartDiagram.orgchartDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.unicase.ui.common.modelelementopener">
      <ModelElementOpener
            class="org.unicase.ui.diagram.orgchartdiagram.OrgchartDiagramOpener"
            name="org.unicase.ui.diagram.orgchartDiagram.ModelElementOpener1">
      </ModelElementOpener>
   </extension>

</plugin>
