<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes">
      <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="model_diagram">
      </fileTypes>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="true"?>
      <parser
         type="model_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="org.unicase.ui.componentDiagram.part.ModelDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/DiagramDiagramFile.gif"
         extensions="model_diagram"
         default="true"
         class="org.unicase.ui.componentDiagram.part.ModelDiagramEditor"
         matchingStrategy="org.unicase.ui.componentDiagram.part.ModelMatchingStrategy"
         contributorClass="org.unicase.ui.componentDiagram.part.ModelDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.unicase.ui.componentDiagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/DiagramDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.unicase.ui.componentDiagram.part.ModelCreationWizard"
  	     id="org.unicase.ui.componentDiagram.part.ModelCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            adaptable="false"
            id="org.unicase.ui.componentDiagram.LoadResource"
            objectClass="org.unicase.ui.componentDiagram.edit.parts.MEDiagramEditPart">
         <action
               class="org.unicase.ui.componentDiagram.part.ModelLoadResourceAction"
               enablesFor="1"
               id="org.unicase.ui.componentDiagram.LoadResourceAction"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>           
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.unicase.ui.componentDiagram.InitDiagram"
            nameFilter="*.model"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.unicase.ui.componentDiagram.part.ModelInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.unicase.ui.componentDiagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="ComponentPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.unicase.ui.componentDiagram.part.ModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="ComponentPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.unicase.ui.componentDiagram.part.ModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="ComponentRender">
         <Priority name="Lowest"/>
         <ViewId id="org.unicase.ui.componentDiagram.part.ModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences">
      <?gmfgen generated="true"?>
      <initializer class="org.unicase.ui.componentDiagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <?gmfgen generated="true"?>
      <page
            id="org.unicase.diagram.general"
            name="%preference.page.title.org.unicase.diagram.general"
            class="org.unicase.ui.componentDiagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.unicase.diagram.appearance"
            name="%preference.page.title.org.unicase.diagram.appearance"
            category="org.unicase.diagram.general"
            class="org.unicase.ui.componentDiagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.unicase.diagram.connections"
            name="%preference.page.title.org.unicase.diagram.connections"
            category="org.unicase.diagram.general"
            class="org.unicase.ui.componentDiagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.unicase.diagram.printing"
            name="%preference.page.title.org.unicase.diagram.printing"
            category="org.unicase.diagram.general"
            class="org.unicase.ui.componentDiagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.unicase.diagram.rulersAndGrid"
            name="%preference.page.title.org.unicase.diagram.rulersAndGrid"
            category="org.unicase.diagram.general"
            class="org.unicase.ui.componentDiagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            id="org.unicase.diagram.pathmaps"
            name="%preference.page.title.org.unicase.diagram.pathmaps"
            category="org.unicase.diagram.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.unicase.ui.componentDiagram"
            labelProvider="org.unicase.ui.componentDiagram.sheet.ModelSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.unicase.ui.componentDiagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.unicase.ui.componentDiagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.unicase.ui.componentDiagram.sheet.ModelPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.unicase.ui.componentDiagram.navigator.ModelAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="org.unicase.ui.componentDiagram.providers.ModelViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Component"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.unicase.ui.componentDiagram.providers.ModelEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.unicase.ui.componentDiagram.providers.ModelModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="org.unicase.ui.componentDiagram.providers.ModelIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.unicase.ui.componentDiagram.providers.ModelParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://unicase.org/model/diagram">
         <metamodelType
               id="org.unicase.ui.componentDiagram.MEDiagram_99"
               name="%metatype.name.MEDiagram_99"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MEDiagram"
               edithelper="org.unicase.ui.componentDiagram.edit.helpers.MEDiagramEditHelper">
            <param name="semanticHint" value="99"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/component">
         <metamodelType
               id="org.unicase.ui.componentDiagram.ComponentService_1001"
               name="%metatype.name.ComponentService_1001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ComponentService"
               edithelper="org.unicase.ui.componentDiagram.edit.helpers.Component2EditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/component">
         <metamodelType
               id="org.unicase.ui.componentDiagram.Component_1002"
               name="%metatype.name.Component_1002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Component"
               edithelper="org.unicase.ui.componentDiagram.edit.helpers.ComponentEditHelper">
            <param name="semanticHint" value="1002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/component">
         <specializationType
               id="org.unicase.ui.componentDiagram.ComponentOfferedServices_3001"
               name="%metatype.name.ComponentOfferedServices_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="3001"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/component">
         <specializationType
               id="org.unicase.ui.componentDiagram.ComponentConsumedServices_3002"
               name="%metatype.name.ComponentConsumedServices_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="3002"/>
         </specializationType>
      </metamodel>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.unicase.ui.componentDiagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.unicase.ui.componentDiagram"
           properties="isURIEditorInput"
           class="org.unicase.ui.componentDiagram.part.ModelUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.unicase.ui.componentDiagram.DomainModelElementPropertyTester"
           type="org.eclipse.emf.ecore.EObject"
           namespace="org.unicase.ui.componentDiagram"
           properties="isDomainModelElement"
           class="org.unicase.ui.componentDiagram.part.ModelDomainModelElementTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.unicase.ui.componentDiagram.resourceContent"/>
			<contentExtension pattern="org.unicase.ui.componentDiagram.domainResourceContent"/>
            <contentExtension pattern="org.unicase.ui.componentDiagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.unicase.ui.componentDiagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.unicase.ui.componentDiagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.unicase.ui.componentDiagram.navigator.ModelNavigatorContentProvider" 
            labelProvider="org.unicase.ui.componentDiagram.navigator.ModelNavigatorLabelProvider"
            icon="icons/obj16/DiagramDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="model_diagram"/>
               </and>
               <instanceof value="org.unicase.ui.componentDiagram.navigator.ModelAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.unicase.ui.componentDiagram.navigator.ModelAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.unicase.ui.componentDiagram.navigatorSorter" 
               class="org.unicase.ui.componentDiagram.navigator.ModelNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="model_diagram"/>
                  </and>
                  <instanceof value="org.unicase.ui.componentDiagram.navigator.ModelAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.unicase.ui.componentDiagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.unicase.ui.componentDiagram.navigator.ModelDomainNavigatorContentProvider" 
            labelProvider="org.unicase.ui.componentDiagram.navigator.ModelDomainNavigatorLabelProvider"
            icon="icons/obj16/DiagramDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="model"/>
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject"/>
                  <test property="org.unicase.ui.componentDiagram.isDomainModelElement"/>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
       	       <instanceof value="org.eclipse.emf.ecore.EObject"/>
       	       <test property="org.unicase.ui.componentDiagram.isDomainModelElement"/>
       	    </and>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.unicase.ui.componentDiagram.navigatorActionProvider"
            class="org.unicase.ui.componentDiagram.navigator.ModelNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.unicase.ui.componentDiagram.navigator.ModelAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.unicase.ui.componentDiagram.navigatorLinkHelper"
            class="org.unicase.ui.componentDiagram.navigator.ModelNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.unicase.ui.componentDiagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.unicase.ui.componentDiagram.navigator.ModelAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.unicase.ui.componentDiagram.part.ModelDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.unicase.ui.componentDiagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.unicase.ui.componentDiagram.updateDiagram"
         contextId="org.unicase.ui.componentDiagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>




</plugin>
