<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.ui.common.medropadapter">
      <MEDropAdapter
            class="org.eclipse.bowlingmodel.navigatorcustomisation.MEDropAdaptorGame">
      </MEDropAdapter>
   </extension>
   <extension
         point="org.unicase.ui.common.medropadapter">
      <MEDropAdapter
            class="org.eclipse.bowlingmodel.navigatorcustomisation.MEDropAdaptorTournament">
      </MEDropAdapter>
   </extension>

</plugin>
