<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.ui.common.tracelistener">
      <tracelistener
            class="org.unicase.ecpemfstorebridge.TraceListener">
      </tracelistener>
   </extension>
   <extension
         point="org.unicase.ui.common.modelelementopenlistener">
      <modelelementopenlistener
            class="org.unicase.ecpemfstorebridge.ModelelementOpenListener">
      </modelelementopenlistener>
   </extension>
   <extension
         point="org.unicase.ui.navigator.ecpworkspace">
      <Workspace
            class="org.unicase.ecpemfstorebridge.ECPWorkspace">
      </Workspace>
   </extension>

</plugin>
