<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?before=org.unicase.ui.common.deleteModelelement">
         <command
               commandId="org.unicase.cutpaste.cut"
               icon="icons/cut.png"
               label="Cut model element"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.cutpaste.cut">
         <command
               commandId="org.unicase.cutpaste.paste"
               icon="icons/paste_plain.png"
               label="Paste model element"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.cutpaste.authorspy">
         <command
               commandId="org.unicase.cutpaste.containerspy"
               icon="icons/briefcase.png"
               label="Lookup container element"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.cutpaste.cut"
            name="cut">
      </command>
      <command
            id="org.unicase.cutpaste.paste"
            name="paste">
      </command>
      <command
            id="org.unicase.cutpaste.containerspy"
            name="containerspy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.cutpaste.handlers.CutHandler"
            commandId="org.unicase.cutpaste.cut">
      </handler>
      <handler
            class="org.unicase.cutpaste.handlers.PasteHandler"
            commandId="org.unicase.cutpaste.paste">
         <activeWhen>
         	<with variable="activeMenu">
            <test
                  forcePluginActivation="true"
                  property="org.unicase.cutpaste.testers.canPaste">
            </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.unicase.cutpaste.handlers.ContainerSpyHandler"
            commandId="org.unicase.cutpaste.containerspy">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.unicase.cutpaste.cut"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+DEL">
      </key>
      <key
            commandId="org.unicase.cutpaste.paste"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+INSERT">
      </key>
      <key
            commandId="org.unicase.cutpaste.containerspy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+#">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.unicase.cutpaste.stuff.CutAndPasteDecorator"
            id="org.unicase.cutpaste.decorator1"
            label="CutAndPasteLabelDecorator"
            lightweight="true"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.unicase.cutpaste.stuff.CanPasteTester"
            id="org.uorg.unicase.cutpaste.testers.canPasteTester"          namespace="org.unicase.cutpaste.testers"
            properties="canPaste"          type="java.lang.Object">
      </propertyTester>
   </extension>


</plugin>
