<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?before=org.unicase.ui.common.deleteModelelement">
         <command
               commandId="org.unicase.cutpaste.cut"
               icon="icons/cut.png"
               label="Cut model element"
               style="push">
         </command>
      </menuContribution>
            <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?before=org.unicase.cutpaste.cut">
         <command
               commandId="org.unicase.cutpaste.authorspy"
               icon="icons/magnifier.png"
               label="Lookup author"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.cutpaste.cut">
         <command
               commandId="org.unicase.cutpaste.paste"
               icon="icons/paste_plain.png"
               label="Paste model element"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.cutpaste.authorspy">
         <command
               commandId="org.unicase.cutpaste.containerspy"
               icon="icons/briefcase.png"
               label="Lookup container element"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.cutpaste.cut"
            name="cut">
      </command>
      <command
            id="org.unicase.cutpaste.paste"
            name="paste">
      </command>
      <command
            id="org.unicase.cutpaste.authorspy"
            name="authorspy">
      </command>
      <command
            id="org.unicase.cutpaste.containerspy"
            name="containerspy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.cutpaste.handlers.CutHandler"
            commandId="org.unicase.cutpaste.cut">
      </handler>
      <handler
            class="org.unicase.cutpaste.handlers.PasteHandler"
            commandId="org.unicase.cutpaste.paste">
      </handler>
      <handler
            class="org.unicase.cutpaste.handlers.AuthorSpyHandler"
            commandId="org.unicase.cutpaste.authorspy">
      </handler>
      <handler
            class="org.unicase.cutpaste.handlers.ContainerSpyHandler"
            commandId="org.unicase.cutpaste.containerspy">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.unicase.cutpaste.cut"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+DEL">
      </key>
      <key
            commandId="org.unicase.cutpaste.paste"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+INSERT">
      </key>
      <key
            commandId="org.unicase.cutpaste.authorspy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ENTER">
      </key>
      <key
            commandId="org.unicase.cutpaste.containerspy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+#">
      </key>
   </extension>


</plugin>
