<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>


-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/emfstore/esmodel"
            class="org.unicase.emfstore.esmodel.EsmodelPackage"
            genModel="model/esmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/esmodel/versioning"
            class="org.unicase.emfstore.esmodel.versioning.VersioningPackage"
            genModel="model/esmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/esmodel/versioning/operations"
            class="org.unicase.emfstore.esmodel.versioning.operations.OperationsPackage"
            genModel="model/esmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/esmodel/versioning/events"
            class="org.unicase.emfstore.esmodel.versioning.events.EventsPackage"
            genModel="model/esmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/esmodel/accesscontrol"
            class="org.unicase.emfstore.esmodel.accesscontrol.AccesscontrolPackage"
            genModel="model/esmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/esmodel/accesscontrol/roles"
            class="org.unicase.emfstore.esmodel.accesscontrol.roles.RolesPackage"
            genModel="model/esmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/esmodel/notification"
            class="org.unicase.emfstore.esmodel.notification.NotificationPackage"
            genModel="model/esmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://unicase.org/emfstore/esmodel/url"
            class="org.unicase.emfstore.esmodel.url.UrlPackage"
            genModel="model/esmodel.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.unicase.emfstore.esmodel.versioning.operations.semantic.SemanticPackage"
            genModel="model/esmodel.genmodel"
            uri="http://unicase.org/esmodel/versioning/operations/semantic">
      </package>
   </extension>


</plugin>
