<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>


-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://unicase.org/emfstore/esmodel" 
       class = "org.unicase.emfstore.esmodel.EsmodelPackage"
       genModel = "model/esmodel.genmodel" /> 
  </extension>

</plugin>
