<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.unicase"
            class="org.unicase.ui.test.views.TestView"
            id="org.unicase.ui.test.modelTestView"
            name="model test view"
            restorable="true">
      </view>
      <category
            id="org.unicase"
            name="unicase">
      </category>
   </extension>
</plugin>
