<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=additions">
         <command
               commandId="org.unicase.modelgenerator.ecp.generateModel"
               label="Generate Model"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="?">
                  </count>
                  <iterate
                        ifEmpty="true">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.modelgenerator.ecp.generateChanges"
               label="Generate Changes"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ecp.modelgenerator.GenerateModelHandler"
            id="org.unicase.modelgenerator.ecp.generateModel"
            name="Generate Model">
      </command>
      <command
            defaultHandler="org.unicase.ecp.modelgenerator.GenerateChangesHandler"
            id="org.unicase.modelgenerator.ecp.generateChanges"
            name="Generate Changes">
      </command>
   </extension>

</plugin>
