<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.unicase.metamodel.ignoredatatype">
      <ignoredatatype
            type="org.eclipse.emf.ecore.EGenericType">
      </ignoredatatype>
   </extension>
   <extension
         point="org.unicase.metamodel.singletonidresolver">
      <singletonidresolver
            class="org.unicase.emfstore.ecore.EDatatypeIdResolver">
      </singletonidresolver>
   </extension>

</plugin>
