<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ui.linkrecommendation.commands.RecoveryWizardHandler"
            id="org.unicase.ui.linkRecommendation.linkRecovery"
            name="linkRecovery">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.workspace.ui.Other?after=org.unicase.workspace.ui.compareProjects">
         <command
               commandId="org.unicase.ui.linkRecommendation.linkRecovery"
               icon="icon/arrow_join.png"
               label="Link Recovery"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.unicase.workspace.ProjectSpace">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.unicase.ui.meeditor.MEEditorPage?after=additions">
         <command
               commandId="org.unicase.ui.linkRecommendation.linkRecovery"
               icon="icon/arrow_join.png"
               label="Suggest Links for this ModelElement"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
