<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.unicase.codetrace.teamAdapters" name="Team Adapters" schema="schema/org.unicase.codetrace.teamAdapters.exsd"/>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.codetrace.team.ui.command.SendPatchCommand"
            name="Send Patch to Unicase">
      </command>
      <command
            id="org.unicase.codetrace.team.ui.command.ApplyPatchCommand"
            name="Apply Patch from Unicase">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.unicase.masterarbeit.ui.ResourceContributions"
            objectClass="org.eclipse.core.resources.mapping.ResourceMapping">
         <action
               class="org.unicase.codetrace.team.ui.action.SendPatchActionDelegate"
               definitionId="org.unicase.codetrace.team.ui.command.SendPatchCommand"
               id="org.unicase.masterarbeit.ui.action.SendPatchAction"
               label="Send Patch to Unicase"
               menubarPath="team.main"
               tooltip="Creates a patch and sends it to a unicase project.">
         </action>
         <action
               class="org.unicase.codetrace.team.ui.action.ApplyPatchActionDelegate"
               definitionId="org.unicase.codetrace.team.ui.command.ApplyPatchCommand"
               id="org.unicase.codetrace.team.ui.action.ApplyPatchAction"
               label="Apply Patch from Unicase"
               menubarPath="team.main"
               tooltip="Applies a patch from unicase onto this resouce">
         </action>
      </objectContribution>
   </extension>

</plugin>
