<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.unicase.ui.tom.classDiagram.providers.ModelEditPartProvider">
         <Priority name="Low"/>
      </editpartProvider>
   </extension>

</plugin>
