<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.unicase"
            class="org.unicase.urml.ui.hypergraph.HypergraphView"
            icon="icons/sample.gif"
            id="org.unicase.urml.ui.hypergraph.HypergraphView"
            name="Hypergraph View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.urml.ui.hypergraph.ShowHypergraphView"
            name="ShowHypergraphView">
      </command>
      <command
            id="org.unicase.urml.ui.hypergraph.ShowInNavigator"
            name="ShowInNavigator">
      </command>
      <command
            id="org.unicase.urml.ui.hypergraph.ShowInMEDiagram"
            name="ShowInMEDiagram">
      </command>
      <command
            id="org.unicase.urml.ui.hypergraph.ShowInMEEditor"
            name="ShowInMEEditor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.urml.ui.hypergraph.ShowHypergraphViewHandler"
            commandId="org.unicase.urml.ui.hypergraph.ShowHypergraphView">
      </handler>
      <handler
            class="org.unicase.urml.ui.hypergraph.ShowInNavigatorHandler"
            commandId="org.unicase.urml.ui.hypergraph.ShowInNavigator">
      </handler>
      <handler
            class="org.unicase.urml.ui.hypergraph.ShowInMEEditorHandler"
            commandId="org.unicase.urml.ui.hypergraph.ShowInMEEditor">
      </handler>
      <handler
            class="org.unicase.urml.ui.hypergraph.ShowInMEDiagramHandler"
            commandId="org.unicase.urml.ui.hypergraph.ShowInMEDiagram">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.unicase.urml.ui.hypergraph.ShowHypergraphView"
               icon="icons/sample.gif"
               label="Show Hypergraph"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.urml.ui.hypergraph.HypergraphView">
         <command
               commandId="org.unicase.urml.ui.hypergraph.ShowInNavigator"
               icon="icons/sample.gif"
               label="Show in Navigator"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.unicase.urml.ui.hypergraph.SelectionCheck">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.urml.ui.hypergraph.ShowInMEEditor"
               icon="icons/sample.gif"
               label="Show in MEEditor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.unicase.urml.ui.hypergraph.SelectionCheck">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.urml.ui.hypergraph.ShowInMEDiagram"
               icon="icons/sample.gif"
               label="Show in MEDiagram"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.unicase.urml.ui.hypergraph.SelectionCheck">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.unicase.urml.ui.hypergraph.SelectionCheck">
         <with
               variable="activeMenuSelection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>


</plugin>
