<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.unicase.emfstore.startuplistener" name="StartupListener" schema="schema/startuplistener.exsd"/>
   <extension
         id="emfstore"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.unicase.emfstore.EmfStoreController">
         </run>
      </application>
   </extension>
   <extension
         id="emfstore"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.unicase.emfstore.emfstore"
            name="emfstore">
         <property
               name="appName"
               value="emfstore">
         </property>
      </product>
   </extension>
</plugin>
