<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.common.modelelementopener">
      <ModelElementOpener
            class="org.eclipse.emf.ecp.navigatoreditorbridge.ModelElementOpener"
            name="org.eclipse.emf.ecp.editor.MEEditor">
      </ModelElementOpener>
   </extension>

</plugin>
