<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ui.iterationplanner.commands.ShowIterationPlanningWizardHandler"
            id="org.unicase.ui.IterationPlanner.ShowIterationPlanningWizard"
            name="ShowIterationPlanningWizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.unicase.ui.navigator.viewer?after=additions">
         <command
               commandId="org.unicase.ui.IterationPlanner.ShowIterationPlanningWizard"
               icon="icons/wizard.png"
               style="push"
               tooltip="Shows iteration planning wizard.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.unicase.model.recommendationstrategy">
      <strategy
            baseElementClass="org.unicase.model.task.WorkItem"
            eReferenceName="assignee"
            name="org.unicase.ui.IterationPlanner.WorkItem_Assignee"
            strategyClass="org.unicase.ui.iterationplanner.assigneerecommender.AssigneeRecommendationStrategy">
      </strategy>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.unicase.ui.common.unicase"
            class="org.unicase.ui.iterationplanner.preferences.AssigneeRecommenderPreferencesPage"
            id="org.unicase.ui.IterationPlanner.AssigneeRecommender"
            name="Assignee Recommender">
      </page>
   </extension>

</plugin>
