<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.unicase.client.Unicase">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.unicase.client.application"
            name="UNICASE">
         <property
               name="appName"
               value="UNICASE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="UNICASE is a CASE-Tool integrating models from the different development acitivities, such as requirements, use cases, UML models, schedules, bug and feature models into a unified model. The project is open-source and released under the Eclipse Public License v 1.0 (EPL).&#x0A;&#x0A;More details can be found at the project home-page : &#x0A;http://www.unicase.org">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif,icons/alt_window_48.gif,icons/alt_window_64.gif,icons/alt_window_128.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="90,393,460,20">
         </property>
         <property
               name="startupProgressRect"
               value="85,413,490,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.installationPages">
          <page
            name="Installed Software"
            class="org.eclipse.equinox.p2.ui.InstalledSoftwarePage"
            id="org.unicase.client.p2.InstalledSoftwarePage">
          </page>
          <page
            name="Install History"
            class="org.eclipse.equinox.p2.ui.RevertProfilePage"
            id="org.unicase.client.p2.RevertProfilePage">
          </page>
    </extension>

    <extension
         point="org.eclipse.ui.commands">
      <command
            name="Update"
            id="org.unicase.client.p2.update">
      </command>
      <command
            name="Install"
            id="org.unicase.client.p2.install">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.unicase.client.p2.update"
            class="org.unicase.client.p2.UpdateHandler">
      </handler>
      <handler
            commandId="org.unicase.client.p2.install"
            class="org.unicase.client.p2.InstallNewSoftwareHandler">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:helpStart?after=additions">
            <command
                  commandId="org.unicase.client.p2.update"
            	  mnemonic="%Update.command.mnemonic"
                  id="org.unicase.client.p2.menu.update">
            </command>
                        
      </menuContribution>
      <menuContribution
            locationURI="menu:helpStart?after=org.unicase.client.p2.menu.update">
            <command
                  commandId="org.unicase.client.p2.install"
            	  mnemonic="%Install.command.mnemonic"
                  id="org.unicase.client.p2.menu.install">
            </command>
      </menuContribution>
   </extension>
</plugin>
