<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.unicase.client.Unicase">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.unicase.client.UnicasePerspective"
            icon="icons/unicase.png"
            id="org.unicase.client.UnicasePerspective"
            name="Unicase Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.unicase.client.application"
            name="UNICASE">
         <property
               name="appName"
               value="UNICASE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="UNICASE is a CASE-Tool integrating models from the different development acitivities, such as requirements, use cases, UML models, schedules, bug and feature models into a unified model. The project is open-source and released under the Eclipse Public License v 1.0 (EPL).&#x0A;&#x0A;More details can be found at the project home-page : &#x0A;http://www.unicase.org">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif,icons/alt_window_48.gif,icons/alt_window_64.gif,icons/alt_window_128.gif">
         </property>
         <property
               name="startupProgressRect"
               value="5,280,556,17">
         </property>
         <property
               name="startupForegroundColor"
               value="000579">
         </property>
         <property
               name="startupMessageRect"
               value="20,252,445,20">
         </property>
      </product>
   </extension>

</plugin>
