<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
     <extension
         point="org.eclipse.ui.views">
      <category
            name="unicase"
            id="org.unicase">
      </category>
      <view
            category="org.unicase"
            class="org.unicase.ui.navigator.TreeView"
            icon="icons/unicase.png"
            id="org.unicase.ui.navigator.viewer"
            name="Unicase Navigator">
      </view>
   </extension>
     <extension
           point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
              targetID="*">
           <viewShortcut
                 id="org.unicase.ui.navigator.viewer">
           </viewShortcut>
        </perspectiveExtension>
     </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.unicase.ui.navigator.viewer"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               standalone="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.unicase.ui.navigator.TreeContentProvider"
            id="org.unicase.ui.navigator.navigatorContent"
            labelProvider="org.unicase.ui.navigator.LabelProvider"
            name="Unicase Content">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.emf.ecore.EObject">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eclipse.emf.ecore.EObject">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.unicase.ui.navigator.viewer">
      </viewer>
      <viewerContentBinding
            viewerId="org.unicase.ui.navigator.viewer">
         <includes>
            <contentExtension
                  pattern="org.unicase.ui.navigator.navigatorContent">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>  -->
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.unicase.ui.navigator.commands.CreateMEHandler"
            id="org.unicase.ui.navigator.createME"
            name="New Model Element">
         <commandParameter
               id="org.unicase.ui.navigator.eClassParameter"
               name="eClassParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.eClassType">
         </commandParameter>
      </command>
      <command
            id="org.unicase.ui.navigator.newMEWizard"
            name="New ModelElement Wizard">
      </command>
      <commandParameterType
            converter="org.unicase.ui.navigator.commands.EClassTypeConverter"
            id="org.unicase.ui.navigator.eClassType"
            type="org.eclipse.emf.ecore.EClass">
      </commandParameterType>
   </extension>
    <!--    -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
         locationURI="popup:org.unicase.ui.navigator.viewer?after=additions">
         <command
               commandId="org.unicase.ui.navigator.newMEWizard"
               label="New model element..."
               style="push">
          <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.unicase.model.document.LeafSection">
                  </instanceof>
               </iterate>
            </visibleWhen> 
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.model.edit.annotateActionItemSeperator">
         <dynamic
               class="org.unicase.ui.navigator.commands.DynamicMECreationCommands"
               id="org.unicase.ui.navigator.dynamicMECreationCommands">
        <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.unicase.model.document.LeafSection">
                  </instanceof>
               </iterate>
            </visibleWhen> 
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.ui.navigator.commands.NewModelElementWizardHandler"
            commandId="org.unicase.ui.navigator.newMEWizard">
      </handler>
   </extension>
  
</plugin>
