<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension-point id="menuconfiguration" name="Menu Configuration" schema="schema/menuconfiguration.exsd"/>
   <extension-point id="org.unicase.ui.navigator.replaceProjectSpaceContentProvider" name="Replace Project Space Provider" schema="schema/org.unicase.ui.navigator.replaceProjectSpaceContentProvider.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.unicase"
            class="org.unicase.ui.navigator.TreeView"
            icon="icons/unicase.png"
            id="org.unicase.ui.navigator.viewer"
            name="Unicase Navigator"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.unicase.ui.navigator.MenuConfigurationEnablementTester"
            id="org.unicase.ui.navigator.menucontributionenablementtester"
            namespace="org.unicase.ui.navigator"
            properties="isActionEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.unicase.ui.navigator.project"
            name="Project and Model Element Commands">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=additions">
         <dynamic
               class="org.unicase.ui.navigator.commands.DynamicContainmentCommands"
               id="org.unicase.ui.navigator.dynamicMECreationCommands">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.unicase.workspace.ProjectSpace">
                        </instanceof>
                        <instanceof
                              value="org.unicase.metamodel.ModelElement">
                        </instanceof>
                     </or>
                     <test
                           args="ContainmentCreationActions"
                           forcePluginActivation="true"
                           property="org.unicase.ui.navigator.isActionEnabled"
                           value="true">
                     </test>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.unicase.ui.navigator"
            defaultHandler="org.unicase.ui.navigator.handler.NewModelElementWizardHandler"
            id="org.unicase.ui.navigator.newModelElementWizard"
            name="New ModelElement Wizard">
         <commandParameter
               id="org.unicase.ui.navigator.eClassParameter"
               name="eClassParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.eClassType">
         </commandParameter>
      </command>
          <command
            defaultHandler="org.unicase.ui.navigator.handler.CreateContainmentHandler"
            description="This generic command is used by dynamic commands to create containment MEs"
            id="org.unicase.ui.navigator.createContaiment"
            name="New Containment ME">
         <commandParameter
               id="org.unicase.ui.navigator.eClassParameter"
               name="eClassParameter"
               optional="true"
               typeId="org.unicase.ui.navigator.eClassType">
         </commandParameter>
  
      </command>
             <command
            defaultHandler="org.unicase.ui.navigator.handler.ImportModelHandler"
            id="org.unicase.ui.navigator.importModel"
            name="Import model">
      </command>

      <command
            defaultHandler="org.unicase.ui.navigator.handler.ChangeAttributeHandler"
            id="org.unicase.ui.navigator.changeAttribute"
            name="Change attribute">
      </command>
      <category
            id="org.unicase.ui.navigator"
            name="Navigator">
      </category>
            <commandParameterType
            converter="org.unicase.ui.navigator.commands.EClassTypeConverter"
            id="org.unicase.ui.navigator.eClassType"
            type="org.eclipse.emf.ecore.EClass">
      </commandParameterType>

   </extension>

</plugin>
