<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.implementation.ui.command.ExtractSuperClass"
            name="Extract Super Class">
      </command>
      <command
            id="org.unicase.implementation.ui.command.InlineClass"
            name="Inline Class">
      </command>
      <command
            id="org.unicase.implementation.ui.command.PartitionAssociatin"
            name="Partition Association">
      </command>
      <command
            id="org.unicase.implementation.ui.command.PushDown"
            name="Push Down">
      </command>
      <command
            id="org.unicase.implementation.ui.command.PullUp"
            name="Pull Up">
      </command>
      <command
            id="org.unicase.implementation.ui.command.InlineSuperClass"
            name="Inline Super Class">
      </command>
      <command
            id="org.unicase.implementation.ui.command.ExtractClass"
            name="Extract Class">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.implementation.ui.ExtractSuperClassHandler"
            commandId="org.unicase.implementation.ui.command.ExtractSuperClass">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.unicase.model.classes.Class">
                  </adapt>
               </iterate>
               <count
                     value="+">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.unicase.implementation.ui.InlineClassHandler"
            commandId="org.unicase.implementation.ui.command.InlineClass">
         <activeWhen>
            <reference
                  definitionId="OneAssociationSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.unicase.implementation.ui.PartitionAssociationHandler"
            commandId="org.unicase.implementation.ui.command.PartitionAssociatin">
         <activeWhen>
            <reference
                  definitionId="OneAssociationSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.unicase.implementation.ui.PushDownAttributeHandler"
            commandId="org.unicase.implementation.ui.command.PushDown">
         <activeWhen>
            <reference
                  definitionId="SeveralAttributesAssociationsSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.unicase.implementation.ui.PushDownClassHandler"
            commandId="org.unicase.implementation.ui.command.PushDown">
         <activeWhen>
            <reference
                  definitionId="OneClassSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.unicase.implementation.ui.PullUpClassHandler"
            commandId="org.unicase.implementation.ui.command.PullUp">
         <activeWhen>
            <reference
                  definitionId="OneClassSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.unicase.implementation.ui.PullUpAttributeHandler"
            commandId="org.unicase.implementation.ui.command.PullUp">
         <activeWhen>
            <reference
                  definitionId="SeveralAttributesAssociationsSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.unicase.implementation.ui.InlineSuperClassHandler"
            commandId="org.unicase.implementation.ui.command.InlineSuperClass">
         <activeWhen>
            <reference
                  definitionId="OneClassSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.unicase.implementation.ui.ExtractClassAttributeHandler"
            commandId="org.unicase.implementation.ui.command.ExtractClass">
         <activeWhen>
            <reference
                  definitionId="SeveralAttributesAssociationsSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.unicase.implementation.ui.ExtractClassClassHandler"
            commandId="org.unicase.implementation.ui.command.ExtractClass">
         <activeWhen>
            <reference
                  definitionId="OneClassSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?before=additions">
         <command
               commandId="org.unicase.implementation.ui.command.ExtractSuperClass"
               label="Extract Super Class"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="SeveralClassesSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.implementation.ui.command.InlineClass"
               label="Inline Class"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="OneAssociationSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.implementation.ui.command.PartitionAssociatin"
               label="Partition Association"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="OneAssociationSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.implementation.ui.command.PushDown"
               label="Push Down"
               style="push">
            <visibleWhen>
               <or>
                  <reference
                        definitionId="OneClassSelected">
                  </reference>
                  <reference
                        definitionId="SeveralAttributesAssociationsSelected">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.implementation.ui.command.PullUp"
               label="Pull Up"
               style="push">
            <visibleWhen>
               <or>
                  <reference
                        definitionId="OneClassSelected">
                  </reference>
                  <reference
                        definitionId="SeveralAttributesAssociationsSelected">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.implementation.ui.command.InlineSuperClass"
               label="Inline Super Class"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="OneClassSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.unicase.implementation.ui.command.ExtractClass"
               label="Extract Class"
               style="push">
            <visibleWhen>
               <or>
                  <reference
                        definitionId="OneClassSelected">
                  </reference>
                  <reference
                        definitionId="SeveralAttributesAssociationsSelected">
                  </reference>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="OneClassSelected">
         <with
               variable="selection">
            <iterate>
               <adapt
                     type="org.unicase.model.classes.Class">
               </adapt>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="SeveralClassesSelected">
         <with
               variable="selection">
            <iterate>
               <adapt
                     type="org.unicase.model.classes.Class">
               </adapt>
            </iterate>
            <count
                  value="+">
            </count>
         </with>
      </definition>
      <definition
            id="OneAssociationSelected">
         <with
               variable="selection">
            <iterate>
               <adapt
                     type="org.unicase.model.classes.Association">
               </adapt>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="SeveralAttributesAssociationsSelected">
         <with
               variable="selection">
            <iterate>
               <or>
                  <adapt
                        type="org.unicase.model.classes.Attribute">
                  </adapt>
                  <adapt
                        type="org.unicase.model.classes.Association">
                  </adapt>
               </or>
            </iterate>
            <count
                  value="+">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.model.codeGeneration.command.generateEcore"
            name="Generate Ecore">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.implementation.ui.GenerateEcoreHandler"
            commandId="org.unicase.model.codeGeneration.command.generateEcore">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.unicase.model.classes.Package">
                  </adapt>
               </iterate>
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?after=org.unicase.ui.common.commands.subscribeToModelElement">
         <command
               commandId="org.unicase.model.codeGeneration.command.generateEcore"
               label="Generate Ecore"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.unicase.model.classes.Package">
                     </adapt>
                  </iterate>
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
