<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.implementation.ui.command.ExtractSuperClass"
            name="Extract Super Class">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.implementation.ui.ExtractSuperClassHandler"
            commandId="org.unicase.implementation.ui.command.ExtractSuperClass">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.unicase.model.classes.Class">
                  </adapt>
               </iterate>
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?before=additions">
         <command
               commandId="org.unicase.implementation.ui.command.ExtractSuperClass"
               label="Extract Super Class"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.unicase.model.classes.Class">
                     </adapt>
                  </iterate>
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.unicase.model.codeGeneration.command.generateEcore"
            name="Generate Ecore">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unicase.implementation.ui.GenerateEcoreHandler"
            commandId="org.unicase.model.codeGeneration.command.generateEcore">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.unicase.model.classes.Package">
                  </adapt>
               </iterate>
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer?before=additions">
         <command
               commandId="org.unicase.model.codeGeneration.command.generateEcore"
               label="Generate Ecore"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.unicase.model.classes.Package">
                     </adapt>
                  </iterate>
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
