<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension-point id="menuconfiguration" name="Menu Configuration" schema="schema/menuconfiguration.exsd"/>
   <extension-point id="org.unicase.ui.navigator.replaceProjectSpaceContentProvider" name="Replace Project Space Provider" schema="schema/org.unicase.ui.navigator.replaceProjectSpaceContentProvider.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.unicase"
            class="org.unicase.ui.navigator.TreeView"
            icon="icons/unicase.png"
            id="org.unicase.ui.navigator.viewer"
            name="Unicase Navigator"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.unicase.ui.navigator.MenuConfigurationEnablementTester"
            id="org.unicase.ui.navigator.menucontributionenablementtester"
            namespace="org.unicase.ui.navigator"
            properties="isActionEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer">
         <command
               commandId="org.unicase.ui.navigator.newModelElementCommand"
               icon="icons/unicase.png"
               label="New ModelElement..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.unicase.workspace.ProjectSpace">
                        </instanceof>
                        <instanceof
                              value="org.unicase.metamodel.ModelElement">
                        </instanceof>
                     </or>
                     <test
                           args="ContainmentCreationActions"
                           forcePluginActivation="true"
                           property="org.unicase.ui.navigator.isActionEnabled"
                           value="true">
                     </test>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.unicase.ui.navigator.project"
            name="Project and Model Element Commands">
      </category>
      <command
            categoryId="org.unicase.ui.navigator.project"
            defaultHandler="org.unicase.ui.navigator.TestHandler"
            id="org.unicase.ui.navigator.newModelElementCommand"
            name="Create new model element...">
      </command>
   </extension>
   <extension
         point="org.unicase.ui.navigator.menuconfiguration">
      <ContainmentCreationActions
            enabled="true">
      </ContainmentCreationActions>
   </extension>

</plugin>
