<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="orga_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="orga_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="org.unicase.model.orga.diagram.part.OrgaDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/OrgaDiagramFile.gif"
         extensions="orga_diagram"
         default="true"
         class="org.unicase.model.orga.diagram.part.OrgaDiagramEditor"
         matchingStrategy="org.unicase.model.orga.diagram.part.OrgaMatchingStrategy"
         contributorClass="org.unicase.model.orga.diagram.part.OrgaDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.unicase.model.orga.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/OrgaDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.unicase.model.orga.diagram.part.OrgaCreationWizard"
  	     id="org.unicase.model.orga.diagram.part.OrgaCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.unicase.orgChart.diagram.InitDiagram"
            nameFilter="*.orga"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.unicase.model.orga.diagram.part.OrgaInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.unicase.orgChart.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="OrgaPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.unicase.model.orga.diagram.part.OrgaDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="OrgaPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.unicase.model.orga.diagram.part.OrgaDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="OrgaRender">
         <Priority name="Lowest"/>
         <ViewId id="org.unicase.model.orga.diagram.part.OrgaDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="org.unicase.model.orga.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.unicase.orgChart.diagram.general"
            name="%prefpage.org.unicase.orgChart.diagram.general"
            class="org.unicase.model.orga.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.unicase.orgChart.diagram.appearance"
            name="%prefpage.org.unicase.orgChart.diagram.appearance"
            category="org.unicase.orgChart.diagram.general"
            class="org.unicase.model.orga.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.unicase.orgChart.diagram.connections"
            name="%prefpage.org.unicase.orgChart.diagram.connections"
            category="org.unicase.orgChart.diagram.general"
            class="org.unicase.model.orga.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.unicase.orgChart.diagram.printing"
            name="%prefpage.org.unicase.orgChart.diagram.printing"
            category="org.unicase.orgChart.diagram.general"
            class="org.unicase.model.orga.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.unicase.orgChart.diagram.rulersAndGrid"
            name="%prefpage.org.unicase.orgChart.diagram.rulersAndGrid"
            category="org.unicase.orgChart.diagram.general"
            class="org.unicase.model.orga.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.unicase.orgChart.diagram"
            labelProvider="org.unicase.model.orga.diagram.sheet.OrgaSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.unicase.orgChart.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.unicase.orgChart.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.unicase.model.orga.diagram.sheet.OrgaPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.unicase.model.orga.diagram.navigator.OrgaAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="org.unicase.model.orga.diagram.providers.OrgaViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Orga"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.unicase.model.orga.diagram.providers.OrgaEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Orga"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.unicase.model.orga.diagram.providers.OrgaModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.unicase.model.orga.diagram.edit.parts.OrgDiagramEditPart" id="OrgDiagram_1000"/>
         <object class="org.unicase.model.orga.diagram.edit.parts.EmployeeEditPart" id="Employee_2001"/>
         <object class="org.unicase.model.orga.diagram.edit.parts.TeamEditPart" id="Team_2002"/>
         <context elements="OrgDiagram_1000,Employee_2001,Team_2002"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.unicase.model.orga.diagram.providers.OrgaIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.unicase.model.orga.diagram.providers.OrgaParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://unicase.org/model/orga">
         <metamodelType
               id="org.unicase.orgChart.diagram.OrgDiagram_1000"
               name="%metatype.name.OrgDiagram_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OrgDiagram"
               edithelper="org.unicase.model.orga.diagram.edit.helpers.OrgDiagramEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/orga">
         <metamodelType
               id="org.unicase.orgChart.diagram.Employee_2001"
               name="%metatype.name.Employee_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Employee"
               edithelper="org.unicase.model.orga.diagram.edit.helpers.EmployeeEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/orga">
         <metamodelType
               id="org.unicase.orgChart.diagram.Team_2002"
               name="%metatype.name.Team_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Team"
               edithelper="org.unicase.model.orga.diagram.edit.helpers.TeamEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://unicase.org/model/orga">
         <specializationType
               id="org.unicase.orgChart.diagram.TeamHasOrgUnit_4001"
               name="%metatype.name.TeamHasOrgUnit_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4001"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.unicase.orgChart.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.unicase.orgChart.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.unicase.orgChart.diagram.TypeContext">
         <elementType ref="org.unicase.orgChart.diagram.OrgDiagram_1000"/>
         <elementType ref="org.unicase.orgChart.diagram.Employee_2001"/>
         <elementType ref="org.unicase.orgChart.diagram.Team_2002"/>
         <elementType ref="org.unicase.orgChart.diagram.TeamHasOrgUnit_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.unicase.orgChart.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.unicase.orgChart.diagram"
           properties="isURIEditorInput"
           class="org.unicase.model.orga.diagram.part.OrgaUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.unicase.orgChart.diagram.resourceContent"/>
			<contentExtension pattern="org.unicase.orgChart.diagram.domainResourceContent"/>
            <contentExtension pattern="org.unicase.orgChart.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.unicase.orgChart.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.unicase.orgChart.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.unicase.model.orga.diagram.navigator.OrgaNavigatorContentProvider" 
            labelProvider="org.unicase.model.orga.diagram.navigator.OrgaNavigatorLabelProvider"
            icon="icons/obj16/OrgaDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="orga_diagram"/>
               </and>
               <instanceof value="org.unicase.model.orga.diagram.navigator.OrgaAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.unicase.model.orga.diagram.navigator.OrgaAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.unicase.orgChart.diagram.navigatorSorter" 
               class="org.unicase.model.orga.diagram.navigator.OrgaNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="orga_diagram"/>
                  </and>
                  <instanceof value="org.unicase.model.orga.diagram.navigator.OrgaAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.unicase.orgChart.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.unicase.model.orga.diagram.navigator.OrgaDomainNavigatorContentProvider" 
            labelProvider="org.unicase.model.orga.diagram.navigator.OrgaDomainNavigatorLabelProvider"
            icon="icons/obj16/OrgaDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="orga"/>
               </and>
               <instanceof value="org.unicase.model.orga.diagram.navigator.OrgaDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.unicase.model.orga.diagram.navigator.OrgaDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.unicase.orgChart.diagram.navigatorActionProvider"
            class="org.unicase.model.orga.diagram.navigator.OrgaNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.unicase.model.orga.diagram.navigator.OrgaAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.unicase.orgChart.diagram.navigatorLinkHelper"
            class="org.unicase.model.orga.diagram.navigator.OrgaNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.unicase.orgChart.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.unicase.model.orga.diagram.navigator.OrgaAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.unicase.model.orga.diagram.part.OrgaDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.unicase.model.orga.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.unicase.model.orga.diagram.updateDiagram"
         contextId="org.unicase.model.orga.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.unicase.orgChart.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.unicase.model.orga.diagram.part.OrgaDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.unicase.model.orga.diagram.edit.parts.OrgDiagramEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.unicase.model.orga.diagram.part.OrgaDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.unicase.orgChart.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="org.unicase.model.orga.diagram.part.OrgaDiagramEditorID"
         defaultHandler="org.unicase.model.orga.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

  <extension
         point="org.unicase.ui.common.modelelementopener">
      <ModelElementOpener
            class="org.unicase.model.orga.diagram.OrgChartDiagramOpener"
            name="org.unicase.ui.MEDiagramEditor">
      </ModelElementOpener>
   </extension>
   
   <extension
                  point="org.eclipse.core.expressions.propertyTesters">
               <propertyTester
                     class="org.unicase.model.orga.diagram.part.DiagramTypeTester"
                     id="org.unicase.model.orga.diagram.part.DiagramTypeTester"
                     namespace="org.unicase.orga"
                     properties="isDiagramType"
                     type="org.eclipse.emf.ecore.EObject">
               </propertyTester>
            </extension>
   <!-- optionally, specify keybindings -->
</plugin>
